<div class="container-fluid container-fluid-max-xl main-content">
	<div class="row">
		<div class="col-12">
			{{breadcrumbs}}
		</div>
	</div>

	<div class="categories-main row">
		<div class="category-heading col-md-8 offset-md-2">
			<h1>
				{{dc 'developer_services-page_heading'}}
			</h1>

			{{#if category.description}}
				<div class="secondary-font secondary-text-color">
					{{category.description}}
				</div>
			{{/if}}
		</div>

		<div class="col-md-8 offset-md-2" id="developerServicesProductPage"></div>
	</div>
</div>

<script>
	$(function() {
		const userTags = window.HelpCenter.user.tags;

		Liferay.render(
			Liferay.ProductTabs,
			{
				fullAccess: Liferay.hasKBPermission(userTags),
				productItems: [
					{
						configs: [
							{
								description: '{{dc 'developer_services-code_samples_card_description'}}',
								name: '{{dc 'developer_services-code_samples_card'}}',
								svgId: '#developer-tutorials',
								url: '/hc/sections/360005979571'
							},
							{
								description: '{{dc 'developer_services-documentation_card_description'}}',
								name: '{{dc 'developer_services-tutorials_card'}}',
								svgId: '#documentation',
								url: '/hc/sections/360005914472'
							},
							{
								description: '{{dc 'developer_services-whitepapers_card_description'}}',
								name: '{{dc '7_1-whitepapers_card'}}',
								svgId: '#knowledge-base',
								url: '/hc/sections/360005979591'
							},
							{
								description: '{{dc 'developer_services-faq_card_description'}}',
								name: '{{dc 'developer_services-faq_card'}}',
								svgId: '#support-faqs',
								url: '/hc/sections/360007596691'
							}
						],
						tabAccess: 'all'
					}
				]
			},
			document.getElementById('developerServicesProductPage')
		);
	});
</script>
