<div class="container-fluid container-fluid-max-xl main-content">
	<div class="row">
		<div class="col-12">
			{{breadcrumbs}}
		</div>
	</div>

	<div class="categories-main row">
		<div class="category-heading col-12">
			<h1>
				{{dc 'mega_menu-documentation'}}
			</h1>

			{{#if category.description}}
				<div class="secondary-font secondary-text-color">
					{{category.description}}
				</div>
			{{/if}}
		</div>

		<div class="col-md-6 section">
			<h2 class="section-name">
				{{dc 'documentation-liferay_dxp_7_2'}}
			</h2>

			<ul class="article-list">
				<li class="article-list-item">
					<a href="/hc/categories/360001750411">{{dc '7_1-deployment_guide_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/categories/360001750451">{{dc '7_1-admin_guide_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/categories/360001751672">{{dc '7_1-developer_tutorials_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/categories/360001771031">{{dc '7_2-application_development_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/categories/360001770352">{{dc '7_2-frameworks_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/categories/360001770372">{{dc '7_2-customization_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/sections/360004640492">{{dc '7_1-admin_reference_card'}}</a>
				</li>
				
				<li class="article-list-item">
					<a href="/hc/articles/360032403572">{{dc '7_1-whitepapers_card'}}</a>
				</li>
			</ul>
		</div>

		<div class="col-md-6 section">
			<h2 class="section-name">
				{{dc 'documentation-liferay_dxp_7_1'}}
			</h2>

			<ul class="article-list">
				<li class="article-list-item">
					<a href="/hc/articles/360019478212">{{dc '7_1-help_topics_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/articles/360016371712">{{dc '7_1-upgrading_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/categories/360000929111">{{dc '7_1-deployment_guide_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/categories/360000929191">{{dc '7_1-admin_guide_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/categories/360000928412">{{dc '7_1-developer_tutorials_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/categories/360000929271">{{dc '7_1-developer_reference_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/categories/360000929311">{{dc '7_1-admin_reference_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/articles/360016371832">{{dc '7_1-whitepapers_card'}}</a>
				</li>
			</ul>
		</div>

		<div class="col-md-6 section">
			<h2 class="section-name">
				{{dc 'documentation-liferay_dxp_7_0'}}
			</h2>

			<ul class="article-list">
				<li class="article-list-item">
					<a href="/hc/articles/360016600391">{{dc '7_1-help_topics_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/articles/360016370912">{{dc '7_1-upgrading_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/categories/360000928292">{{dc '7_1-deployment_guide_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/categories/360000928332">{{dc '7_1-admin_guide_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/categories/360000929211">{{dc '7_1-developer_tutorials_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/categories/360000928432">{{dc '7_1-developer_reference_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/categories/360000929331">{{dc '7_1-admin_reference_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/articles/360016371772">{{dc '7_1-whitepapers_card'}}</a>
				</li>
			</ul>
		</div>

		<div class="col-md-6 section">
			<h2 class="section-name">
				{{dc 'documentation-liferay_dxp_components'}}
			</h2>

			<ul class="article-list">
				<li class="article-list-item">
					<a href="/hc/articles/360018230712">{{dc '7_1-liferay_connected_services_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/articles/360018231572">{{dc '7_1-mobile_experience_platform_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/articles/360014587631">{{dc '7_1-developer_tools_and_frameworks_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/articles/360014400632">{{dc '7_1-liferay_sync_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/articles/360014400932">{{dc '7_1-liferay_enterprise_search_card'}}</a>
				</li>
			</ul>
		</div>

		<div class="col-md-6 section">
			<h2 class="section-name">
				{{dc 'documentation-liferay_commerce'}}
			</h2>

			<ul class="article-list">
				<li class="article-list-item">
					<a href="https://learn.liferay.com/commerce/2.x/en/index.html">{{dc 'mega_menu-documentation'}}</a>
				</li>
				<li class="article-list-item">
					<a href="https://learn.liferay.com/commerce/2.x/en/developer_guide.html">{{dc 'commerce-developer_guide_card'}}</a>
				</li>
			</ul>
		</div>

		<div class="col-md-6 section">
			<h2 class="section-name">
				{{dc 'documentation-liferay_analytics_cloud'}}
			</h2>

			<ul class="article-list">
				<li class="article-list-item">
					<a href="https://learn.liferay.com/analytics-cloud/latest/en/index.html">{{dc '7_1-admin_guide_card'}}</a>
				</li>
			</ul>
		</div>

		<div class="col-md-6 section">
			<h2 class="section-name">
				{{dc 'documentation-liferay_dxp_cloud'}}
			</h2>

			<ul class="article-list">
				<li class="article-list-item">
					<a href="https://learn.liferay.com/dxp-cloud/latest/en/index.html">{{dc 'mega_menu-documentation'}}</a>
				</li>
			</ul>
		</div>

		<div class="col-md-6 section">
			<h2 class="section-name">
				{{dc 'documentation-liferay_portal_6_2'}}
			</h2>

			<ul class="article-list">
				<li class="article-list-item">
					<a href="/hc/categories/360000929131">{{dc '7_1-deployment_guide_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/categories/360000928372">{{dc '7_1-admin_guide_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/categories/360000929231">{{dc '7_1-developer_tutorials_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/categories/360000928452">{{dc '7_1-developer_reference_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/categories/360000929351">{{dc '7_1-admin_reference_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/articles/360018603211">{{dc '7_1-whitepapers_card'}}</a>
				</li>
			</ul>
		</div>

		<div class="col-md-6 section">
			<h2 class="section-name">
				{{dc 'documentation-liferay_portal_6_1'}}
			</h2>

			<ul class="article-list">
				<li class="article-list-item">
					<a href="/hc/categories/360000928392">{{dc '7_1-admin_guide_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/categories/360000929251">{{dc '7_1-developer_tutorials_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/categories/360000929291">{{dc '7_1-developer_reference_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/categories/360000928472">{{dc '7_1-admin_reference_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/articles/360018328012">{{dc '7_1-whitepapers_card'}}</a>
				</li>
			</ul>
		</div>

		<div class="col-md-6 section">
			<h2 class="section-name">
				{{dc 'documentation-liferay_portal_6_0'}}
			</h2>

			<ul class="article-list">
				<li class="article-list-item">
					<a href="/hc/articles/360018333832">{{dc '7_1-admin_guide_card'}}</a>
				</li>
			</ul>
		</div>

		<div class="col-md-6 section">
			<h2 class="section-name">
				{{dc 'documentation-liferay_portal_5_2'}}
			</h2>

			<ul class="article-list">
				<li class="article-list-item">
					<a href="/hc/articles/360018334192">{{dc '7_1-admin_guide_card'}}</a>
				</li>
			</ul>
		</div>
	</div>
</div>
