<div class="container-fluid container-fluid-max-xl main-content">
	<div class="row">
		<div class="col-12">
			{{breadcrumbs}}
		</div>
	</div>

	<div class="categories-main row">
		<div class="category-heading col-12">
			<h1>
				{{dc 'mega_menu-documentation'}}
			</h1>

			{{#if category.description}}
				<p class="secondary-font secondary-text-color">
					{{category.description}}
				</p>
			{{/if}}
		</div>

		<div class="col-md-6 section">
			<h2 class="section-name">
				{{dc 'documentation-liferay_dxp_7_1'}}
			</h2>

			<ul class="article-list">
				<li class="article-list-item">
					<a href="/hc/articles/360019478212">{{dc '7_1-help_topics_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/articles/360016371712">{{dc '7_1-upgrading_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/articles/360017896632">{{dc '7_1-deployment_guide_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/articles/360017892212">{{dc '7_1-admin_guide_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/articles/360017884172">{{dc '7_1-developer_tutorials_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/articles/360017901252">{{dc '7_1-developer_reference_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/articles/360018512392">{{dc '7_1-admin_reference_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/articles/360016371832">{{dc '7_1-whitepapers_card'}}</a>
				</li>
			</ul>
		</div>

		<div class="col-md-6 section">
			<h2 class="section-name">
				{{dc 'documentation-liferay_dxp_7_0'}}
			</h2>

			<ul class="article-list">
				<li class="article-list-item">
					<a href="/hc/articles/360016600391">{{dc '7_1-help_topics_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/articles/360016370912">{{dc '7_1-upgrading_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/articles/360017895772">{{dc '7_1-deployment_guide_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/articles/360017875272">{{dc '7_1-admin_guide_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/articles/360018156791">{{dc '7_1-developer_tutorials_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/articles/360018169251">{{dc '7_1-developer_reference_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/articles/360018156671">{{dc '7_1-admin_reference_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/articles/360016371772">{{dc '7_1-whitepapers_card'}}</a>
				</li>
			</ul>
		</div>

		<div class="col-md-6 section">
			<h2 class="section-name">
				{{dc 'documentation-liferay_dxp_components'}}
			</h2>

			<ul class="article-list">
				<li class="article-list-item">
					<a href="/hc/articles/360018230712">{{dc '7_1-liferay_connected_services_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/articles/360018231572">{{dc '7_1-mobile_experience_platform_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/articles/360014587631">{{dc '7_1-developer_tools_and_frameworks_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/articles/360014400632">{{dc '7_1-liferay_sync_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/articles/360014400932">{{dc '7_1-liferay_enterprise_search_card'}}</a>
				</li>
			</ul>
		</div>

		<div class="col-md-6 section">
			<h2 class="section-name">
				{{dc 'documentation-liferay_commerce'}}
			</h2>

			<ul class="article-list">
				<li class="article-list-item">
					<a href="/hc/articles/360017869952">{{dc '7_1-admin_guide_card'}}</a>
				</li>
				<li class="article-list-item">
					<a href="/hc/articles/360020781932">{{dc 'commerce-developer_guide_card'}}</a>
				</li>
			</ul>
		</div>

		<div class="col-md-6 section">
			<h2 class="section-name">
				{{dc 'documentation-liferay_analytics_cloud'}}
			</h2>

			<ul class="article-list">
				<li class="article-list-item">
					<a href="/hc/articles/360006608732">{{dc '7_1-admin_guide_card'}}</a>
				</li>
			</ul>
		</div>

		<div class="col-md-6 section">
			<h2 class="section-name">
				{{dc 'documentation-liferay_dxp_cloud'}}
			</h2>

			<ul class="article-list">
				<li class="article-list-item">
					<a href="/hc/categories/360001735571">{{dc 'mega_menu-documentation'}}</a>
				</li>
			</ul>
		</div>

		<div class="col-md-6 section">
			<h2 class="section-name">
				{{dc 'documentation-liferay_portal_6_2'}}
			</h2>

			<ul class="article-list">
				<li class="article-list-item">
					<a href="/hc/articles/360017902972">{{dc '7_1-deployment_guide_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/articles/360018183831">{{dc '7_1-admin_guide_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/articles/360017897692">{{dc '7_1-developer_tutorials_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/articles/360018183511">{{dc '7_1-developer_reference_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/articles/360018185371">{{dc '7_1-admin_reference_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/articles/360018603211">{{dc '7_1-whitepapers_card'}}</a>
				</li>
			</ul>
		</div>

		<div class="col-md-6 section">
			<h2 class="section-name">
				{{dc 'documentation-liferay_portal_6_1'}}
			</h2>

			<ul class="article-list">
				<li class="article-list-item">
					<a href="/hc/articles/360018152411">{{dc '7_1-admin_guide_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/articles/360018150591">{{dc '7_1-developer_tutorials_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/articles/360018150571">{{dc '7_1-developer_reference_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/articles/360017875252">{{dc '7_1-admin_reference_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="/hc/articles/360018328012">{{dc '7_1-whitepapers_card'}}</a>
				</li>
			</ul>
		</div>

		<div class="col-md-6 section">
			<h2 class="section-name">
				{{dc 'documentation-liferay_portal_6_0'}}
			</h2>

			<ul class="article-list">
				<li class="article-list-item">
					<a href="/hc/articles/360018333832">{{dc '7_1-admin_guide_card'}}</a>
				</li>
			</ul>
		</div>

		<div class="col-md-6 section">
			<h2 class="section-name">
				{{dc 'documentation-liferay_portal_5_2'}}
			</h2>

			<ul class="article-list">
				<li class="article-list-item">
					<a href="/hc/articles/360018334192">{{dc '7_1-admin_guide_card'}}</a>
				</li>
			</ul>
		</div>
	</div>
</div>