<div class="container-fluid container-fluid-max-xl main-content">
	<div class="row">
		<div class="col-12">
			{{breadcrumbs}}
		</div>
	</div>

	<div class="categories-main row">
		<div class="category-heading col-md-12">
			<h1>
				{{dc '6_0-page_heading'}}
			</h1>

			{{#if category.description}}
				<p class="secondary-font secondary-text-color">
					{{category.description}}
				</p>
			{{/if}}
		</div>

		<div class="col-md-12" id="portal60ProductPage"></div>
	</div>
</div>

<script>
	$(function() {
		const userTags = window.HelpCenter.user.tags;

		Liferay.render(
			Liferay.ProductTabs,
			{
				alert: {
					children: '{{dc '6_0-info_banner'}}',
					leadingText: '{{dc '6_2-info'}}'
				},
				fullAccess: Liferay.hasKBPermission(userTags),
				productItems: [
					{
						configs: [
							{
								description: '{{dc '6_0-compatibility_matrix_card_description'}}',
								name: '{{dc 'mega_menu-compatibility_matrix'}}',
								svgId: '#compatibility-matrix',
								url: '/hc/articles/360016590351'
							},
							{
								description: '{{dc '6_0-downloads_card_description'}}',
								name: '{{dc 'mega_menu-downloads'}}',
								svgId: '#latest-release',
								url: 'https://customer.liferay.com/downloads?_com_liferay_osb_customer_downloads_display_web_DownloadsDisplayPortlet_formDate=1542818320863&p_p_id=com_liferay_osb_customer_downloads_display_web_DownloadsDisplayPortlet&p_p_lifecycle=0&p_p_state=normal&p_p_mode=view&_com_liferay_osb_customer_downloads_display_web_DownloadsDisplayPortlet_product=portal_60&_com_liferay_osb_customer_downloads_display_web_DownloadsDisplayPortlet_fileType=product'
							},
							{
								description: '{{dc '6_2-activation_keys_card_description'}}',
								name: '{{dc 'mega_menu-activation_keys'}}',
								svgId: '#server-activation',
								url: 'https://customer.liferay.com/activation-key'
							},
							{
								description: '{{dc '6_0-documentation_card_description'}}',
								name: '{{dc 'mega_menu-documentation'}}',
								svgId: '#admin-guide',
								url: '/hc/articles/360018333832'
							}
						],
						tabAccess: 'kb'
					}
				]
			},
			document.getElementById('portal60ProductPage')
		);
	});
</script>