<div class="container-fluid container-fluid-max-xl main-content">
	<div class="row">
		<div class="col-12">
			{{breadcrumbs}}
		</div>
	</div>

	<div class="categories-main row">
		<div class="category-heading col-md-12">
			<h1>
				{{dc '7_1-page_heading'}}
			</h1>

			{{#if category.description}}
				<p class="secondary-font secondary-text-color">
					{{category.description}}
				</p>
			{{/if}}
		</div>

		<div class="col-md-12" id="dxp71ProductPage"></div>
	</div>
</div>

<script>
	$(function() {
		const userTags = window.HelpCenter.user.tags;

		Liferay.render(
			Liferay.ProductTabs,
			{
				fullAccess: Liferay.hasKBPermission(userTags),
				productItems: [
					{
						name: '{{dc '7_1-top_resources_tab'}}',
						configs: [
							{
								description: '{{dc '7_1-latest_release_card_description'}}',
								name: '{{dc '7_1-latest_release_card'}}',
								svgId: '#latest-release',
								url: 'https://customer.liferay.com/downloads?p_p_id=com_liferay_osb_customer_downloads_display_web_DownloadsDisplayPortlet&p_p_lifecycle=0&p_p_state=normal&p_p_mode=view&_com_liferay_osb_customer_downloads_display_web_DownloadsDisplayPortlet_mvcRenderCommandName=%2Fview&_com_liferay_osb_customer_downloads_display_web_DownloadsDisplayPortlet_journalArticleResourcePrimKey=6546225'
							},
							{
								description: '{{dc '7_1-compatibility_matrix_card_description'}}',
								name: '{{dc 'mega_menu-compatibility_matrix'}}',
								svgId: '#compatibility-matrix',
								url: '/hc/articles/360016285432'
							},
							{
								description: '{{dc '7_1-fix_packs_card_description'}}',
								name: '{{dc '7_1-fix_packs_card'}}',
								svgId: '#fixpack',
								url: 'https://customer.liferay.com/downloads?_com_liferay_osb_customer_downloads_display_web_DownloadsDisplayPortlet_formDate=1541544150388&p_p_id=com_liferay_osb_customer_downloads_display_web_DownloadsDisplayPortlet&p_p_lifecycle=0&p_p_state=normal&p_p_mode=view&_com_liferay_osb_customer_downloads_display_web_DownloadsDisplayPortlet_product=dxp_71&_com_liferay_osb_customer_downloads_display_web_DownloadsDisplayPortlet_fileType=fixPacks'
							},
							{
								description: '{{dc '7_1-activation_keys_card_description'}}',
								name: '{{dc 'mega_menu-activation_keys'}}',
								svgId: '#server-activation',
								url: 'https://customer.liferay.com/activation-key'
							},
							{
								description: '{{dc '7_1-upgrading_card_description'}}',
								name: '{{dc '7_1-upgrading_card'}}',
								svgId: '#upgrading',
								url: '/hc/articles/360016371712'
							},
							{
								description: '{{dc '7_1-security_advisories_card_description'}}',
								name: '{{dc 'mega_menu-security_advisories'}}',
								svgId: '#security-advisories',
								url: 'https://customer.liferay.com/downloads?_com_liferay_osb_customer_downloads_display_web_DownloadsDisplayPortlet_formDate=1541544899395&p_p_id=com_liferay_osb_customer_downloads_display_web_DownloadsDisplayPortlet&p_p_lifecycle=0&p_p_state=normal&p_p_mode=view&_com_liferay_osb_customer_downloads_display_web_DownloadsDisplayPortlet_product=dxp_71&_com_liferay_osb_customer_downloads_display_web_DownloadsDisplayPortlet_fileType=security'
							}
						],
						tabAccess: 'kb'
					},
					{
						name: '{{dc 'mega_menu-downloads'}}',
						configs: [
							{
								description: '{{dc '7_1-latest_release_card_description'}}',
								name: '{{dc '7_1-latest_release_card'}}',
								svgId: '#latest-release',
								url: ''
							},
							{
								description: '{{dc '7_1-fix_packs_card_description'}}',
								name: '{{dc '7_1-fix_packs_card'}}',
								svgId: '#fixpack',
								url: 'https://customer.liferay.com/downloads?_com_liferay_osb_customer_downloads_display_web_DownloadsDisplayPortlet_formDate=1541544150388&p_p_id=com_liferay_osb_customer_downloads_display_web_DownloadsDisplayPortlet&p_p_lifecycle=0&p_p_state=normal&p_p_mode=view&_com_liferay_osb_customer_downloads_display_web_DownloadsDisplayPortlet_product=dxp_71&_com_liferay_osb_customer_downloads_display_web_DownloadsDisplayPortlet_fileType=fixPacks'
							},
							{
								description: '{{dc '7_1-service_packs_archive_card_description'}}',
								name: '{{dc '7_1-service_packs_archive_card'}}',
								svgId: '#service-pack-archive',
								url: 'https://customer.liferay.com/downloads?_com_liferay_osb_customer_downloads_display_web_DownloadsDisplayPortlet_formDate=1541544915133&p_p_id=com_liferay_osb_customer_downloads_display_web_DownloadsDisplayPortlet&p_p_lifecycle=0&p_p_state=normal&p_p_mode=view&_com_liferay_osb_customer_downloads_display_web_DownloadsDisplayPortlet_product=dxp_71&_com_liferay_osb_customer_downloads_display_web_DownloadsDisplayPortlet_fileType=product'
							},
							{
								description: '{{dc '7_1-security_advisories_card_description'}}',
								name: '{{dc 'mega_menu-security_advisories'}}',
								svgId: '#security-advisories',
								url: 'https://customer.liferay.com/downloads?_com_liferay_osb_customer_downloads_display_web_DownloadsDisplayPortlet_formDate=1541544899395&p_p_id=com_liferay_osb_customer_downloads_display_web_DownloadsDisplayPortlet&p_p_lifecycle=0&p_p_state=normal&p_p_mode=view&_com_liferay_osb_customer_downloads_display_web_DownloadsDisplayPortlet_product=dxp_71&_com_liferay_osb_customer_downloads_display_web_DownloadsDisplayPortlet_fileType=security'
							},
							{
								description: '{{dc '7_1-patching_tool_card_description'}}',
								name: '{{dc '7_1-patching_tool_card'}}',
								svgId: '#patching-tool',
								url: 'https://customer.liferay.com/downloads?_com_liferay_osb_customer_downloads_display_web_DownloadsDisplayPortlet_formDate=1541544924558&p_p_id=com_liferay_osb_customer_downloads_display_web_DownloadsDisplayPortlet&p_p_lifecycle=0&p_p_state=normal&p_p_mode=view&_com_liferay_osb_customer_downloads_display_web_DownloadsDisplayPortlet_product=patchingTool&_com_liferay_osb_customer_downloads_display_web_DownloadsDisplayPortlet_fileType=product'
							}
						],
						tabAccess: 'kb'
					},
					{
						name: '{{dc 'mega_menu-documentation'}}',
						configs: [
							{
								description: '{{dc '7_1-help_topics_card_description'}}',
								name: '{{dc '7_1-help_topics_card'}}',
								svgId: '#help-topics',
								url: '/hc/articles/360016600651'
							},
							{
								description: '{{dc '7_1-upgrading_card_description'}}',
								name: '{{dc '7_1-upgrading_card'}}',
								svgId: '#upgrading',
								url: '/hc/articles/360016371712'
							},
							{
								description: '{{dc '7_1-deployment_guide_card_description'}}',
								name: '{{dc '7_1-deployment_guide_card'}}',
								svgId: '#deployment-guide',
								url: '/hc/articles/360017896632'
							},
							{
								description: '{{dc '7_1-admin_guide_card_description'}}',
								name: '{{dc '7_1-admin_guide_card'}}',
								svgId: '#admin-guide',
								url: '/hc/articles/360017892212'
							},
							{
								description: "{{dc '7_1-developer_tutorials_card_description'}}",
								name: '{{dc '7_1-developer_tutorials_card'}}',
								svgId: '#developer-tutorials',
								url: '/hc/articles/360017884172'
							},
							{
								description: '{{dc '7_1-developer_reference_card_description'}}',
								name: '{{dc '7_1-developer_reference_card'}}',
								svgId: '#developer-reference',
								url: '/hc/articles/360017901252'
							},
							{
								description: '{{dc '7_1-admin_reference_card_description'}}',
								name: '{{dc '7_1-admin_reference_card'}}',
								svgId: '#admin-configuration-reference',
								url: '/hc/articles/360018512392'
							},
							{
								description: '{{dc '7_1-whitepapers_card_description'}}',
								name: '{{dc '7_1-whitepapers_card'}}',
								svgId: '#whitepapers',
								url: '/hc/articles/360016371832'
							}
						],
						tabAccess: 'all'
					},
					{
						name: '{{dc '7_1-support_information_tab'}}',
						configs: [
							{
								description: '{{dc '7_1-compatibility_matrix_card_description'}}',
								name: '{{dc 'mega_menu-compatibility_matrix'}}',
								svgId: '#compatibility-matrix',
								url: '/hc/articles/360016285432'
							},
							{
								description: '{{dc '7_1-service_life_card_description'}}',
								name: '{{dc 'mega_menu-service_life'}}',
								svgId: '#service-life',
								url: '/hc/articles/360016295472'
							},
							{
								description: '{{dc '7_1-fix_delivery_method_card_description'}}',
								name: '{{dc 'mega_menu-fix_delivery_method'}}',
								svgId: '#fix-delivery-method',
								url: '/hc/articles/360016515831'
							},
							{
								description: '{{dc '7_1-support_coverage_card_description'}}',
								name: '{{dc 'mega_menu-support_coverage'}}',
								svgId: '#support-coverage',
								url: '/hc/articles/360018692652'
							},
							{
								description: '{{dc '7_1-support_faqs_card_description'}}',
								name: '{{dc 'mega_menu-support_faqs'}}',
								svgId: '#support-faqs',
								url: '/hc/articles/360015994791'
							},
							{
								description: '{{dc '7_1-service_levels_card_description'}}',
								name: '{{dc 'mega_menu-service_levels'}}',
								svgId: '#service-levels',
								url: '/hc/articles/360016510271'
							}
						],
						tabAccess: 'kb'
					},
					{
						name: '{{dc '7_1-components_tab'}}',
						configs: [
							{
								description: '{{dc '7_1-liferay_connected_services_card_description'}}',
								name: '{{dc '7_1-liferay_connected_services_card'}}',
								svgId: '#connected-services',
								url: '/hc/articles/360018230712'
							},
							{
								description: '{{dc '7_1-mobile_experience_platform_card_description'}}',
								name: '{{dc '7_1-mobile_experience_platform_card'}}',
								svgId: '#mobile-sdk',
								url: '/hc/articles/360018231572'
							},
							{
								description: '{{dc '7_1-developer_tools_and_frameworks_card_description'}}',
								name: '{{dc '7_1-developer_tools_and_frameworks_card'}}',
								svgId: '#developer-tools-frameworks',
								url: '/hc/articles/360014587631'
							},
							{
								description: '{{dc '7_1-liferay_sync_card_description'}}',
								name: '{{dc '7_1-liferay_sync_card'}}',
								svgId: '#sync',
								url: '/hc/articles/360014400632'
							},
							{
								description: '{{dc '7_1-liferay_enterprise_search_card_description'}}',
								name: '{{dc '7_1-liferay_enterprise_search_card'}}',
								svgId: '#enterprise-search',
								url: '/hc/articles/360014400932'
							}
						],
						tabAccess: 'kb'
					}
				]
			},
			document.getElementById('dxp71ProductPage')
		);
	});
</script>