<div class="container-fluid container-fluid-max-xl main-content">
	<div class="row">
		<div class="col-12">
			{{breadcrumbs}}
		</div>
	</div>

	<div class="categories-main row">
		<div class="category-heading col-md-12">
			<h1>
				{{dc '7_0-page_heading'}}
			</h1>

			{{#if category.description}}
				<p class="secondary-font secondary-text-color">
					{{category.description}}
				</p>
			{{/if}}
		</div>

		<div class="col-md-12" id="dxp70ProductPage"></div>
	</div>
</div>

<script>
	$(function() {
		const userTags = window.HelpCenter.user.tags;

		Liferay.render(
			Liferay.ProductTabs,
			{
				kbPermission: Liferay.hasKBPermission(userTags),
				productItems: [
					{
						name: '{{dc '7_1-top_resources_tab'}}',
						configs: [
							{
								description: '{{dc '7_0-latest_release_card_description'}}',
								name: '{{dc '7_1-latest_release_card'}}',
								svgId: '#dxp-logo',
								url: ''
							},
							{
								description: '{{dc '7_0-compatibility_matrix_card_description'}}',
								name: '{{dc 'mega_menu-compatibility_matrix'}}',
								svgId: '#compatibility-matrix',
								url: ''
							},
							{
								description: '{{dc '7_1-fix_packs_card_description'}}',
								name: '{{dc '7_1-fix_packs_card'}}',
								svgId: '#dxp-logo',
								url: ''
							},
							{
								description: '{{dc '7_1-activation_keys_card_description'}}',
								name: '{{dc 'mega_menu-activation_keys'}}',
								svgId: '#dxp-logo',
								url: ''
							},
							{
								description: '{{dc '7_0-upgrading_card_description'}}',
								name: '{{dc '7_1-upgrading_card'}}',
								svgId: '#dxp-logo',
								url: ''
							},
							{
								description: '{{dc '7_1-security_advisories_card_description'}}',
								name: '{{dc 'mega_menu-security_advisories'}}',
								svgId: '#security-advisories',
								url: ''
							}
						]
					},
					{
						name: '{{dc 'mega_menu-downloads'}}',
						configs: [
							{
								description: '{{dc '7_0-latest_release_card_description'}}',
								name: '{{dc '7_1-latest_release_card'}}',
								svgId: '#6-1-logo',
								url: ''
							},
							{
								description: '{{dc '7_1-fix_packs_card_description'}}',
								name: '{{dc '7_1-fix_packs_card'}}',
								svgId: '#6-1-logo',
								url: ''
							},
							{
								description: '{{dc '7_0-service_packs_archive_card_description'}}',
								name: '{{dc '7_1-service_packs_archive_card'}}',
								svgId: '#6-1-logo',
								url: ''
							},
							{
								description: '{{dc '7_1-security_advisories_card_description'}}',
								name: '{{dc 'mega_menu-security_advisories'}}',
								svgId: '#security-advisories',
								url: ''
							},
							{
								description: '{{dc '7_0-patching_tool_card_description'}}',
								name: '{{dc '7_1-patching_tool_card'}}',
								svgId: '#6-1-logo',
								url: ''
							}
						]
					},
					{
						name: '{{dc 'mega_menu-documentation'}}',
						configs: [
							{
								description: '{{dc '7_1-help_topics_card_description'}}',
								name: '{{dc '7_1-help_topics_card'}}',
								svgId: '#6-2-logo',
								url: ''
							},
							{
								description: '{{dc '7_0-upgrading_card_description'}}',
								name: '{{dc '7_1-upgrading_card'}}',
								svgId: '#6-2-logo',
								url: ''
							},
							{
								description: '{{dc '7_0-deployment_guide_card_description'}}',
								name: '{{dc '7_1-deployment_guide_card'}}',
								svgId: '#6-2-logo',
								url: ''
							},
							{
								description: '{{dc '7_0-admin_guide_card_description'}}',
								name: '{{dc '7_1-admin_guide_card'}}',
								svgId: '#admin-guide',
								url: ''
							},
							{
								description: `{{dc '7_1-developer_tutorials_card_description'}}`,
								name: '{{dc '7_1-developer_tutorials_card'}}',
								svgId: '#6-2-logo',
								url: ''
							},
							{
								description: '{{dc '7_1-developer_reference_card_description'}}',
								name: '{{dc '7_1-developer_reference_card'}}',
								svgId: '#6-2-logo',
								url: ''
							},
							{
								description: '{{dc '7_1-admin_reference_card_description'}}',
								name: '{{dc '7_1-admin_reference_card'}}',
								svgId: '#6-2-logo',
								url: ''
							},
							{
								description: '{{dc '7_1-whitepapers_card_description'}}',
								name: '{{dc '7_1-whitepapers_card'}}',
								svgId: '#6-2-logo',
								url: ''
							}
						]
					},
					{
						name: '{{dc '7_1-support_information_tab'}}',
						configs: [
							{
								description: '{{dc '7_0-compatibility_matrix_card_description'}}',
								name: '{{dc 'mega_menu-compatibility_matrix'}}',
								svgId: '#compatibility-matrix',
								url: ''
							},
							{
								description: '{{dc '7_0-service_life_card_description'}}',
								name: '{{dc 'mega_menu-service_life'}}',
								svgId: '#6-0-logo',
								url: ''
							},
							{
								description: '{{dc '7_1-fix_delivery_method_card_description'}}',
								name: '{{dc 'mega_menu-fix_delivery_method'}}',
								svgId: '#6-0-logo',
								url: ''
							},
							{
								description: '{{dc '7_1-support_coverage_card_description'}}',
								name: '{{dc 'mega_menu-support_coverage'}}',
								svgId: '#support-coverage',
								url: ''
							},
							{
								description: '{{dc '7_1-support_faqs_card_description'}}',
								name: '{{dc 'mega_menu-support_faqs'}}',
								svgId: '#support-faqs',
								url: ''
							},
							{
								description: '{{dc '7_1-service_levels_card_description'}}',
								name: '{{dc 'mega_menu-service_levels'}}',
								svgId: '#6-0-logo',
								url: ''
							}
						]
					},
					{
						name: '{{dc '7_1-components_tab'}}',
						configs: [
							{
								description: '{{dc '7_1-liferay_connected_services_card_description'}}',
								name: '{{dc '7_1-liferay_connected_services_card'}}',
								svgId: '#6-1-logo',
								url: ''
							},
							{
								description: '{{dc '7_1-mobile_experience_platform_card_description'}}',
								name: '{{dc '7_1-mobile_experience_platform_card'}}',
								svgId: '#6-1-logo',
								url: ''
							},
							{
								description: '{{dc '7_1-developer_tools_and_frameworks_card_description'}}',
								name: '{{dc '7_1-developer_tools_and_frameworks_card'}}',
								svgId: '#6-1-logo',
								url: ''
							},
							{
								description: '{{dc '7_1-liferay_sync_card_description'}}',
								name: '{{dc '7_1-liferay_sync_card'}}',
								svgId: '#6-1-logo',
								url: ''
							},
							{
								description: '{{dc '7_1-liferay_enterprise_search_card_description'}}',
								name: '{{dc '7_1-liferay_enterprise_search_card'}}',
								svgId: '#6-1-logo',
								url: ''
							}
						]
					}
				]
			},
			document.getElementById('dxp70ProductPage')
		);
	});
</script>