<div class="container-fluid container-fluid-max-xl main-content">
	<div class="row">
		<div class="col-12">
			{{breadcrumbs}}
		</div>
	</div>

	<div class="categories-main row">
		<div class="category-heading col-md-12">
			<h1>
				{{dc 'analytics_cloud'}}
			</h1>

			{{#if category.description}}
				<p class="secondary-font secondary-text-color">
					{{category.description}}
				</p>
			{{/if}}
		</div>

		<div class="col-md-12" id="analyticsCloudProductPage"></div>
	</div>
</div>

<script>
	Liferay.render(
		Liferay.CardMenu,
		{
			className: 'products-landing',
			configs: [
				{
					description: '{{dc 'analytics_cloud-getting_started_card_description'}}',
					name: '{{dc 'analytics_cloud-getting_started_card'}}',
					svgId: '#getting-started',
					url: '/hc/articles/360006610492'
				},
				{
					description: '{{dc 'analytics_cloud-feature_requests_card_description'}}',
					name: '{{dc 'analytics_cloud-feature_requests_card'}}',
					svgId: '#feature-requests',
					url: '/hc/articles/360015345972'
				},
				{
					description: '{{dc 'analytics_cloud-known_issues_card_description'}}',
					name: '{{dc 'analytics_cloud-known_issues_card'}}',
					svgId: '#known-issues',
					url: '/hc/articles/360005556592'
				},
				{
					description: '{{dc 'analytics_cloud-admin_guide_card_description'}}',
					name: '{{dc '7_1-admin_guide_card'}}',
					svgId: '#admin-guide',
					url: '/hc/articles/360004923432'
				},
				{
					description: '{{dc 'analytics_cloud-support_coverage_card_description'}}',
					name: '{{dc 'mega_menu-support_coverage'}}',
					svgId: '#support-coverage',
					url: '/hc/articles/360015347232'
				}
			]
		},
		document.getElementById('analyticsCloudProductPage')
	);
</script>