<div class="container-fluid container-fluid-max-xl main-content">
	<div class="row">
		<div class="col-12">
			{{breadcrumbs}}
		</div>
	</div>

	<div class="categories-main row">
		<div class="category-heading col-md-12">
			<h1>
				{{dc '6_0-page_heading'}}
			</h1>

			{{#if category.description}}
				<p class="secondary-font secondary-text-color">
					{{category.description}}
				</p>
			{{/if}}
		</div>

		<div id="portal60ProductPage"></div>
	</div>
</div>

<script>
	Liferay.render(
		Liferay.Alert,
		{
			children: '{{dc '6_0-info_banner'}}',
			leadingText: '{{dc '6_2-info'}}'
		},
		document.getElementById('portal60ProductPage')
	);
</script>