<div class="container-fluid container-fluid-max-xl main-content">
	<div class="row">
		<div class="col-12">
			{{breadcrumbs}}
		</div>
	</div>

	<div class="categories-main row">
		<div class="category-heading col-md-12">
			<h1>
				{{dc '7_0-page_heading'}}
			</h1>

			{{#if category.description}}
				<p class="secondary-font secondary-text-color">
					{{category.description}}
				</p>
			{{/if}}
		</div>

		<div id="dxp70ProductPage"></div>
	</div>
</div>

<script>
	Liferay.render(
		Liferay.ProductTabs,
		{
			productItems: [
				{
					name: '{{dc '7_1-top_resources_tab'}}',
					configs: [
						{
							description: '{{dc '5_2-compatibility_matrix_card_description'}}',
							name: '{{dc 'mega_menu-compatibility_matrix'}}',
							svgId: '#dxp-logo',
							url: ''
						},
						{
							description: '{{dc '5_2-downloads_card_description'}}',
							name: '{{dc 'mega_menu-downloads'}}',
							svgId: '#dxp-logo',
							url: ''
						},
						{
							description: '{{dc '6_2-activation_keys_card_description'}}',
							name: '{{dc 'mega_menu-activation_keys'}}',
							svgId: '#dxp-logo',
							url: ''
						},
						{
							description: '{{dc '5_2-documentation_card_description'}}',
							name: '{{dc 'mega_menu-documentation'}}',
							svgId: '#dxp-logo',
							url: ''
						}
					]
				},
				{
					name: '{{dc 'mega_menu-downloads'}}',
					configs: [
						{
							description: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id.',
							name: 'Lorem, ipsum dolor.',
							svgId: '#6-1-logo',
							url: ''
						},
						{
							description: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id.',
							name: 'Lorem, ipsum dolor.',
							svgId: '#6-1-logo',
							url: ''
						},
						{
							description: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id.',
							name: 'Lorem, ipsum dolor.',
							svgId: '#6-1-logo',
							url: ''
						},
						{
							description: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id.',
							name: 'Lorem, ipsum dolor.',
							svgId: '#6-1-logo',
							url: ''
						}
					]
				},
				{
					name: '{{dc 'mega_menu-documentation'}}',
					configs: [
						{
							description: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id.',
							name: 'Lorem, ipsum dolor.',
							svgId: '#6-2-logo',
							url: ''
						},
						{
							description: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id.',
							name: 'Lorem, ipsum dolor.',
							svgId: '#6-2-logo',
							url: ''
						},
						{
							description: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id.',
							name: 'Lorem, ipsum dolor.',
							svgId: '#6-2-logo',
							url: ''
						},
						{
							description: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id.',
							name: 'Lorem, ipsum dolor.',
							svgId: '#6-2-logo',
							url: ''
						}
					]
				},
				{
					name: '{{dc '7_1-support_information_tab'}}',
					configs: [
						{
							description: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id.',
							name: 'Lorem, ipsum dolor.',
							svgId: '#6-0-logo',
							url: ''
						},
						{
							description: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id.',
							name: 'Lorem, ipsum dolor.',
							svgId: '#6-0-logo',
							url: ''
						},
						{
							description: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id.',
							name: 'Lorem, ipsum dolor.',
							svgId: '#6-0-logo',
							url: ''
						},
						{
							description: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id.',
							name: 'Lorem, ipsum dolor.',
							svgId: '#6-0-logo',
							url: ''
						}
					]
				},
				{
					name: '{{dc '7_1-components_tab'}}',
					configs: [
						{
							description: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id.',
							name: 'Lorem ipsum dolor sit amet.',
							svgId: '#6-1-logo',
							url: ''
						},
						{
							description: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id.',
							name: 'Lorem, ipsum dolor.',
							svgId: '#6-1-logo',
							url: ''
						},
						{
							description: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id.',
							name: 'Lorem, ipsum dolor.',
							svgId: '#6-1-logo',
							url: ''
						},
						{
							description: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id.',
							name: 'Lorem, ipsum dolor.',
							svgId: '#6-1-logo',
							url: ''
						}
					]
				}
			]
		},
		document.getElementById('dxp70ProductPage')
	);
</script>