<div class="container-fluid container-fluid-max-xl main-content">
	<div class="row">
		<div class="col-12">
			{{breadcrumbs}}
		</div>
	</div>

	<div class="categories-main row">
		<div class="category-heading col-md-8 offset-md-2">
			<h1>
				{{dc 'commerce-page_heading'}}
			</h1>

			{{#if category.description}}
				<div class="secondary-font secondary-text-color">
					{{category.description}}
				</div>
			{{/if}}
		</div>

		<div class="col-md-8 offset-md-2" id="commerceProductPage"></div>
	</div>
</div>

<script>
	domLoaded(function() {
		const userTags = window.HelpCenter.user.tags;

		const documentElementLang = document.documentElement.lang;
		
		var alertChildren = null;
  
		if ('{{help_center.locale}}' === 'ja') {
			alertChildren = {
				children: '{{dc 'commerce-japanese_banner_description'}}',
				linkText: '{{dc 'commerce-japanese_banner_cta'}}',
  				url: "/hc/ja/articles/360042680911"
			};
 		}

		Liferay.render(
			Liferay.ProductTabs,
			{
				alert: alertChildren,
				fullAccess: Liferay.hasKBPermission(userTags),
				productItems: [
					{
						configs: [
							{
								description: '{{dc 'commerce-latest_release_card_description'}}',
								name: '{{dc '7_1-latest_release_card'}}',
								svgId: '#latest-release',
								url: Liferay.addLocaleParamToURI(documentElementLang, 'downloads?p_p_id=com_liferay_osb_customer_downloads_display_web_DownloadsDisplayPortlet&_com_liferay_osb_customer_downloads_display_web_DownloadsDisplayPortlet_productAssetCategoryId=118190997&_com_liferay_osb_customer_downloads_display_web_DownloadsDisplayPortlet_fileTypeAssetCategoryId=118191001')
							},
							{
								description: '{{dc 'commerce-compatibility_matrix_card_description'}}',
								name: '{{dc 'mega_menu-compatibility_matrix'}}',
								svgId: '#compatibility-matrix',
								url: '/hc/articles/4411310034829'
							},
							{
								description: '{{dc 'commerce-admin_guide_card_description'}}',
								name: '{{dc 'mega_menu-documentation'}}',
								svgId: '#getting-started',
								url: 'https://learn.liferay.com/commerce/latest/en/index.html'
							},
							{
								description: '{{dc 'commerce-developer_guide_card_description'}}',
								name: '{{dc 'commerce-developer_guide_card'}}',
								svgId: '#developer-reference',
								url: 'https://learn.liferay.com/commerce/latest/en/developer-guide.html'
							},
							{
								description: '{{dc 'commerce-service_life_card_description'}}',
								name: '{{dc 'mega_menu-service_life'}}',
								svgId: '#service-life',
								url: '/hc/articles/4412310932109'
							},
							{
								description: '{{dc 'commerce-support_coverage_card_description'}}',
								name: '{{dc 'mega_menu-support_coverage'}}',
								svgId: '#support-coverage',
								url: '/hc/categories/360000892912-Support-Coverage'
							}
						],
						tabAccess: 'all'
					}
				]
			},
			document.getElementById('commerceProductPage')
		);
	});
</script>
