<div class="container-fluid container-fluid-max-xl main-content">
	<div class="row">
		<div class="col-12">
			{{breadcrumbs}}
		</div>
	</div>

	<div class="categories-main row">
		<div class="category-heading col-md-12">
			<h1>
				{{dc '5_2-page_heading'}}
			</h1>

			{{#if category.description}}
				<p class="secondary-font secondary-text-color">
					{{category.description}}
				</p>
			{{/if}}
		</div>

		<div class="col-md-12" id="portal52ProductPageAlert"></div>

		<div class="col-md-12" id="portal52ProductPage"></div>
	</div>
</div>

<script>
	$(function() {
		const userTags = window.HelpCenter.user.tags;

		Liferay.render(
			Liferay.ProductTabs,
			{
				fullAccess: Liferay.hasKBPermission(userTags),
				productItems: [
					{
						configs: [
							{
								description: '{{dc '5_2-compatibility_matrix_card_description'}}',
								name: '{{dc 'mega_menu-compatibility_matrix'}}',
								svgId: '#compatibility-matrix',
								url: '/hc/articles/360016363772'
							},
							{
								description: '{{dc '5_2-downloads_card_description'}}',
								name: '{{dc 'mega_menu-downloads'}}',
								svgId: '#latest-release',
								url: ''
							},
							{
								description: '{{dc '6_2-activation_keys_card_description'}}',
								name: '{{dc 'mega_menu-activation_keys'}}',
								svgId: '#server-activation',
								url: 'https://customer.liferay.com/activation-key'
							},
							{
								description: '{{dc '5_2-documentation_card_description'}}',
								name: '{{dc 'mega_menu-documentation'}}',
								svgId: '#admin-guide',
								url: '/hc/articles/360018334192'
							}
						],
						tabAccess: 'kb'
					}
				]
			},
			document.getElementById('portal52ProductPage')
		);
	});

	Liferay.render(
		Liferay.Alert,
		{
			children: '{{dc '5_2-info_banner'}}',
			leadingText: '{{dc '6_2-info'}}'
		},
		document.getElementById('portal52ProductPageAlert')
	);
</script>