<div class="container-fluid container-fluid-max-xl main-content">
	<div class="row">
		<div class="col-12">
			{{breadcrumbs}}
		</div>
	</div>

	<div class="categories-main row">
		<div class="category-heading col-12">
			<h1>
				{{dc 'mega_menu-documentation'}}
			</h1>

			{{#if category.description}}
				<p class="secondary-font secondary-text-color">
					{{category.description}}
				</p>
			{{/if}}
		</div>

		<div class="col-md-6 section">
			<h2 class="section-name">
				{{dc 'mega_menu-dxp_7_1'}}
			</h2>

			<ul class="article-list">
				<li class="article-list-item">
					<a href="">{{dc '7_1-help_topics_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="">{{dc '7_1-upgrading_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="">{{dc '7_1-deployment_guide_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="">{{dc '7_1-admin_guide_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="">{{dc '7_1-development_tutorials_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="">{{dc '7_1-development_reference_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="">{{dc '7_1-configuration_reference_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="">{{dc '7_1-whitepapers_card'}}</a>
				</li>
			</ul>
		</div>

		<div class="col-md-6 section">
			<h2 class="section-name">
				{{dc 'mega_menu-dxp_7_0'}}
			</h2>

			<ul class="article-list">
				<li class="article-list-item">
					<a href="">{{dc '7_1-help_topics_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="">{{dc '7_1-upgrading_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="">{{dc '7_1-deployment_guide_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="">{{dc '7_1-admin_guide_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="">{{dc '7_1-development_tutorials_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="">{{dc '7_1-development_reference_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="">{{dc '7_1-configuration_reference_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="">{{dc '7_1-whitepapers_card'}}</a>
				</li>
			</ul>
		</div>

		<div class="col-md-6 section">
			<h2 class="section-name">
				{{dc 'documentation-dxp_components_heading'}}
			</h2>

			<ul class="article-list">
				<li class="article-list-item">
					<a href="">{{dc '7_1-liferay_connected_services_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="">{{dc '7_1-mobile_experience_platform_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="">{{dc '7_1-developer_tools_and_frameworks_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="">{{dc '7_1-liferay_sync_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="">{{dc '7_1-liferay_enterprise_search_card'}}</a>
				</li>
			</ul>
		</div>

		<div class="col-md-6 section">
			<h2 class="section-name">
				{{dc 'mega_menu-commerce'}}
			</h2>

			<ul class="article-list">
				<li class="article-list-item">
					<a href="">{{dc '7_1-admin_guide_card'}}</a>
				</li>
			</ul>
		</div>

		<div class="col-md-6 section">
			<h2 class="section-name">
				{{dc 'mega_menu-analytics_cloud'}}
			</h2>

			<ul class="article-list">
				<li class="article-list-item">
					<a href="">{{dc '7_1-admin_guide_card'}}</a>
				</li>
			</ul>
		</div>

		<div class="col-md-6 section">
			<h2 class="section-name">
				{{dc 'mega_menu-dxp_cloud'}}
			</h2>

			<ul class="article-list">
				<li class="article-list-item">
					<a href="">{{dc '7_1-admin_guide_card'}}</a>
				</li>
			</ul>
		</div>

		<div class="col-md-6 section">
			<h2 class="section-name">
				{{dc 'mega_menu-portal_6_2'}}
			</h2>

			<ul class="article-list">
				<li class="article-list-item">
					<a href="">{{dc '7_1-deployment_guide_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="">{{dc '7_1-admin_guide_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="">{{dc '7_1-development_tutorials_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="">{{dc '7_1-development_reference_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="">{{dc '7_1-configuration_reference_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="">{{dc '7_1-whitepapers_card'}}</a>
				</li>
			</ul>
		</div>

		<div class="col-md-6 section">
			<h2 class="section-name">
				{{dc 'mega_menu-portal_6_1'}}
			</h2>

			<ul class="article-list">
				<li class="article-list-item">
					<a href="">{{dc '7_1-deployment_guide_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="">{{dc '7_1-admin_guide_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="">{{dc '7_1-development_tutorials_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="">{{dc '7_1-development_reference_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="">{{dc '7_1-configuration_reference_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="">{{dc '7_1-whitepapers_card'}}</a>
				</li>
			</ul>
		</div>

		<div class="col-md-6 section">
			<h2 class="section-name">
				{{dc 'mega_menu-portal_6_0'}}
			</h2>

			<ul class="article-list">
				<li class="article-list-item">
					<a href="">{{dc '7_1-admin_guide_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="">{{dc '7_1-whitepapers_card'}}</a>
				</li>
			</ul>
		</div>

		<div class="col-md-6 section">
			<h2 class="section-name">
				{{dc 'documentation-portal_5_2'}}
			</h2>

			<ul class="article-list">
				<li class="article-list-item">
					<a href="">{{dc '7_1-admin_guide_card'}}</a>
				</li>

				<li class="article-list-item">
					<a href="">{{dc '7_1-whitepapers_card'}}</a>
				</li>
			</ul>
		</div>
	</div>
</div>