<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			{{breadcrumbs}}
		</div>
	</div>

	{{#each article.labels}}
		{{#is identifier 'kbArticle'}}
			{{#with ../article}}
				<div class="row">
					<h1 class="article-title col-md-7" title="{{title}}">
						{{title}}

						{{#if internal}}
							<svg class="lexicon-icon lexicon-icon-lock" title="{{t 'internal'}}">
								<use xlink:href="#lock" />
							</svg>
						{{/if}}
					</h1>
				</div>

				<div class="row">
					<div class="col-md-7">
						<div class="article-author">
							<div class="avatar sticker sticker-circle sticker-primary">
								<span class="sticker-overlay">
									<img alt="Avatar" class="sticker-img" src="{{author.avatar_url}}" />
								</span>
							</div>

							<div class="article-meta">
								{{#link 'user_profile' id=author.id}}
									<div class="secondary-font semibold">
										{{author.name}}
									</div>
								{{/link}}

								<ul class="meta-group secondary-text-color small">
									<li class="meta-data">
										{{#is created_at edited_at}}
											{{date created_at timeago=true}}
										{{else}}
											{{t 'updated'}} {{date edited_at timeago=true}}
										{{/is}}
									</li>
								</ul>
							</div>
						</div>

						<section class="article-info">
							<div class="article-content">
								<div class="article-body">
									{{body}}
								</div>

								<div class="article-attachments">
									<ul class="attachments">
										{{#each ../../attachments}}
											<li class="attachment-item">
												<svg class="lexicon-icon lexicon-icon-paperclip">
													<use xlink:href="#paperclip" />
												</svg>

												<a href="{{url}}" target="_blank">{{name}}</a>

												<div class="attachment-meta">
													<span class="meta-data">{{size}}</span>

													<a href="{{url}}" target="_blank">Download</a>
												</div>
											</li>
										{{/each}}
									</ul>
								</div>
							</div>
						</section>

						<footer class="article-footer">
							{{#each labels}}
								<span class="article-label label">
									<span class="label-item label-item-expand">{{identifier}}</span>
								</span>
							{{/each}}

							<div class="article-votes">
								<span class="article-votes-question">{{t 'was_this_article_helpful'}}</span>

								<div class="article-votes-controls" role='radiogroup'>
									{{vote 'up' role='radio' class='article-vote article-vote-up btn btn-outline-primary'}}
									{{vote 'down' role='radio' class='article-vote article-vote-down btn btn-outline-primary'}}
								</div>

								<small class="article-votes-count">
									{{vote 'label' class='article-vote-label'}}
								</small>
							</div>

							<div class="article-more-questions">
								{{../../request_callout}}
							</div>
						</footer>
					</div>

					<div class="article-relatives col-md-4 offset-sm-1">
						{{../../related_articles}}
						{{../../recent_articles}}
					</div>
				</div>
			{{/with}}
		{{/is}}

		{{#is identifier 'Official Docs'}}
			{{#with ../article}}
				<div class="row">
					<div class="article-sidenav col-md-3 secondary-font">
						<div class="sidenav-title">{{t 'articles_in_section'}}</div>

						{{#with ../../section}}
							<ul class="nav nav-nested">
								{{#each articles}}
									<li class="nav-item">
										<a href="{{url}}" class="{{#is id ../id}}active semibold{{/is}} sidenav-item ">{{title}}</a>
									</li>
								{{/each}}
							</ul>

							{{#if more_articles}}
								<a href="{{url}}" class="sidenav-item">{{t 'see_more'}}</a>
							{{/if}}
						{{/with}}
					</div>

					<div class="article-info col-md-7">
						<h1 class="article-title" title="{{title}}">
							{{title}}

							{{#if internal}}
								<svg class="lexicon-icon lexicon-icon-lock" title="{{t 'internal'}}">
									<use xlink:href="#lock" />
								</svg>
							{{/if}}
						</h1>

						<div class="article-content">
							<section class="article-body">
								{{body}}
							</section>
						</div>

						<footer class="article-footer">
							{{#each labels}}
								<span class="article-label label">
									<span class="label-item label-item-expand">{{identifier}}</span>
								</span>
							{{/each}}

							<div class="article-votes">
								<span class="article-votes-question">{{t 'was_this_article_helpful'}}</span>

								<div class="article-votes-controls" role='radiogroup'>
									{{vote 'up' role='radio' class='article-vote article-vote-up btn btn-outline-primary'}}
									{{vote 'down' role='radio' class='article-vote article-vote-down btn btn-outline-primary'}}
								</div>

								<small class="article-votes-count">
									{{vote 'label' class='article-vote-label'}}
								</small>
							</div>
						</footer>
					</div>
				</div>
			{{/with}}
		{{/is}}
	{{/each}}
</div>