<div class="container">
	<div class="row">
		<div class="col-12">
			{{breadcrumbs}}
		</div>
	</div>

	<div class="row">
		<div class="category-heading col-12">
			<h1>{{category.name}}</h1>

			{{#if category.description}}
				<p class="subtitle">{{category.description}}</p>
			{{/if}}
		</div>

		{{#if sections}}
			{{#each sections}}
				<div class="col-md-6 section">
					<a href="{{url}}">
						<h2>
							{{name}}

							{{#if internal}}
								<svg class="lexicon-icon lexicon-icon-lock" title="{{t 'internal'}}">
									<use xlink:href="#lock" />
								</svg>
							{{/if}}
						</h2>
					</a>

					{{#if articles}}
						<ul class="article-list">
							{{#each articles}}
								<li class="article-list-item {{#if promoted}}promoted{{/if}}">
									<a href="{{url}}">{{title}}</a>
								</li>
							{{/each}}
						</ul>

						{{#if more_articles}}
							<a href="{{url}}">
								{{dc 'view_all'}}
							</a>
						{{/if}}
					{{else}}
						<a href="{{url}}">
							<em>{{dc 'this_section_contains_no_article_click_here_to_add_one'}}</em>
						</a>
					{{/if}}
				</div>
			{{/each}}
		{{else}}
			<div class="col-12">
				<em>{{t 'empty'}}</em>
			</div>
		{{/if}}
	</div>
</div>
