<footer class="container-fluid container-fluid-max-xl footer small">
	<div class="row">
		<div class="col-sm-3">
			<svg alt="{{help_center.name}}" class="analytics-cloud-logo">
				<use xlink:href="#analytics-cloud-logo-full" />
			</svg>
		</div>

		<div class="col-sm-2">
			<h5></h5>
		</div>

		<div class="col-sm-2">
			<h5>
				{{dc 'resources'}}
			</h5>

			<ul class="footer-links">
				<li>
					<a href="https://help.liferay.com/hc/en-us/categories/360000608871-Product-Documentation">{{dc 'product_documentation'}}</a>
				</li>
			</ul>
		</div>

		<div class="col-sm-2">
			<h5>
				{{dc 'related_sites'}}
			</h5>

			<ul class="footer-links">
				<li>
					<a href="https://www.liferay.com">Liferay.com</a>
				</li>
				<li>
					<a href="https://web.liferay.com/marketplace">Marketplace</a>
				</li>
				<li>
					<a href="https://analytics.liferay.com">Analytics Cloud</a>
				</li>
			</ul>
		</div>

		<div class="col-sm-3">
			<div class="social-links">
				<div class="social-icon">
					<a href="https://www.facebook.com/liferay">
						<svg class="lexicon-icon lexicon-icon-social-facebook">
							<use xlink:href="#social-facebook" />
						</svg>
					</a>
				</div>

				<div class="social-icon">
					<a href="https://twitter.com/liferay">
						<svg class="lexicon-icon lexicon-icon-twitter">
							<use xlink:href="#social-twitter" />
						</svg>
					</a>
				</div>

				<div class="social-icon">
					<a href="https://www.linkedin.com/company/liferay-inc-">
						<svg class="lexicon-icon lexicon-icon-linkedin">
							<use xlink:href="#social-linkedin" />
						</svg>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-12 copyright secondary-text-color small">
			&copy; 2018 Liferay Inc. {{dc 'all_rights_reserved'}}
		</div>
	</div>
</footer>