<style>
	.header-content.nav-search {
		display: none;
	}
</style>

<div class="container homepage main-content">
	<section class="banner row">
		<div class="col-7">
			<h1 class="display">
				{{dc 'how_can_we_help'}}
			</h1>

			{{search class="homepage-search"}}
		</div>

		<div class="col-5">
			<img alt="{{dc 'how_can_we_help'}}" class="img" src="{{asset 'homepage_placeholder.png'}}" />
		</div>
	</section>

	<section class="row suggested-topics">
		<h2 class="col-12">
			{{dc 'suggested_topics'}}
		</h2>

		{{#each categories}}
			{{#is name 'Product Documentation'}}
				{{#each sections}}
					{{#is name 'Getting Started'}}
						<div class="col-sm-4 topic">
							<h3>
								{{dc 'getting_started'}}
							</h3>

							{{#each articles}}
								<p class="secondary-text">
									<a href='{{url}}'>
										{{title}}
									</a>
								</p>
							{{/each}}

							{{#if more_articles}}
								<a href="{{url}}">
									{{dc 'view_all'}}
								</a>
							{{/if}}
						</div>
					{{/is}}

					{{#is name 'Administering Liferay Analytics Cloud'}}
						<div class="col-sm-4 topic">
							<h3>
								{{dc 'administering_liferay_analytics_cloud'}}
							</h3>

							{{#each articles}}
								<p class="secondary-text">
									<a href='{{url}}'>
										{{title}}
									</a>
								</p>
							{{/each}}

							{{#if more_articles}}
								<a class="secondary-font" href="{{url}}">
									{{dc 'view_all'}}

									<svg class="lexicon-icon lexicon-icon-arrow-right" >
										<use xlink:href="#arrow-right" />
									</svg>
								</a>
							{{/if}}
						</div>
					{{/is}}
				{{/each}}
			{{/is}}
		{{/each}}
	</section>

	<section class="col-12 need-help">
		<h2>
			{{dc 'still_need_help'}}
		</h2>

		<svg class="lexicon-icon lexicon-icon-ticket">
			<use xlink:href="#ticket" />
		</svg>

		<a class="new-request-link" href="{{page_path 'new_request'}}">
			{{t 'submit_a_request'}}
		</a>

		<span class="secondary-text secondary-text-color">
			{{dc 'receive_help_on_bugs_and_issues_available_to_subscription_customers'}}
		</span>
	</section>
</div>