<style>
	.search-nav {
		display: none;
	}
</style>

<div class="container-fluid container-fluid-max-xl homepage main-content">
	<section class="banner row">
		<div class="col-12 col-md-6">
			<h1 class="display">
				{{dc 'how_can_we_help'}}
			</h1>

			{{search class="search-lg" submit=false}}
		</div>

		<div class="banner-img-container col-md-5 offset-md-1">
			<img alt="{{dc 'how_can_we_help'}}" class="img" src="{{asset 'homepage.svg'}}" />
		</div>
	</section>

	<section class="row suggested-topics">
		<h2 class="col-md-12">
			{{dc 'browse_by_product'}}
		</h2>

		<div class="col-md-3 product-card">
			{{!--
			Analytics Cloud category id
				prod: 360000872551
				sandbox: 360000869112
			--}}
			<a class="autofit-row autofit-row-center" href="/hc/categories/360000869112">
				<div class="autofit-col">
					<svg class="icon">
						<use xlink:href="#analytics-cloud-logo" />
					</svg>
				</div>

				<div class="autofit-col autofit-col-expand">
					<h4 class="title">
						{{dc 'analytics_cloud'}}
					</h4>
				</div>

				<div class="autofit-col">
					<svg class="lexicon-icon lexicon-icon-arrow-right">
						<use xlink:href="#arrow-right" />
					</svg>
				</div>
			</a>
		</div>

		<div class="col-md-3 product-card">
			{{!--
			DXP Cloud category id
				prod: 360000868032
				sandbox: 360000869252
			--}}
			<a class="autofit-row autofit-row-center" href="/hc/categories/360000869252">
				<div class="autofit-col">
					<svg class="icon">
						<use xlink:href="#analytics-cloud-logo" />
					</svg>
				</div>

				<div class="autofit-col autofit-col-expand">
					<h4 class="title">
						{{dc 'dxp_cloud'}}
					</h4>
				</div>

				<div class="autofit-col">
					<svg class="lexicon-icon lexicon-icon-arrow-right">
						<use xlink:href="#arrow-right" />
					</svg>
				</div>
			</a>
		</div>
	</section>

	<section class="col-12" id="stillNeedHelp"></section>
</div>

<script type="text/javascript">
	window.zESettings = {
		webWidget: {
			contactOptions: {
				contactFormLabel: {
					'*': 'Submit a Ticket'
				},
				enabled: true
			}
		}
	};

	$(
		function() {
			const userTags = window.HelpCenter.user.tags;

			if (Liferay.hasCreateTicketPermission(userTags)) {
				Liferay.render(
					Liferay.CallToAction,
					{
						className: 'need-help',
						iconId: '#ticket',
						link: '{{page_path 'new_request'}}',
						message: `{{dc 'let_us_know_if_you_cant_find_a_solution_to_your_issue'}}`,
						name: '{{dc 'submit_a_ticket'}}',
						sectionHeading: '{{dc 'still_need_help'}}'
					},
					document.getElementById('stillNeedHelp')
				);
			}
		}
	);
</script>