<style>
	.nav-search {
		display: none;
	}
</style>

<div class="container homepage">
	<div class="banner row">
		<div class="col-12">
			<h1 class="display">
				{{dc 'how_can_we_help'}}
			</h1>

			{{search class="homepage-search"}}
		</div>
	</div>

	<section class="row suggested-topics">
		<h2 class="col-12 display">
			{{dc 'suggested_topics'}}
		</h2>

		{{#each categories}}
			{{#is name 'Product Documentation'}}
				{{#each sections}}
					{{#is name 'Getting Started'}}
						<div class="col-sm-6 topic">
							<h2>
								{{dc 'getting_started'}}
							</h2>

							{{#each articles}}
								<a href='{{url}}'>
									<p class="secondary-text">{{title}}</p>
								</a>
							{{/each}}

							{{#if more_articles}}
								<a href="{{url}}">
									{{dc 'view_all'}}
								</a>
							{{/if}}
						</div>
					{{/is}}

					{{#is name 'Administering Liferay Analytics Cloud'}}
						<div class="col-sm-6 topic">
							<h2>
								{{dc 'administering_liferay_analytics_cloud'}}
							</h2>

							{{#each articles}}
								<a href='{{url}}'>
									<p class="secondary-text">{{title}}</p>
								</a>
							{{/each}}

							{{#if more_articles}}
								<a href="{{url}}">
									{{dc 'view_all'}}
								</a>
							{{/if}}
						</div>
					{{/is}}
				{{/each}}
			{{/is}}
		{{/each}}
	</section>
</div>