<style>
	.search-nav {
		display: none;
	}
</style>

<div class="container-fluid container-fluid-max-xl homepage main-content">
	<section class="banner row">
		<div class="col-12 col-md-6">
			<h1 class="display">
				{{dc 'how_can_we_help'}}
			</h1>

			{{search class="search-lg" submit=false}}
		</div>

		<div class="banner-img-container col-md-5 offset-md-1">
			<img alt="{{dc 'how_can_we_help'}}" class="img" src="{{asset 'homepage.svg'}}" />
		</div>
	</section>

	<section class="row suggested-topics">
		<h2 class="col-md-12">
			{{dc 'browse_by_product'}}
		</h2>

		<div class="col-md-3">
			<a class="autofit-row autofit-row-center product-card" href="/hc/categories/360000869112">
				<div class="autofit-col">
					<svg class="icon">
						<use xlink:href="#analytics-cloud-logo" />
					</svg>
				</div>

				<div class="autofit-col autofit-col-expand">
					<h4 class="title">
						{{dc 'analytics_cloud'}}

						<svg class="lexicon-icon lexicon-icon-arrow-right">
							<use xlink:href="#arrow-right" />
						</svg>
					</h4>
				</div>
			</a>
		</div>

		<div class="col-md-3">
			<a class="autofit-row autofit-row-center product-card" href="/hc/categories/360000869252">
				<div class="autofit-col">
					<svg class="icon">
						<use xlink:href="#analytics-cloud-logo" />
					</svg>
				</div>

				<div class="autofit-col autofit-col-expand">
					<h4 class="title">
						{{dc 'dxp_cloud'}}

						<svg class="lexicon-icon lexicon-icon-arrow-right">
							<use xlink:href="#arrow-right" />
						</svg>
					</h4>
				</div>
			</a>
		</div>
	</section>

	<section class="col-12 need-help">
		<h2>
			{{dc 'still_need_help'}}
		</h2>

		<svg class="lexicon-icon lexicon-icon-ticket">
			<use xlink:href="#ticket" />
		</svg>

		<a class="new-request-link" href="{{page_path 'new_request'}}">
			{{dc 'submit_a_ticket'}}
		</a>

		<span class="new-request-message secondary-text secondary-text-color">
			{{dc 'let_us_know_if_you_cant_find_a_solution_to_your_issue'}}
		</span>
	</section>
</div>

<script type="text/javascript">
	window.zESettings = {
		webWidget: {
			contactOptions: {
				contactFormLabel: {
					'*': 'Submit a Ticket'
				},
				enabled: true
			}
		}
	};
</script>