<div class="container search-results">
	<nav class="sub-nav">
		{{breadcrumbs}}
	</nav>

	<div class="col-md-8 offset-md-2">
		<header>
			<h2 class="page-header-description">
				{{t 'results' query=query count=results_count}}
			</h2>

			{{search class="search-results-searchbox" submit=false}}
		</header>

		<section>
			{{#if article_results}}
				<ul class="search-results-list">
					{{#each article_results}}
						<li class="search-result">
							<a class="search-result-link" href="{{url}}">{{title}}</a>

							<div class="search-result-description">
								{{text}}
							</div>

							<ol class="breadcrumbs">
								{{#each path_steps}}
									<li title="{{name}}">
										<a href="{{url}}">{{name}}</a>
									</li>
								{{/each}}
							</ol>
						</li>
					{{/each}}
				</ul>
			{{else}}
				<div>
					{{t 'no_results' query=query}}

					{{#link 'help_center'}}
						{{t 'browse_knowledge_base'}}
					{{/link}}
				</div>
			{{/if}}
		</section>

		{{pagination}}
	</div>
</div>