<style>
	.search-nav {
		display: none;
	}
</style>

<div class="container-fluid container-fluid-max-xl main-content">
	<div class="row">
		<div class="col-sm-12">
			{{breadcrumbs}}
		</div>
	</div>

	<div class="col-md-8 offset-md-2 search-results">
		<header>
			<h2 class="page-header-description">
				{{t 'results' query=query count=results_count}}
			</h2>

			{{search class="search-lg" submit=false}}
		</header>

		<section>
			{{#if article_results}}
				<ul class="search-results-list">
					{{#each article_results}}
						<li class="search-result">
							<a class="search-result-link" href="{{url}}">
								{{title}}
							</a>

							<h5 class="search-result-description">
								{{text}}
							</h5>

							<ol class="breadcrumbs">
								{{#each path_steps}}
									<li title="{{name}}">
										<a href="{{url}}">
											{{name}}
										</a>
									</li>
								{{/each}}
							</ol>
						</li>
					{{/each}}
				</ul>
			{{else}}
				<div class="no-results">
					<img alt="{{t 'oops'}}" class="img" src="{{asset 'telescope_scene.svg'}}" />

					<div class="no-results-msg">
						<h4>
							{{dc 'sorry_we_searched_far_into_outer_space_but_couldnt_find'}} "{{query}}"
						</h4>

						{{#link 'help_center' class="secondary-font"}}
							{{t 'browse_knowledge_base'}}
						{{/link}}
					</div>
				</div>
			{{/if}}
		</section>

		{{pagination}}
	</div>
</div>