<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			{{breadcrumbs}}
		</div>
	</div>

	<section class="row section-content">
		<div class="col-md-6">
			{{#with section}}
				<header>
					<h1>
						{{name}}

						{{#if internal}}
							<svg class="lexicon-icon lexicon-icon-lock" title="{{t 'internal'}}">
								<use xlink:href="#lock" />
							</svg>
						{{/if}}
					</h1>

					{{#if description}}
						<p class="subtitle">{{description}}</p>
					{{/if}}
				</header>

				{{#if articles}}
					<ul class="article-list">
						{{#each articles}}
							<li class="article-list-item {{#if promoted}}promoted{{/if}}">
								<a class="article-list-link" href="{{url}}">{{title}}</a>
							</li>
						{{/each}}
					</ul>
				{{else}}
					<a href="{{url}}">
						<em>{{t 'empty'}}</em>
					</a>
				{{/if}}
			{{/with}}
		</div>

		{{pagination}}
	</section>
</div>
