<div class="container-fluid container-fluid-max-xl main-content">
	<div class="row">
		<div class="col-12">
			{{breadcrumbs}}
		</div>
	</div>

	<section class="row section-content">
		<div class="col-md-6">
			{{#with section}}
				<header class="section-heading">
					<h1>
						{{name}}

						{{#if internal}}
							<svg class="lexicon-icon lexicon-icon-lock" title="{{t 'internal'}}">
								<use xlink:href="#lock" />
							</svg>
						{{/if}}
					</h1>

					{{#if description}}
						<p class="secondary-font secondary-text-color">
							{{description}}
						</p>
					{{/if}}
				</header>

				{{#if articles}}
					<ul class="article-list secondary-font">
						{{#each articles}}
							<li class="article-list-item {{#if promoted}}promoted{{/if}}">
								<a class="article-list-link" href="{{url}}">{{title}}</a>
							</li>
						{{/each}}
					</ul>
				{{else}}
					<p class="secondary-font secondary-text-color">{{dc 'no_articles_in_section'}}</p>
				{{/if}}
			{{/with}}
		</div>

		{{pagination}}
	</section>
</div>