<div class="container-fluid container-fluid-max-xl main-content">
	<div class="row">
		<div class="col-12">
			{{breadcrumbs}}
		</div>
	</div>

	<div class="categories-main row">
		<div class="category-heading col-md-8 offset-md-2">
			<h1>
				{{dc 'analytics_cloud-page_heading'}}
			</h1>

			{{#if category.description}}
				<div class="secondary-font secondary-text-color">
					{{category.description}}
				</div>
			{{/if}}
		</div>

		<div class="col-md-8 offset-md-2" id="analyticsCloudProductPage"></div>
	</div>
</div>

<script>
	domLoaded(function() {
		const userTags = window.HelpCenter.user.tags;
		
		const documentElementLang = document.documentElement.lang;
		
		var alertChildren = null; 
  
		if ('{{help_center.locale}}' === 'ja') {
			alertChildren = {
				children: '{{dc 'analytics_cloud-jp_banner'}}',
				linkText: '{{dc 'analytics_cloud-jp_banner_cta'}}',
  				url: "/hc/ja/articles/360059296312"
			};
 		}

		Liferay.render(
			Liferay.ProductTabs,
			{
				alert: alertChildren,
				fullAccess: Liferay.hasKBPermission(userTags),
				productItems: [
					{
						configs: [
							{
								description: '{{dc 'analytics_cloud-admin_guide_card_description'}}',
								name: '{{dc '7_1-admin_guide_card'}}',
								svgId: '#admin-guide',
								url: 'https://learn.liferay.com/analytics-cloud/latest/en/index.html'
							},
							{
								description: '{{dc 'analytics_cloud-support_coverage_card_description'}}',
								name: '{{dc 'mega_menu-support_coverage'}}',
								svgId: '#support-coverage',
								url: '/hc/articles/360015347232'
							},
							{
								description: '{{dc 'analytics_cloud-announcements_banner_description'}}',
								name: '{{dc 'mega_menu-announcements'}}',
								svgId: '#announcements',
								url: '/hc/categories/360004131752'
							}
						],
						tabAccess: 'all'
					}
				]
			},
			document.getElementById('analyticsCloudProductPage')
		);
	});
</script>
