<div class="container-fluid container-fluid-max-xl main-content">
	<div class="row">
		<div class="col-12">
			{{breadcrumbs}}
		</div>
	</div>

	<div class="categories-main row">
		<div class="category-heading col-md-8 offset-md-2">
			<h1>
				{{dc '7_4-page_heading'}}
			</h1>

			{{#if category.description}}
				<div class="secondary-font secondary-text-color">
					{{category.description}}
				</div>
			{{/if}}
		</div>

		<div class="col-md-8 offset-md-2" id="dxp74ProductPage"></div>
	</div>
</div>

<script>
	$(function() {
		const userTags = window.HelpCenter.user.tags;

		const documentElementLang = document.documentElement.lang;

		Liferay.render(
			Liferay.ProductTabs,
			{
				fullAccess: Liferay.hasKBPermission(userTags),
				productItems: [
					{
						name: '{{dc '7_1-top_resources_tab'}}',
						configs: [
							{
								description: '{{dc '7_4-latest_release_card_description'}}',
								name: '{{dc '7_1-latest_release_card'}}',
								svgId: '#latest-release',
								url: Liferay.addLocaleParamToURI(documentElementLang, 'downloads?p_p_id=com_liferay_osb_customer_downloads_display_web_DownloadsDisplayPortlet&_com_liferay_osb_customer_downloads_display_web_DownloadsDisplayPortlet_productAssetCategoryId=118191027&_com_liferay_osb_customer_downloads_display_web_DownloadsDisplayPortlet_fileTypeAssetCategoryId=118191095')
							},
							{
								description: '{{dc '7_4-compatibility_matrix_card_description'}}',
								name: '{{dc 'mega_menu-compatibility_matrix'}}',
								svgId: '#compatibility-matrix',
								url: '/hc/articles/360016362092'
							},
							{
								description: '{{dc '7_1-fix_packs_card_description'}}',
								name: '{{dc '7_1-fix_packs_card'}}',
								svgId: '#fixpack',
								url: Liferay.addLocaleParamToURI(documentElementLang, 'downloads?p_p_id=com_liferay_osb_customer_downloads_display_web_DownloadsDisplayPortlet&_com_liferay_osb_customer_downloads_display_web_DownloadsDisplayPortlet_productAssetCategoryId=118191027&_com_liferay_osb_customer_downloads_display_web_DownloadsDisplayPortlet_fileTypeAssetCategoryId=118191097')
							},
							{
								description: '{{dc '6_2-activation_keys_card_description'}}',
								name: '{{dc 'mega_menu-activation_keys'}}',
								svgId: '#server-activation',
								url: Liferay.addLocaleParamToURI(documentElementLang, 'activation-key')
							},
							{
								description: '{{dc '7_1-account_support_card_description'}}',
								name: '{{dc 'mega_menu-account_support'}}',
								svgId: '#account-support',
								url: '/hc/articles/360018414031'
							}
						],
						tabAccess: 'kb'
					},
					{
						name: '{{dc 'mega_menu-downloads'}}',
						configs: [
							{
								description: '{{dc '7_4-latest_release_card_description'}}',
								name: '{{dc '7_1-latest_release_card'}}',
								svgId: '#latest-release',
								url: Liferay.addLocaleParamToURI(documentElementLang, 'downloads?p_p_id=com_liferay_osb_customer_downloads_display_web_DownloadsDisplayPortlet&_com_liferay_osb_customer_downloads_display_web_DownloadsDisplayPortlet_productAssetCategoryId=118191027&_com_liferay_osb_customer_downloads_display_web_DownloadsDisplayPortlet_fileTypeAssetCategoryId=118191095')
							}
						],
						tabAccess: 'kb'
					},
					{
						name: '{{dc 'mega_menu-documentation'}}',
						configs: [
							{
								description: '{{dc '7_4-product_documentation_card_description'}}',
								name: '{{dc '7_3-product_documentation'}}',
								svgId: '#getting-started',
								url: 'https://learn.liferay.com/dxp/7.x/en/index.html'
							}
						],
						tabAccess: 'all'
					},
					{
						name: '{{dc '7_1-support_information_tab'}}',
						configs: [
							{
								description: '{{dc '7_4-compatibility_matrix_card_description'}}',
								name: '{{dc 'mega_menu-compatibility_matrix'}}',
								svgId: '#compatibility-matrix',
								url: '/hc/articles/360016362092'
							},
							{
								description: '{{dc '7_4-service_life_card_description'}}',
								name: '{{dc 'mega_menu-service_life'}}',
								svgId: '#service-life',
								url: '/hc/articles/360016295852'
							},
							{
								description: '{{dc '7_1-fix_delivery_method_card_description'}}',
								name: '{{dc 'mega_menu-fix_delivery_method'}}',
								svgId: '#fix-delivery-method',
								url: '/hc/articles/360016572451'
							},
							{
								description: '{{dc '7_1-support_coverage_card_description'}}',
								name: '{{dc 'mega_menu-support_coverage'}}',
								svgId: '#support-coverage',
								url: '/hc/categories/360000892912'
							},
							{
								description: '{{dc '7_1-support_faqs_card_description'}}',
								name: '{{dc 'mega_menu-support_faqs'}}',
								svgId: '#support-faqs',
								url: '/hc/articles/360019869031'
							},
							{
								description: '{{dc '7_1-service_levels_card_description'}}',
								name: '{{dc 'mega_menu-service_levels'}}',
								svgId: '#service-levels',
								url: '/hc/articles/360016510271'
							},
							{
								description: '{{dc '7_1-integrated_technologies_portal_card_description'}}',
								name: '{{dc '7_1-integrated_technologies_card'}}',
								svgId: '#compatibility-matrix',
								url: '/hc/articles/360018304931'
							}
						],
						tabAccess: 'kb'
					}
				]
			},
			document.getElementById('dxp74ProductPage')
		);
	});
</script>
