<footer class="container-fluid container-fluid-max-xl footer secondary-font">
	<div class="row">
		<div class="col-sm-3">
			<svg alt="{{help_center.name}}" class="liferay-logo">
				<use xlink:href="#liferay-logo" />
			</svg>
		</div>

		<div class="col-sm-2">
			<h4>
				{{dc 'mega_menu-resources'}}
			</h4>

			<ul class="footer-links">
				<li>
					<a href="https://customer.liferay.com/downloads">{{dc 'mega_menu-downloads'}}</a>
				</li>
				<li>
					<a href="/hc/categories/360000868172">{{dc 'mega_menu-documentation'}}</a>
				</li>
				<li>
					<a href="https://customer.liferay.com/activation-key">{{dc 'mega_menu-activation_keys'}}</a>
				</li>
				<li>
					<a href="https://web.liferay.com/group/customer/support/-/support/ticket">{{dc 'footer-lesa'}}</a>
				</li>
			</ul>
		</div>

		<div class="col-sm-2">
			<h4>
				{{dc 'footer-subscription'}}
			</h4>

			<ul class="footer-links">
				<li>
					<a href="/hc/articles/360017784212">{{dc 'mega_menu-contact_us'}}</a>
				</li>
				<li>
					<a href="/hc/articles/360018414031">{{dc 'footer-account_support'}}</a>
				</li>
				<li>
					<a href="/hc/articles/360015994791">{{dc 'mega_menu-support_faqs'}}</a>
				</li>
			</ul>
		</div>

		<div class="col-sm-2">
			<h4>
				{{dc 'footer-related_sites'}}
			</h4>

			<ul class="footer-links">
				<li>
					<a href="https://www.liferay.com">{{dc 'footer-liferay_com'}}</a>
				</li>
				<li>
					<a href="http://marketplace.liferay.com">{{dc 'footer-marketplace'}}</a>
				</li>
			</ul>
		</div>

		<div class="col-sm-3">
			<div class="social-links">
				<div class="social-icon">
					<a href="https://www.facebook.com/liferay">
						<svg class="lexicon-icon lexicon-icon-social-facebook">
							<use xlink:href="#social-facebook" />
						</svg>
					</a>
				</div>

				<div class="social-icon">
					<a href="https://twitter.com/liferay">
						<svg class="lexicon-icon lexicon-icon-twitter">
							<use xlink:href="#social-twitter" />
						</svg>
					</a>
				</div>

				<div class="social-icon">
					<a href="https://www.linkedin.com/company/liferay-inc-">
						<svg class="lexicon-icon lexicon-icon-linkedin">
							<use xlink:href="#social-linkedin" />
						</svg>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="copyright row secondary-text-color small">
		<div class="col-9">
			&copy; 2018 Liferay Inc. {{dc 'all_rights_reserved'}}
		</div>

		<div class="col-3 language-selector semibold">
			{{#if alternative_locales}}
				<div aria-haspopup="true" class="dropdown language-selector">
					<svg class="lexicon-icon lexicon-icon-language">
						<use xlink:href="#language"></use>
					</svg>

					<a class="dropdown-toggle">{{current_locale.name}}</a>
					<span class="dropdown-menu dropdown-menu-end" role="menu">
						{{#each alternative_locales}}
							<a dir="{{direction}}" href="{{url}}" rel="nofollow" role="menuitem">{{name}}</a>
						{{/each}}
					</span>
				</div>
			{{/if}}
		</div>
	</div>
</footer>