<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K6TP58G"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<svg display="none" height="0" version="1.1" width="0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	<symbol id="5-2-logo" viewBox="0 0 32 32">
		<path d="M16 0c8.837 0 16 7.163 16 16s-7.163 16-16 16S0 24.837 0 16 7.163 0 16 0zm-5.522 21.168c.448 0 .875-.07 1.281-.21s.763-.343 1.071-.609.553-.595.735-.987.273-.835.273-1.33c0-.467-.077-.873-.231-1.218s-.362-.63-.623-.854-.565-.392-.91-.504a3.516 3.516 0 0 0-1.505-.14 2.328 2.328 0 0 0-.427.112l.112-1.288h3.192v-2.016H8.182l-.224 4.564 1.036.672c.13-.084.247-.154.35-.21s.198-.098.287-.126.18-.049.273-.063.2-.021.322-.021c.355 0 .644.096.868.287s.336.478.336.861c0 .392-.114.681-.343.868s-.553.28-.973.28c-.327 0-.64-.08-.938-.238s-.583-.36-.854-.602l-1.064 1.512c.364.364.81.665 1.337.903s1.155.357 1.883.357zm5.772 0c.41 0 .747-.14 1.008-.42s.392-.625.392-1.036-.13-.756-.392-1.036-.597-.42-1.008-.42-.747.14-1.008.42-.392.625-.392 1.036.13.756.392 1.036.597.42 1.008.42zM18.494 21h6.44v-2.016H23.45c-.196 0-.436.012-.721.035-.285.023-.539.049-.763.077.299-.308.6-.635.903-.98.303-.345.576-.7.819-1.064s.441-.73.595-1.099.231-.73.231-1.085c0-.439-.075-.838-.224-1.197s-.36-.665-.63-.917-.593-.448-.966-.588-.784-.21-1.232-.21c-.327 0-.628.028-.903.084s-.537.142-.784.259c-.247.117-.483.266-.707.448s-.453.394-.686.637l1.288 1.288c.215-.215.436-.408.665-.581s.492-.259.791-.259c.327 0 .59.096.791.287s.301.488.301.889c0 .299-.096.618-.287.959s-.455.7-.791 1.078-.73.782-1.183 1.211-.94.887-1.463 1.372z" fill="#0b63ce" fill-rule="evenodd"/>
	</symbol>
	<symbol id="6-0-logo" vieBox="0 0 32 32">
		<g fill="none" fill-rule="evenodd">
			<rect fill="#0b63ce" height="32" rx="16" width="32"/>
			<path d="M10.954 21.168c-.43 0-.852-.082-1.267-.245-.415-.163-.786-.422-1.113-.777s-.59-.814-.791-1.379-.301-1.248-.301-2.051.103-1.503.308-2.1.476-1.092.812-1.484.726-.686 1.169-.882a3.376 3.376 0 0 1 1.379-.294c.635 0 1.18.112 1.638.336s.835.485 1.134.784l-1.26 1.428c-.14-.159-.336-.301-.588-.427s-.504-.189-.756-.189c-.215 0-.418.04-.609.119s-.36.215-.504.406-.261.439-.35.742-.147.679-.175 1.127a2.413 2.413 0 0 1 1.267-.826c.145-.037.278-.056.399-.056.373 0 .726.054 1.057.161s.616.273.854.497.427.509.567.854.21.756.21 1.232-.082.9-.245 1.274-.385.69-.665.952-.607.46-.98.595-.77.203-1.19.203zm5.296 0c-.41 0-.747-.14-1.008-.42s-.392-.625-.392-1.036.13-.756.392-1.036.597-.42 1.008-.42.747.14 1.008.42.392.625.392 1.036-.13.756-.392 1.036-.597.42-1.008.42zm5.52 0c-.495 0-.943-.1-1.344-.301s-.749-.497-1.043-.889-.52-.877-.679-1.456-.238-1.246-.238-2.002.08-1.421.238-1.995.385-1.05.679-1.428.642-.663 1.043-.854.85-.287 1.344-.287c.485 0 .931.096 1.337.287s.756.478 1.05.861.52.859.679 1.428.238 1.232.238 1.988-.08 1.423-.238 2.002-.385 1.064-.679 1.456-.644.688-1.05.889-.852.301-1.337.301zm0-1.848c-.14 0-.273-.035-.399-.105s-.236-.208-.329-.413-.168-.49-.224-.854-.084-.84-.084-1.428.028-1.06.084-1.414.13-.63.224-.826.203-.324.329-.385.259-.091.399-.091.273.03.399.091.236.189.329.385.168.471.224.826.084.826.084 1.414-.028 1.064-.084 1.428-.13.649-.224.854-.203.343-.329.413-.259.105-.399.105zm-10.872.056c-.112 0-.226-.021-.343-.063a.81.81 0 0 1-.329-.238 1.856 1.856 0 0 1-.287-.476 3.037 3.037 0 0 1-.203-.763c.14-.27.31-.464.511-.581.2-.117.408-.175.623-.175.121 0 .243.016.364.049s.226.089.315.168.161.187.217.322.084.31.084.525c0 .467-.096.789-.287.966s-.413.266-.665.266z" fill="#fff"/>
		</g>
	</symbol>
	<symbol id="6-1-logo" viewBox="0 0 32 32">
		<path d="M16 0c8.837 0 16 7.163 16 16s-7.163 16-16 16S0 24.837 0 16 7.163 0 16 0zm-5.046 21.168c.42 0 .817-.068 1.19-.203s.7-.334.98-.595.502-.579.665-.952c.163-.373.245-.798.245-1.274s-.07-.887-.21-1.232-.329-.63-.567-.854-.523-.39-.854-.497-.684-.161-1.057-.161c-.121 0-.254.019-.399.056a2.38 2.38 0 0 0-.889.448c-.14.112-.266.238-.378.378.028-.448.086-.824.175-1.127.089-.303.205-.55.35-.742s.313-.327.504-.406.394-.119.609-.119c.252 0 .504.063.756.189s.448.268.588.427l1.26-1.428c-.299-.299-.677-.56-1.134-.784s-1.003-.336-1.638-.336c-.476 0-.936.098-1.379.294-.443.196-.833.49-1.169.882s-.607.887-.812 1.484-.308 1.297-.308 2.1.1 1.486.301 2.051.464 1.024.791 1.379.698.614 1.113.777c.415.163.838.245 1.267.245zm5.296 0c.41 0 .747-.14 1.008-.42s.392-.625.392-1.036-.13-.756-.392-1.036-.597-.42-1.008-.42-.747.14-1.008.42-.392.625-.392 1.036.13.756.392 1.036.597.42 1.008.42zM18.914 21h5.908v-1.932h-1.596v-6.944h-1.764c-.336.215-.681.387-1.036.518s-.784.247-1.288.35v1.484h1.68v4.592h-1.904zm-8.016-1.624c-.112 0-.226-.021-.343-.063a.81.81 0 0 1-.329-.238 1.856 1.856 0 0 1-.287-.476 3.037 3.037 0 0 1-.203-.763c.14-.27.31-.464.511-.581.2-.117.408-.175.623-.175.121 0 .243.016.364.049s.226.089.315.168.161.187.217.322.084.31.084.525c0 .467-.096.789-.287.966s-.413.266-.665.266z" fill="#0b63ce" fill-rule="evenodd"/>
	</symbol>
	<symbol id="6-2-logo" viewBox="0 0 32 32">
		<path d="M16 0c8.837 0 16 7.163 16 16s-7.163 16-16 16S0 24.837 0 16 7.163 0 16 0zm-5.046 21.168c.42 0 .817-.068 1.19-.203s.7-.334.98-.595.502-.579.665-.952c.163-.373.245-.798.245-1.274s-.07-.887-.21-1.232-.329-.63-.567-.854-.523-.39-.854-.497-.684-.161-1.057-.161c-.121 0-.254.019-.399.056a2.38 2.38 0 0 0-.889.448c-.14.112-.266.238-.378.378.028-.448.086-.824.175-1.127.089-.303.205-.55.35-.742s.313-.327.504-.406.394-.119.609-.119c.252 0 .504.063.756.189s.448.268.588.427l1.26-1.428c-.299-.299-.677-.56-1.134-.784s-1.003-.336-1.638-.336c-.476 0-.936.098-1.379.294-.443.196-.833.49-1.169.882s-.607.887-.812 1.484-.308 1.297-.308 2.1.1 1.486.301 2.051.464 1.024.791 1.379.698.614 1.113.777c.415.163.838.245 1.267.245zm5.296 0c.41 0 .747-.14 1.008-.42s.392-.625.392-1.036-.13-.756-.392-1.036-.597-.42-1.008-.42-.747.14-1.008.42-.392.625-.392 1.036.13.756.392 1.036.597.42 1.008.42zM18.494 21h6.44v-2.016H23.45c-.196 0-.436.012-.721.035-.285.023-.539.049-.763.077.299-.308.6-.635.903-.98.303-.345.576-.7.819-1.064s.441-.73.595-1.099.231-.73.231-1.085c0-.439-.075-.838-.224-1.197s-.36-.665-.63-.917-.593-.448-.966-.588-.784-.21-1.232-.21c-.327 0-.628.028-.903.084s-.537.142-.784.259c-.247.117-.483.266-.707.448s-.453.394-.686.637l1.288 1.288c.215-.215.436-.408.665-.581s.492-.259.791-.259c.327 0 .59.096.791.287s.301.488.301.889c0 .299-.096.618-.287.959s-.455.7-.791 1.078-.73.782-1.183 1.211-.94.887-1.463 1.372zm-7.596-1.624c-.112 0-.226-.021-.343-.063a.81.81 0 0 1-.329-.238 1.856 1.856 0 0 1-.287-.476 3.037 3.037 0 0 1-.203-.763c.14-.27.31-.464.511-.581.2-.117.408-.175.623-.175.121 0 .243.016.364.049s.226.089.315.168.161.187.217.322.084.31.084.525c0 .467-.096.789-.287.966s-.413.266-.665.266z" fill="#0b63ce" fill-rule="evenodd"/>
	</symbol>
	<symbol id="7-0-logo" viewBox="0 0 32 32">
		<path d="M16 0c8.837 0 16 7.163 16 16s-7.163 16-16 16S0 24.837 0 16 7.163 0 16 0zM8.828 21h2.408a36.41 36.41 0 0 1 .161-2.282c.07-.653.189-1.258.357-1.813a7.812 7.812 0 0 1 .7-1.617c.299-.523.705-1.083 1.218-1.68v-1.484H7.316v2.016h3.808c-.41.57-.754 1.115-1.029 1.638a9.831 9.831 0 0 0-.672 1.596 11.498 11.498 0 0 0-.399 1.694A18.737 18.737 0 0 0 8.828 21zm7.172.168c.41 0 .747-.14 1.008-.42.261-.28.392-.625.392-1.036 0-.41-.13-.756-.392-1.036-.261-.28-.597-.42-1.008-.42-.41 0-.747.14-1.008.42-.261.28-.392.625-.392 1.036 0 .41.13.756.392 1.036.261.28.597.42 1.008.42zm5.52 0c.485 0 .931-.1 1.337-.301.406-.2.756-.497 1.05-.889.294-.392.52-.877.679-1.456.159-.579.238-1.246.238-2.002 0-.756-.08-1.419-.238-1.988-.159-.57-.385-1.045-.679-1.428a2.847 2.847 0 0 0-1.05-.861 3.097 3.097 0 0 0-1.337-.287c-.495 0-.943.096-1.344.287a2.89 2.89 0 0 0-1.043.854c-.294.378-.52.854-.679 1.428-.159.574-.238 1.239-.238 1.995s.08 1.423.238 2.002c.159.579.385 1.064.679 1.456.294.392.642.688 1.043.889.401.2.85.301 1.344.301zm0-1.848a.81.81 0 0 1-.399-.105c-.126-.07-.236-.208-.329-.413-.093-.205-.168-.49-.224-.854a9.758 9.758 0 0 1-.084-1.428c0-.588.028-1.06.084-1.414.056-.355.13-.63.224-.826.093-.196.203-.324.329-.385a.908.908 0 0 1 .798 0c.126.06.236.189.329.385.093.196.168.471.224.826.056.355.084.826.084 1.414s-.028 1.064-.084 1.428c-.056.364-.13.649-.224.854-.093.205-.203.343-.329.413a.81.81 0 0 1-.399.105z" fill="#0B63CE" fill-rule="evenodd"/>
	</symbol>
	<symbol id="account-support" viewBox="0 0 32 32">
		<path d="M24 11h-8.087L24 2.913V11zm0 15v4a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-3.087l11-11V24a1 1 0 0 0 1 1h2.882l15-15H30a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2h-6z" fill="#FDEFF2"/>
		<path d="M10 24H7.5a.5.5 0 1 1 0-1H10v-1H7.5a.5.5 0 1 1 0-1H10v-5H7.5a.5.5 0 1 1 0-1H10v-1H7.5a.5.5 0 1 1 0-1H10v-1a2 2 0 0 1 2-2h11V2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v28a1 1 0 0 0 1 1h20a1 1 0 0 0 1-1v-4h-2.257L16 29.774V26h-4a2 2 0 0 1-2-2zm14-14h6a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2h-6v4a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h20a2 2 0 0 1 2 2v8zm-7 17.7l3.394-2.7H30a1 1 0 0 0 1-1V12a1 1 0 0 0-1-1H12a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h5v2.7zM4.5 16a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0-1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zm0 9a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0-1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zm0-15a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0-1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zm3-2h5a.5.5 0 1 1 0 1h-5a.5.5 0 0 1 0-1zm0 2h8a.5.5 0 1 1 0 1h-8a.5.5 0 0 1 0-1z" fill="#C5C9D4"/>
		<path d="M21 19a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm-4.854 2.75C16.618 19.918 18.236 19 21 19c2.764 0 4.382.917 4.854 2.75a1 1 0 0 1-.968 1.25h-7.772a1 1 0 0 1-.968-1.25z" fill="#E55E75"/>
	</symbol>
	<symbol id="admin-configuration-reference" viewBox="0 0 32 32">
		<path d="M17 14.64V16a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-4.36L31.224.417C31.696.783 32 1.357 32 2v24.417a2 2 0 0 1-2 2H19.172L16 31.64l-2.899-3.223H3.223L17 14.641z" fill="#FEF9EC"/>
		<path d="M16 14v-1a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v1h1.5a.5.5 0 1 1 0 1H26v1a2 2 0 0 1-2 2h-6a2 2 0 0 1-2-2v-1H4.5a.5.5 0 1 1 0-1H16zm3.377 15l-1.824 2.248a2 2 0 0 1-3.106 0L12.623 29H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h28a2 2 0 0 1 2 2v25a2 2 0 0 1-2 2H19.377zm-2.6 1.618L18.9 28H30a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v25a1 1 0 0 0 1 1h11.1l2.123 2.618a1 1 0 0 0 1.554 0zM4.5 6h23a.5.5 0 1 1 0 1h-23a.5.5 0 0 1 0-1zM18 12a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-6zM4.5 22h23a.5.5 0 1 1 0 1h-23a.5.5 0 1 1 0-1z" fill="#C5C9D4"/>
		<path d="M9 5h4a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H9a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1zm10 8h4a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1v-1a1 1 0 0 1 1-1zm-6 8h4a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1v-1a1 1 0 0 1 1-1z" fill="#FDCC4A"/>
	</symbol>
	<symbol id="admin-guide" viewBox="0 0 32 32">
		<path d="M24.27 18.374a3.003 3.003 0 0 0-1.036.948 3 3 0 0 0-2.693.824l-.395.395a3 3 0 0 0-.824 2.693A3 3 0 0 0 18 25.72v.558a3 3 0 0 0 1.322 2.487c-.08.411-.072.831.019 1.234H9.418l9.015-15.615c2.487.608 4.432 1.938 5.836 3.99zm-11.49-4.733l6.86-11.882a7 7 0 0 1-6.86 11.882z" fill="#FDEFF2"/>
		<path d="M15 14a7 7 0 1 1 0-14 7 7 0 0 1 0 14zm0-1a6 6 0 1 0 0-12 6 6 0 0 0 0 12zm9.27 5.374a3.006 3.006 0 0 0-.783.623C21.667 16.308 18.847 15 15 15 8.126 15 4.535 19.176 4.054 27.945A1 1 0 0 0 5.053 29h14.233c-.038.335-.019.673.055 1H5.053a2 2 0 0 1-1.997-2.11C3.563 18.63 7.545 14 15 14c4.184 0 7.273 1.458 9.27 4.374z" fill="#C5C9D4"/>
		<path d="M28.405 30.385a4.97 4.97 0 0 1-1.005.416l-.172.515a1 1 0 0 1-.949.684h-.558a1 1 0 0 1-.949-.684l-.172-.515a4.97 4.97 0 0 1-1.005-.416l-.486.242a1 1 0 0 1-1.154-.187l-.395-.395a1 1 0 0 1-.187-1.154l.242-.486A4.97 4.97 0 0 1 21.2 27.4l-.515-.172a1 1 0 0 1-.684-.949v-.558a1 1 0 0 1 .684-.949l.515-.172a4.97 4.97 0 0 1 .416-1.005l-.242-.486a1 1 0 0 1 .187-1.154l.395-.395a1 1 0 0 1 1.154-.187l.486.242A4.97 4.97 0 0 1 24.6 21.2l.172-.515a1 1 0 0 1 .949-.684h.558a1 1 0 0 1 .949.684l.172.515c.352.102.69.243 1.005.416l.486-.242a1 1 0 0 1 1.154.187l.395.395a1 1 0 0 1 .187 1.154l-.242.486c.173.316.314.653.416 1.005l.515.172a1 1 0 0 1 .684.949v.558a1 1 0 0 1-.684.949l-.515.172a4.97 4.97 0 0 1-.416 1.005l.242.486a1 1 0 0 1-.187 1.154l-.395.395a1 1 0 0 1-1.154.187l-.486-.242zM26 28.5a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" fill="#E55E75"/>
	</symbol>
	<symbol id="analytics-cloud-logo" viewBox="0 0 28 28">
		<g transform="translate(-7 -6)" fill="none">
			<rect width="40" height="40"/><path d="M17.066 20.4c.728 0 1.334.593 1.334 1.304v10.192c0 .711-.606 1.304-1.334 1.304H8.534c-.728 0-1.334-.593-1.334-1.304V21.704c0-.711.606-1.304 1.334-1.304h8.532zM33.066 13.2c.728 0 1.334.57 1.334 1.255v17.49c0 .685-.606 1.255-1.334 1.255h-8.532c-.728 0-1.334-.57-1.334-1.255v-17.49c0-.685.606-1.255 1.334-1.255h8.532z" fill="#0791D6"/><path d="M25.066 6.8c.728 0 1.334.567 1.334 1.248v23.904c0 .68-.606 1.248-1.334 1.248h-8.532c-.727 0-1.334-.567-1.334-1.248V8.048c0-.68.607-1.248 1.334-1.248h8.532z" fill="#0B63CE"/><path d="M15.241 20.4h1.805s1.354-.078 1.354 1.461v10.263s0 1.066-1.6 1.066c0 0-1.354.197-1.6-1.145V20.401h.041zM24.554 13.2s-1.354-.075-1.354 1.407V32.164s0 1.026 1.6 1.026c0 0 1.354.19 1.6-1.102V13.201h-1.846z" fill="#0F37A7"/>
		</g>
	</symbol>
	<symbol id="announcement" viewBox="0 0 32 32">
		<rect fill="#FDF4F6" width="32" height="32" rx="16"/>
		<path d="M23.95 12.972v8.006l-2.994 2.994H9.978C8.885 23.972 8 22.93 8 21.839v-8.867c0-1.092.886-1.978 1.977-1.978h.01V8.998a.997.997 0 1 1 1.996 0v1.996h2.994V8.998a.997.997 0 1 1 1.996 0v1.996h2.994V8.998a.997.997 0 1 1 1.996 0v1.996h.01c1.091 0 1.977.886 1.977 1.978zm-3.992 9l1.996-1.995h-1.996v1.996zm1.996-4.99V12.99H9.996v8.845c0 .041.031.1.062.138h7.904V17.98h3.992v-.999zm-10.97-2.994h.999v.998h-.998v-.998zm1.997 0h.998v.998h-.998v-.998zm1.996 0h.998v.998h-.998v-.998zm1.996 0h.998v.998h-.998v-.998zm1.996 0h.998v.998h-.998v-.998zm-7.984 1.996h.998v.998h-.998v-.998zm1.996 0h.998v.998h-.998v-.998zm1.996 0h.998v.998h-.998v-.998zm1.996 0h.998v.998h-.998v-.998zm1.996 0h.998v.998h-.998v-.998zm-7.984 1.997h.998v.998h-.998v-.998zm0 1.996h.998v.998h-.998v-.998zm1.996 0h.998v.998h-.998v-.998zm0-1.996h.998v.998h-.998v-.998zm1.996 0h.998v.998h-.998v-.998z" fill="#E55E75"/>
	</symbol>
	<symbol id="announcements" viewBox="0 0 32 32">
		<path d="M30 17a2 2 0 0 1 2 2v2a2 2 0 0 1-2 2v5.5a1.5 1.5 0 0 1-3 0v-.875l-6.225-2.334c-.265.425-.737.709-1.275.709H19v4a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2v-4c0-.073.004-.14.012-.204A5.502 5.502 0 0 1 10 20.5v-1c0-.169.008-.335.022-.5H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h21a2 2 0 0 1 2 2v11.125l2-.75V11.5a1.5 1.5 0 0 1 3 0V17z" fill="#FFF"/>
		<path d="M21 19h-1v-3.5a.5.5 0 0 0-.5-.5h-4a4.5 4.5 0 0 0-4.473 4H2a2.03 2.03 0 0 1-.134-.004L20.862 0H23a2 2 0 0 1 2 2v12.193l-4 1.5V19zm1.883.65L28 18.277V28l-7.225-2.71c-.265.426-.737.71-1.275.71h-4a5.499 5.499 0 0 1-4.849-2.901l12.275-3.29-.043-.16z" fill="#FDEFF2"/>
		<path d="M30 17a2 2 0 0 1 2 2v2a2 2 0 0 1-2 2v5.5a1.5 1.5 0 0 1-3 0v-.875l-6.225-2.334c-.265.425-.737.709-1.275.709H19v4a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2v-4c0-.073.004-.14.012-.204A5.502 5.502 0 0 1 10 20.5v-1c0-.169.008-.335.022-.5H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h21a2 2 0 0 1 2 2v11.125l2-.75V11.5a1.5 1.5 0 0 1 3 0V17zm-1 11.5v-17a.5.5 0 1 0-1 0v17a.5.5 0 1 0 1 0zm-5-15V2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v15a1 1 0 0 0 1 1h8.207a5.502 5.502 0 0 1 5.293-4h4c.538 0 1.01.284 1.275.71L24 13.5zM15.5 15a4.5 4.5 0 0 0-4.5 4.5v1a4.5 4.5 0 0 0 4.5 4.5h4a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-4zM15 26v4a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-4h-3zm6-10.307v8.614l6 2.25V13.443l-6 2.25zM30 18v4a1 1 0 0 0 1-1v-2a1 1 0 0 0-1-1z" fill="#C5C9D4"/>
		<path d="M4 10V5a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1zm11.5-6h5a.5.5 0 1 1 0 1h-5a.5.5 0 1 1 0-1zm0 3h5a.5.5 0 1 1 0 1h-5a.5.5 0 1 1 0-1zm0 3h5a.5.5 0 1 1 0 1h-5a.5.5 0 1 1 0-1z" fill="#E55E75"/>
	</symbol>
	<symbol id="application-management" viewBox=" 0 0 32 32">
		<path fill-rule="evenodd" clip-rule="evenodd" d="M19.896 16.63a6.663 6.663 0 1 0 0-13.326 6.663 6.663 0 0 0 0 13.326zm9.112 3.165a2 2 0 0 1 2.701.75c.565.978.24 2.19-.707 2.736l-14.917 8.42a3 3 0 0 1-2.264.282l-7.843-2.38A2 2 0 0 1 4 31.302H2a2 2 0 0 1-2-2v-10a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2h5a3 3 0 0 1 3 3h6a2 2 0 0 1 1.915 1.42l7.093-3.928z" fill="#fff"/>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M22.833 4L16 15.372A6.663 6.663 0 1 0 22.833 4zM11.188 18.666l-7.083 7.082L1 29.717c.37.353.846.484 1.431.393.119-.018.274-.015.454-.011.492.01 1.17.024 1.792-.382.185-.121.383-.509.593-1.164l8.474 2.782a3 3 0 0 0 2.264-.282l14.917-8.42c.947-.547 1.272-1.759.707-2.737a2 2 0 0 0-2.7-.75l-7.094 3.929a2 2 0 0 0-1.915-1.42h-6a3 3 0 0 0-2.736-2.99z" fill="#FBF0EA"/>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M17.136 1.45a.492.492 0 0 0-.273.701.512.512 0 0 0 .61.242 9 9 0 0 1 .555-.164 8.004 8.004 0 0 1 8.798 11.835l-.09-.089a.5.5 0 0 0-.84.241l-.371 1.61a.5.5 0 0 0 .6.6l1.609-.372a.5.5 0 0 0 .241-.84l-.422-.422A9.004 9.004 0 0 0 17.537 1.323c-.11.03-.256.078-.4.126zm5.863 16.394a.49.49 0 0 1-.276.702c-.264.086-.567.18-.777.227a9.004 9.004 0 0 1-9.633-13.565l-.472-.472a.5.5 0 0 1 .241-.84l1.736-.4a.5.5 0 0 1 .6.599l-.401 1.735a.5.5 0 0 1-.841.241l-.136-.135a8.003 8.003 0 0 0 8.574 11.887c.211-.046.529-.14.782-.22a.51.51 0 0 1 .603.241zM2 16.75h2a2 2 0 0 1 2 2h5a3 3 0 0 1 3 3h6a2 2 0 0 1 1.915 1.42l7.093-3.928a2 2 0 0 1 2.701.75c.565.978.24 2.19-.707 2.736l-14.917 8.42a3 3 0 0 1-2.264.282l-7.843-2.38A2 2 0 0 1 4 30.75H2a2 2 0 0 1-2-2v-10a2 2 0 0 1 2-2zm4 11.239V19.75h5a2 2 0 0 1 2 2v1h7a1 1 0 1 1 0 2H9.5a.5.5 0 0 0 0 1H20c.91 0 1.678-.608 1.92-1.44l7.573-4.193c.477-.264 1.077-.098 1.368.405a.983.983 0 0 1-.367 1.345l-14.9 8.41a2 2 0 0 1-1.51.188L6 27.99zM1 18.75a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-10z" fill="#C5C9D4"/>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M22.405 14.385a4.97 4.97 0 0 1-1.006.417l-.171.514a1 1 0 0 1-.949.684h-.558a1 1 0 0 1-.949-.684l-.171-.514a4.97 4.97 0 0 1-1.006-.417l-.486.242a1 1 0 0 1-1.154-.187l-.395-.395a1 1 0 0 1-.187-1.154l.242-.486a4.97 4.97 0 0 1-.417-1.005l-.514-.172a1 1 0 0 1-.684-.949v-.558a1 1 0 0 1 .684-.949l.514-.171a4.97 4.97 0 0 1 .417-1.006l-.242-.486a1 1 0 0 1 .187-1.154l.395-.395a1 1 0 0 1 1.154-.187l.486.242a4.97 4.97 0 0 1 1.006-.417l.171-.514A1 1 0 0 1 19.721 4h.558a1 1 0 0 1 .949.684l.171.514c.353.103.69.244 1.006.417l.486-.242a1 1 0 0 1 1.154.187l.395.395a1 1 0 0 1 .187 1.154l-.242.486c.173.316.314.653.416 1.006l.515.171a1 1 0 0 1 .684.949v.558a1 1 0 0 1-.684.949l-.514.171a4.97 4.97 0 0 1-.417 1.006l.242.486a1 1 0 0 1-.187 1.154l-.395.395a1 1 0 0 1-1.154.187l-.486-.242zM20 12.5a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5zM4 27.952a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" fill="#E06E31"/>
	</symbol>
	<symbol id="arrow-left" viewBox="0 0 40 40">
		<path d="M19.737 15.665l-.491-.504a.51.51 0 0 0-.38-.161.51.51 0 0 0-.38.16l-4.33 4.45c-.104.107-.156.237-.156.39s.052.283.156.39l4.33 4.45a.51.51 0 0 0 .38.16.51.51 0 0 0 .38-.16l.49-.505a.472.472 0 0 0 .168-.39.581.581 0 0 0-.167-.39l-2.679-2.638h8.906a.51.51 0 0 0 .38-.16.538.538 0 0 0 .156-.39v-.734a.538.538 0 0 0-.156-.39.51.51 0 0 0-.38-.16h-8.906l2.679-2.638a.581.581 0 0 0 .167-.39.472.472 0 0 0-.167-.39z" fill="#5b6170" fill-rule="evenodd"/>
	</symbol>
	<symbol id="arrow-right" viewBox="0 0 10 8">
		<path d="M5.41.532l.394-.404A.408.408 0 0 1 6.107 0c.12 0 .22.043.304.128l3.464 3.56A.43.43 0 0 1 10 4a.43.43 0 0 1-.125.312l-3.464 3.56A.408.408 0 0 1 6.107 8a.408.408 0 0 1-.303-.128l-.393-.404a.378.378 0 0 1-.134-.312.465.465 0 0 1 .134-.312l2.143-2.11H.429a.408.408 0 0 1-.304-.128A.43.43 0 0 1 0 4.294v-.588a.43.43 0 0 1 .125-.312.408.408 0 0 1 .304-.128h7.125L5.41 1.156a.465.465 0 0 1-.134-.312.378.378 0 0 1 .134-.312z"/>
	</symbol>
	<symbol id="collaboration" viewBox="0 0 32 32">
		<g clip-path="url(#clip0)">
			<path d="M18.602 10.946l6.883-9.83a6 6 0 1 1-6.883 9.83zm-16 13l6.883-9.83a6 6 0 1 1-6.883 9.83zm20 7l6.883-9.83a6 6 0 1 1-6.883 9.83z" fill="#FDEFF2"/>
			<path d="M5.997 10.073a13.032 13.032 0 0 1 7.155-5.494c.129-.04.296-.087.502-.14a.36.36 0 0 1 .448.4.833.833 0 0 1-.587.679c-.193.057-.35.107-.47.15a12.032 12.032 0 0 0-5.89 4.47c-.075.106-.166.245-.274.416a1 1 0 0 1-.848.466h-.01a.336.336 0 0 1-.29-.502c.104-.183.192-.331.264-.445zM9.801 26.6a11.946 11.946 0 0 0 8.229 2.354.738.738 0 0 1 .734.423.38.38 0 0 1-.301.537c-.31.035-.56.058-.75.068a12.944 12.944 0 0 1-8.973-2.946h-.001a.337.337 0 0 1 .096-.574l.004-.001a1 1 0 0 1 .962.14zm18.963-15.138a12.95 12.95 0 0 1 1.151 7.002.381.381 0 0 1-.54.3.736.736 0 0 1-.42-.733A9.955 9.955 0 0 0 29 17a11.962 11.962 0 0 0-1.057-4.926.83.83 0 0 1 .124-.887.362.362 0 0 1 .6.073l.097.201zM22 12a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-1a5 5 0 1 0 0-10 5 5 0 0 0 0 10zM6 25a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-1a5 5 0 1 0 0-10 5 5 0 0 0 0 10zm20 8a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-1a5 5 0 1 0 0-10 5 5 0 0 0 0 10z" fill="#C5C9D4"/>
			<path d="M22 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm-2.836 2.119C19.57 8.706 20.518 8 22.007 8c1.487 0 2.434.703 2.841 2.11-.808.561-1.79.89-2.848.89a4.977 4.977 0 0 1-2.836-.881zM6 21a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm-2.836 2.119C3.57 21.706 4.518 21 6.008 21c1.486 0 2.433.703 2.84 2.11C8.04 23.67 7.058 24 6 24a4.977 4.977 0 0 1-2.836-.881zM26 28a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm-2.836 2.119C23.57 28.706 24.518 28 26.007 28c1.487 0 2.434.703 2.841 2.11-.808.561-1.79.89-2.848.89a4.977 4.977 0 0 1-2.836-.881z" fill="#E55E75"/>
		</g>
		<defs>
			<clipPath id="clip0">
			<path fill="#fff" d="M0 0h32v32H0z"/>
			</clipPath>
		</defs>
	</symbol>
	<symbol id="commerce-logo" viewBox="0 0 32 32">
		<path d="m12.254 5.918 7.337 6.289c.893.815 1.01 2.213.194 3.106l-8.618 10.016a2.118 2.118 0 0 1 -1.453.753 1.739 1.739 0 0 1 -.294.023l-6.561-.078c-.816 0-1.63-.698-1.747-1.514l-1.003-6.203c-.109-.71-.092-1.528.42-2.143l8.619-10.017c.776-.932 2.174-1.01 3.106-.233z" fill="#1aa0e8"/>
		<path d="m19.746 25.173-7.298-6.289a2.172 2.172 0 0 1 -.233-3.106l8.618-10.016c.502-.602 1.167-.762 1.991-.736l6.356.038c.815 0 1.63.698 1.747 1.514l1.048 6.483c.014.099.021.189.02.27a2.275 2.275 0 0 1 -.524 1.593l-8.619 10.016c-.776.932-2.174 1.01-3.106.233z" fill="#0b63ce"/>
		<path d="m17.115 10.084 2.476 2.123c.893.815 1.01 2.213.194 3.106l-4.889 5.681-2.448-2.11a2.172 2.172 0 0 1 -.233-3.106z" fill="#134194"/>
	</symbol>
	<symbol id="compatibility-matrix" viewBox="0 0 32 32">
		<path d="M11 7V2a2 2 0 0 1 2-2h17a2 2 0 0 1 2 2v28a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h9z" fill="#fff" />
		<path clip-rule="evenodd" d="M31.543.728a2.01 2.01 0 0 0-.27-.271l.27.27zm.077.099L.827 31.62c.33.239.735.38 1.173.38h28a2 2 0 0 0 2-2V2a1.99 1.99 0 0 0-.38-1.173z" fill="#E8F5FC" fill-rule="evenodd" />
		<path clip-rule="evenodd" d="M11 2v5H2a2 2 0 0 0-2 2v21a2 2 0 0 0 2 2h28a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H13a2 2 0 0 0-2 2zm20 5h-9V1h8a1 1 0 0 1 1 1v5zM11 20v11H2a1 1 0 0 1-1-1V20h10zm0-1H1V9a1 1 0 0 1 1-1h9v11zm10 12h-9v-5h9v5zM12 8v5h9V8h-9zm0 11v-5h9v5h-9zm0 1v5h9v-5h-9zm18 11h-8v-5h9v4a1 1 0 0 1-1 1zM22 8v5h9V8h-9zm0 11v-5h9v5h-9zm0 1v5h9v-5h-9zM21 1h-8a1 1 0 0 0-1 1v5h9V1zm-6.5 9h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1 0-1zm4-6h-4a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1zm6 0h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1 0-1zm-6 12h-4a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1zm-4 6h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1 0-1zm14-12h-4a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1zm-4 6h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1 0-1zm4 6h-4a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1zm-14 6h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1 0-1zm14 0h-4a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1z" fill="#C5C9D4" fill-rule="evenodd" />
		<path clip-rule="evenodd" d="M7 10H5a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-5a1 1 0 0 0-1-1zm0 12H5a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-5a1 1 0 0 0-1-1z" fill="#1AA0E8" fill-rule="evenodd" />
	</symbol>
	<symbol id="community" viewBox="0 0 32 32">
		<path d="M10.4 15.2c-.45 0-.825-.15-1.125-.475-.325-.3-.475-.675-.475-1.125 0-.425.15-.8.475-1.125.3-.3.675-.475 1.125-.475.425 0 .8.175 1.125.475.3.325.475.7.475 1.125 0 .45-.175.825-.475 1.125-.325.325-.7.475-1.125.475zm11.2 0c-.45 0-.825-.15-1.125-.475-.325-.3-.475-.675-.475-1.125 0-.425.15-.8.475-1.125.3-.3.675-.475 1.125-.475.425 0 .8.175 1.125.475.3.325.475.7.475 1.125 0 .45-.175.825-.475 1.125-.325.325-.7.475-1.125.475zm.8.8c.425 0 .8.175 1.125.475.3.325.475.7.475 1.125v.8a.814.814 0 0 1-.8.8h-1.65c-.1-.575-.3-1.1-.625-1.6-.35-.475-.75-.85-1.25-1.125.3-.3.675-.475 1.125-.475h1.6zM16 16c-.5 0-.975-.125-1.4-.375a2.53 2.53 0 0 1-1.025-1.025c-.25-.425-.375-.9-.375-1.4 0-.5.125-.95.375-1.4a2.69 2.69 0 0 1 1.025-1.025c.425-.25.9-.375 1.4-.375.5 0 .95.125 1.4.375.425.25.775.6 1.025 1.025.25.45.375.9.375 1.4 0 .5-.125.975-.375 1.4-.25.45-.6.775-1.025 1.025A2.8 2.8 0 0 1 16 16zm1.925.8c.5 0 .975.15 1.425.4.45.25.8.6 1.05 1.05.25.45.4.925.4 1.425v.725c0 .35-.125.625-.35.85-.25.25-.525.35-.85.35h-7.2c-.35 0-.625-.1-.85-.35-.25-.225-.35-.5-.35-.85v-.725c0-.5.125-.975.375-1.425.25-.45.6-.8 1.05-1.05.45-.25.925-.4 1.45-.4h.2c.55.275 1.125.4 1.725.4a3.95 3.95 0 0 0 1.725-.4h.2zm-5.6-.325c-.5.275-.925.65-1.25 1.125-.35.5-.55 1.025-.625 1.6H8.8a.792.792 0 0 1-.575-.225A.792.792 0 0 1 8 18.4v-.8c0-.425.15-.8.475-1.125.3-.3.675-.475 1.125-.475h1.6c.425 0 .8.175 1.125.475z" fill="#000"/>
	</symbol>
	<symbol id="connected-services" viewBox="0 0 32 32">
		<path fill="#fff" d="M0 0h32v32H0z"/>
		<path d="M10.361 13.069l.297.153 5.657-10.675-.296-.154" fill="#009DB7"/>
		<path d="M16.154 22.328l-.167-.272 5.207-3.132.167.272" fill="#005B96"/>
		<path d="M11.724 26.892l-.24-.22 4.431-4.758.24.219" fill="#1A75B8"/>
		<path d="M16.035 29.511L4.237 22.766l.161-.277 11.636 6.655 5.424-3.102.16.276-5.583 3.193zm-.104-7.181l-5.419-3.132.162-.275 5.42 3.132" fill="#1A75B8"/>
		<path d="M10.432 12.814h.321v6.247h-.321v-6.247zM4.365 9.59h.322v12.951h-.322V9.592z" fill="#038AB5"/>
		<path d="M10.666 12.951l-.161-.276 5.486-3.147.16.276-5.485 3.147zm17.053-3.566L10.552 5.802l.066-.311 17.169 3.582" fill="#009DB7"/>
		<path d="M16.182 9.78l-.223-.23 4.672-4.443.221.23" fill="#00B6B7"/>
		<path d="M8.552 11.619l-.302-.109 2.185-5.918.3.109M4.469 22.681l-.303-.11L8.25 11.51l.303.11" fill="#038AB5"/>
		<path d="M11.41 19.717l-7.165-3.646.146-.283 7.168 3.645-.148.284zm4.657 5.172l5.504 1.136-.064.312-5.504-1.136.064-.312z" fill="#1A75B8"/>
		<path d="M4.35 22.471l11.718 2.417-.065.313-11.717-2.417.065-.313z" fill="#1A75B8"/>
		<path d="M16.177 29.401l-.284-.148 5.455-10.267.284.149" fill="#005B96"/>
		<path d="M21.62 12.951l-.162-.275 6.214-3.584.162.274" fill="#00B6B7"/>
		<path d="M15.954 2.668l11.718 6.7.162-.277-11.718-6.697-.162.274zM21.46 12.92L15.99 9.804l.16-.276 5.468 3.116" fill="#00B6B7"/>
		<path d="M10.505 5.509l.161.276 5.45-3.117-.162-.275M4.398 9.367l-.16-.275 6.267-3.583.161.276" fill="#009DB7"/>
		<path d="M16.778 2.736a.74.74 0 0 1-.743.736.74.74 0 0 1-.744-.736.74.74 0 0 1 .744-.736c.411 0 .743.329.743.736z" fill="#00B6B7"/>
		<path d="M11.409 5.785a.74.74 0 0 1-.743.736.74.74 0 0 1-.744-.736.74.74 0 0 1 .743-.737c.41 0 .743.33.743.737" fill="#009DB7"/>
		<path d="M5.27 9.592c0 .4-.333.723-.744.723a.734.734 0 0 1-.743-.723c0-.4.333-.724.743-.724s.744.325.744.724zm0 6.59c0 .4-.333.723-.744.723a.733.733 0 0 1-.743-.723c0-.4.333-.722.743-.722s.744.323.744.723" fill="#038AB5"/>
		<path d="M5.236 22.62c0 .4-.332.724-.743.724a.733.733 0 0 1-.743-.723c0-.4.332-.723.743-.723s.743.323.743.723zm6.1-3.56a.74.74 0 0 1-.743.737.74.74 0 0 1-.743-.737c0-.407.332-.736.743-.736s.744.33.744.737" fill="#1A75B8"/>
		<path d="M11.337 12.814a.74.74 0 0 1-.744.736.74.74 0 0 1-.743-.737.74.74 0 0 1 .743-.736.74.74 0 0 1 .744.736" fill="#038AB5"/>
		<path d="M16.858 9.666a.738.738 0 0 1-.743.735.738.738 0 0 1-.744-.735.74.74 0 0 1 .744-.737.74.74 0 0 1 .743.737" fill="#009DB7"/>
		<path d="M21.458 5.337a.74.74 0 0 1-.743.736.74.74 0 0 1-.743-.736.74.74 0 0 1 .743-.736.74.74 0 0 1 .744.736h-.001zm7.167 4.162c0 .4-.332.724-.743.724a.733.733 0 0 1-.743-.724c0-.399.333-.722.743-.722s.743.323.743.722zm-6.287 3.315a.739.739 0 0 1-.742.736.74.74 0 0 1-.744-.737.74.74 0 0 1 .744-.736c.41 0 .742.329.742.736" fill="#00B6B7"/>
		<path d="M16.73 22.192a.74.74 0 0 1-.743.736.74.74 0 0 1-.743-.736.74.74 0 0 1 .743-.736.74.74 0 0 1 .743.736zM16.778 29.263a.74.74 0 0 1-.743.737.74.74 0 0 1-.743-.737c0-.406.332-.735.743-.735a.74.74 0 0 1 .743.735z" fill="#006AA0"/>
		<path d="M12.3 26.71a.739.739 0 0 1-.742.736.74.74 0 0 1-.743-.736.74.74 0 0 1 .743-.736c.41 0 .742.33.742.736" fill="#1A75B8"/>
		<path d="M27.674 22.82l-6.476-3.621.158-.277 6.476 3.62" fill="#005B96"/>
		<path d="M21.62 26.317l-.161-.275 6.213-3.553.162.276" fill="#005B96"/>
	</symbol>
	<symbol id="contact" viewBox="0 0 32 32">
		<path fill-rule="evenodd" clip-rule="evenodd" d="M9.52 9.675a.518.518 0 0 0-.383.219.693.693 0 0 0-.137.41c0 2.299.574 4.433 1.723 6.403a12.752 12.752 0 0 0 4.566 4.57A12.472 12.472 0 0 0 21.687 23a.692.692 0 0 0 .41-.137.519.519 0 0 0 .219-.383l.656-2.846a.618.618 0 0 0-.055-.437.589.589 0 0 0-.328-.301l-3.062-1.314a.593.593 0 0 0-.397-.027.815.815 0 0 0-.369.219l-1.34 1.642a9.612 9.612 0 0 1-2.857-1.998 10.051 10.051 0 0 1-1.982-2.845l1.64-1.341a.815.815 0 0 0 .22-.37.593.593 0 0 0-.028-.396L13.1 9.4a.589.589 0 0 0-.3-.328.617.617 0 0 0-.438-.055l-2.843.657z" fill="#09101D"/>
	</symbol>
	<symbol id="deployment-guide" viewBox="0 0 32 32">
		<path d="m8.241 21.47a5.108 5.108 0 1 1 -5.079 8.796l5.08-8.797zm20 0a5.108 5.108 0 1 1 -5.079 8.796l5.08-8.797zm-8.948-19.47a6.093 6.093 0 1 1 -6.08 10.53z" fill="#168cca" opacity=".1"/>
		<path d="m24 17.5h-16a1.5 1.5 0 0 0 -1.5 1.5v1h-1v-1a2.5 2.5 0 0 1 2.5-2.5h7.5v-2.5h1v2.5h7.5a2.5 2.5 0 0 1 2.5 2.5v1h-1v-1a1.5 1.5 0 0 0 -1.5-1.5zm2 2.5a6 6 0 1 1 0 12 6 6 0 0 1 0-12zm-10-20a7 7 0 1 1 0 14 7 7 0 0 1 0-14zm0 1a6 6 0 1 0 0 12 6 6 0 0 0 0-12zm-10 19a6 6 0 1 1 0 12 6 6 0 0 1 0-12zm0 1a5 5 0 1 0 0 10 5 5 0 0 0 0-10zm20 0a5 5 0 1 0 0 10 5 5 0 0 0 0-10z" fill="#c5c9d4"/>
		<path d="m16 5a2 2 0 1 1 0 4 2 2 0 0 1 0-4zm10 19a2 2 0 1 1 0 4 2 2 0 0 1 0-4zm-20 0a2 2 0 1 1 0 4 2 2 0 0 1 0-4z" fill="#168cca"/>
	</symbol>
	<symbol id="developer-reference" viewBox="0 0 32 32">
		<path fill="#E8F6ED" d="M26.319 4H32v20H6.319z"/>
		<path d="M2 26h28a1 1 0 0 0 1-1v-1H1v1a1 1 0 0 0 1 1zm18 1v2h3.544a1 1 0 0 1 .946.675l.283.825a1.132 1.132 0 0 1-1.07 1.5H8.296a1.132 1.132 0 0 1-1.07-1.5l.284-.825A1 1 0 0 1 8.456 29H12v-2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h28a2 2 0 0 1 2 2v23a2 2 0 0 1-2 2H20zm3.544 3H8.456l-.284.825a.132.132 0 0 0 .124.175h15.407a.132.132 0 0 0 .125-.175L23.544 30zM31 23V4H1v19h30zm0-20V2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v1h30zM13 27v2h6v-2h-6zM4.5 7h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1 0-1zm14 12h1a.5.5 0 1 1 0 1h-1a.5.5 0 1 1 0-1zm6-3h1a.5.5 0 1 1 0 1h-1a.5.5 0 1 1 0-1zm2-6h1a.5.5 0 1 1 0 1h-1a.5.5 0 1 1 0-1zm-4 0h2a.5.5 0 1 1 0 1h-2a.5.5 0 1 1 0-1zm-18 0h1a.5.5 0 1 1 0 1h-1a.5.5 0 1 1 0-1zm0 3h1a.5.5 0 1 1 0 1h-1a.5.5 0 1 1 0-1zm0 3h1a.5.5 0 1 1 0 1h-1a.5.5 0 1 1 0-1zm0 3h1a.5.5 0 1 1 0 1h-1a.5.5 0 1 1 0-1z" fill="#C5C9D4"/>
		<path d="M8.5 7h3a.5.5 0 1 1 0 1h-3a.5.5 0 0 1 0-1zm0 9h4a.5.5 0 1 1 0 1h-4a.5.5 0 1 1 0-1zm0-3h1a.5.5 0 1 1 0 1h-1a.5.5 0 1 1 0-1zm10-3h1a.5.5 0 1 1 0 1h-1a.5.5 0 1 1 0-1zm-4 6h1a.5.5 0 1 1 0 1h-1a.5.5 0 1 1 0-1zm3 0h4a.5.5 0 1 1 0 1h-4a.5.5 0 1 1 0-1zm-6-3h2a.5.5 0 1 1 0 1h-2a.5.5 0 1 1 0-1zm-3 6h7a.5.5 0 1 1 0 1h-7a.5.5 0 1 1 0-1zm0-9h8a.5.5 0 1 1 0 1h-8a.5.5 0 1 1 0-1zm7 3h7a.5.5 0 1 1 0 1h-7a.5.5 0 1 1 0-1z" fill="#19AB4F"/>
	</symbol>
	<symbol id="developer-tools-frameworks" vieBox="0 0 32 32">
		<path fill="#fff" d="M0 0h32v32H0z"/>
		<path d="M29.733 7.987v16L15.867 32 2 23.987v-16L15.867 0l13.866 7.987z" fill="#F5F6E4"/>
		<path d="M2.027 8l13.866 7.973-.053 15.974-13.813-8V8zM29.653 7.961l-13.76 8.066-.053 15.946 13.813-8V7.961z" fill="#B5CBD6"/>
		<path d="M26.267 9.867v12.266L15.893 28 5.467 22.133V9.867L15.867 4l10.4 5.867z" fill="#AFDDD8"/>
		<path d="M5.467 9.867L15.867 16v12l-10.4-5.867V9.867zM26.267 9.867L15.867 16v12l10.4-5.867V9.867z" fill="#72C8CD"/>
	</symbol>
	<symbol id="developer-tutorials" viewBox="0 0 32 32">
		<path d="M32 3.319V30a2 2 0 0 1-2 2H3.319L32 3.319z" fill="#FCF0EF"/>
		<path d="M2 1a1 1 0 0 0-1 1v28a1 1 0 0 0 1 1h28a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2zm0-1h28a2 2 0 0 1 2 2v28a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm8 5a1 1 0 1 1 0-2 1 1 0 0 1 0 2zM7 5a1 1 0 1 1 0-2 1 1 0 0 1 0 2zM4 5a1 1 0 1 1 0-2 1 1 0 0 1 0 2zM1 7v1h30V7H1z" fill="#C5C9D4"/>
		<path d="M10.5 18.996l2.197 2.216c.404.408.404 1.07 0 1.478a1.029 1.029 0 0 1-1.465 0l-2.929-2.955a1.051 1.051 0 0 1 0-1.478l2.93-2.955a1.029 1.029 0 0 1 1.464 0c.404.408.404 1.07 0 1.477L10.5 18.996zm11 0l-2.197-2.217a1.051 1.051 0 0 1 0-1.477 1.029 1.029 0 0 1 1.465 0l2.929 2.955c.404.408.404 1.07 0 1.478l-2.93 2.955a1.029 1.029 0 0 1-1.464 0 1.051 1.051 0 0 1 0-1.478l2.197-2.216zm-3.688-6.762a1 1 0 0 1 .707 1.225L15.413 25.05a1 1 0 0 1-1.932-.517l3.106-11.592a1 1 0 0 1 1.225-.707z" fill="#D33A2F"/>
	</symbol>
	<symbol id="development-lifecycle" viewBox="0 0 32 32">
		<path fill="#E8F6ED" d="M6.835 25.22L25.206 6.849c.239-.239 1.457.062 1.79.485A13.94 13.94 0 0 1 30 16c0 7.732-6.268 14-14 14-3.051 0-5.875-.976-8.175-2.633-.262-.189.817-1.038.62-1.433-.257-.514-1.743-.58-1.61-.714z"/>
		<path fill="#C5C9D4" d="M2.254 22.013a2.5 2.5 0 0 0-.933.363C-1.22 16.526-.096 9.47 4.686 4.686c5.819-5.818 15.005-6.219 21.286-1.2l2.133-2.132a.5.5 0 0 1 .838.232l1.584 6.335a.5.5 0 0 1-.606.606l-6.335-1.584a.5.5 0 0 1-.232-.838l1.906-1.907C19.374-.432 10.821-.034 5.393 5.393.9 9.887-.147 16.523 2.253 22.013zM28.187 2.685l-3.502 3.502 4.67 1.168-1.168-4.67zm1.788 7.856a2.5 2.5 0 0 0 1.002-.18c2.142 5.696.92 12.37-3.663 16.953-5.666 5.666-14.525 6.194-20.786 1.584l-2.236 2.236a.5.5 0 0 1-.844-.256l-1.26-6.303a.5.5 0 0 1 .587-.588l6.304 1.26a.5.5 0 0 1 .255.844l-2.09 2.09c5.862 4.225 14.088 3.7 19.363-1.574 4.343-4.344 5.466-10.688 3.368-16.066zM4.245 29.766l3.722-3.721-4.652-.93.93 4.651z"/>
		<path fill="#19AB4F" d="M10.5 15.996l2.197 2.216c.404.408.404 1.07 0 1.478a1.029 1.029 0 0 1-1.465 0l-2.929-2.955a1.051 1.051 0 0 1 0-1.478l2.93-2.955a1.029 1.029 0 0 1 1.464 0c.404.408.404 1.07 0 1.477L10.5 15.996zm11 0l-2.197-2.217a1.051 1.051 0 0 1 0-1.477 1.029 1.029 0 0 1 1.465 0l2.929 2.955c.404.408.404 1.07 0 1.478l-2.93 2.955a1.029 1.029 0 0 1-1.464 0 1.051 1.051 0 0 1 0-1.478l2.197-2.216zm-3.688-6.762a1 1 0 0 1 .707 1.225L15.413 22.05a1 1 0 0 1-1.932-.517L16.587 9.94a1 1 0 0 1 1.225-.707z"/>
	</symbol>
	<symbol id="documentation" viewBox="0 0 32 32">
		<path d="M26 18.245V31.5a.5.5 0 0 1-.5.5h-22A3.5 3.5 0 0 1 0 28.5V4.154C0 1.86 1.79 0 4 0h20c1.105 0 2 .93 2 2.077v.71c-.22-.06-.22 5.093 0 15.458z" fill="#FFF"/>
		<path d="M25.432 18.374l.048 2.15C25.365 23.507 25.205 25 25 25H7c-.112 0 1.417-4.667 4.587-14h4.358a8.001 8.001 0 0 0 9.487 7.374zm-.368-15.779a7.988 7.988 0 0 0-6.79 2.263A7.99 7.99 0 0 0 16.74 7H12.95A5026.63 5026.63 0 0 1 15 1h10c0 .06.025.645.064 1.595z" fill="#E8F5FC"/>
		<path d="M25 2.587V2.2c0-.663-.448-1.2-1-1.2H5v24h19a1 1 0 0 0 1-1v-5.556c.336-.045.67-.111 1-.2V24a2 2 0 0 1-2 2H3.5a2.5 2.5 0 1 0 0 5h22a.5.5 0 1 1 0 1h-22A3.5 3.5 0 0 1 0 28.5V4.154C0 1.86 1.79 0 4 0h20c1.105 0 2 .93 2 2.077v.71a8.014 8.014 0 0 0-1-.2zM17.324 6c-.22.322-.415.656-.583 1H9v4h6.945c.02.335.061.67.123 1H9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h8.324zM4 1C2.343 1 1 2.612 1 4.6v21.45A3.49 3.49 0 0 1 3.5 25H4V1zm.5 27h21a.5.5 0 1 1 0 1h-21a.5.5 0 1 1 0-1z" fill="#CED3DE"/>
		<path d="M27.407 15.406a6.002 6.002 0 0 1-7.72-9.134 6 6 0 0 1 9.134 7.72l2.887 2.887a1 1 0 1 1-1.414 1.414l-2.887-2.887zm-.649-2.063a4 4 0 1 0-5.656-5.656 4 4 0 0 0 5.656 5.656z" fill="#1AA0E8"/>
	</symbol>
	<symbol id="downloads" viewBox="0 0 32 32">
		<rect fill="#FFF" width="32" height="32" rx="2"/>
		<path d="M32 3.319V30a2 2 0 0 1-2 2H3.319L32 3.319z" fill="#FCF0EF"/>
		<path d="M2 1a1 1 0 0 0-1 1v28a1 1 0 0 0 1 1h28a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2zm0-1h28a2 2 0 0 1 2 2v28a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm8 5a1 1 0 1 1 0-2 1 1 0 0 1 0 2zM7 5a1 1 0 1 1 0-2 1 1 0 0 1 0 2zM4 5a1 1 0 1 1 0-2 1 1 0 0 1 0 2zM1 7v1h30V7H1z" fill="#C5C9D4"/>
		<path d="M17 22.59l1.83-1.83a1 1 0 1 1 1.414 1.414L16.71 25.71a1 1 0 0 1-1.414 0l-3.536-3.536a1 1 0 0 1 1.414-1.414L15 22.587V14a1 1 0 0 1 2 0v8.59z" fill="#D33A2F"/>
	</symbol>
	<symbol id="dxp-logo" viewBox="0 0 32 32">
		<g fill="none" fill-rule="evenodd">
			<path d="M0 0h32v32H0z"/>
			<path d="M8.62 4.585C12.338-.629 22.675.097 28.25 5.13c10.519 9.476-3.128 32.825-15.913 23.485a13.226 13.226 0 0 1-.953-.725c-4.035-3.491-7.3-8.433-3.853-21.037.226-.861.634-1.587 1.088-2.267z" fill="#1aa0e8"/>
			<path d="M8.62 4.585C19.365.187 32.83 10.751 22.357 22.494c-2.448 2.72-6.257 5.123-10.02 6.12-2.72.726-5.44.68-7.571-.544-5.123-2.856-6.393-13.012-2.448-18.452 1.813-2.449 3.99-4.08 6.302-5.033z" fill="#0b63ce"/>
			<path d="M22.357 22.494C32.83 10.75 19.365.187 8.62 4.585c-.454.68-.862 1.406-1.088 2.267-3.446 12.604-.182 17.546 3.853 21.037.318.272.635.499.952.725 3.763-.997 7.572-3.4 10.02-6.12z" fill="#134194" fill-rule="nonzero"/>
		</g>
	</symbol>
	<symbol id="dxp-cloud-logo" viewBox="0 0 32 32">
		<g fill-rule="nonzero" fill="#0B63CE">
			<path d="M10.069 3.08C14.55-.418 23.287.65 28.25 5.13c10.227 9.213-2.392 31.543-14.85 24.186 3.674-1.157 7.283-3.513 9.677-6.174l.003-.003c2.735-3.066 3.981-6.143 4.028-9 .048-2.86-1.11-5.382-2.963-7.322C20.854 3.37 15.314 1.702 10.07 3.08z"/>
			<path d="M12.338 28.614c-.12-.085-.239-.17-.358-.257a9.934 9.934 0 0 1-.595-.468c-3.783-3.273-6.888-7.821-4.422-18.762.164-.73.353-1.487.568-2.274v-.001c.199-.754.536-1.403.921-2.01.055-.086.111-.172.168-.257a13.677 13.677 0 0 1 4.104-.975c9.633-.763 18.797 8.609 9.633 18.884-2.448 2.72-6.256 5.123-10.019 6.12z"/>
			<path d="M2.318 9.618c1.4-1.89 3.015-3.293 4.743-4.273A7.098 7.098 0 0 0 6.595 6.6c-1.748 6.395-1.829 10.97-.877 14.443.959 3.5 2.933 5.761 5.033 7.578l.003.003c.11.094.22.184.328.268-2.29.405-4.514.213-6.316-.823-5.123-2.856-6.393-13.012-2.448-18.452z"/>
		</g>
	</symbol>
	<symbol id="enterprise-search" viewBox="0 0 32 32">
		<path d="M17.192 12.95a3 3 0 1 1-4.242 4.242 3 3 0 0 1 4.242-4.242z" fill="#0175B3"/>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M16 1L3 8v16l13 7 13-7V8L16 1zm-4.464 17.607a5.002 5.002 0 0 0 6.297.633c.02.026.043.05.067.074l1.414 1.414a1 1 0 0 0 1.414-1.414l-1.414-1.415a1.019 1.019 0 0 0-.074-.066 5.002 5.002 0 0 0-7.704-6.297 5 5 0 0 0 0 7.07z" fill="#0175B3"/>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M16 1L3 8v16l13 7 13-7V8L16 1zM6 22.208V9.792l10-5.385 10 5.385v12.416l-10 5.385-10-5.385z" fill="#9ECDEE"/>
	</symbol>
	<symbol id="feature-requests" viewBox="0 0 32 32">
		<path d="M20 23c1.275.22.74-.912 1-2 .354-1.483 1.286-3.27 2-5 1.239-3 .761-7-2-7s-7 2.03-7 7c0 1.763.465 3.063 1.172 4.097.512.748 1.149 1.358 1.828 1.903 1.03.827 2 .827 3 1z" fill="#E8F7F7"/>
		<path d="M16 16.271l-1.735.912a.5.5 0 0 1-.725-.527l.331-1.932-1.403-1.368a.5.5 0 0 1 .277-.852l1.94-.282.867-1.758a.5.5 0 0 1 .896 0l.868 1.758 1.94.282a.5.5 0 0 1 .276.852l-1.403 1.368.331 1.932a.5.5 0 0 1-.725.527L16 16.271z" fill="#42BFC2"/>
		<path d="M20 25v-2h-8v2h8zm1 1a3.001 3.001 0 0 1-2 2.83V29a3 3 0 0 1-6 0v-.17A3.001 3.001 0 0 1 11 26v-3c0-4-3-5.055-3-9 0-4.694 3.582-8 8-8s8 3.306 8 8c0 3.927-3 5-3 9v3zm-7 3a2 2 0 1 0 4 0h-4zm-2.049-7h8.098c.143-1.349.614-2.398 1.592-4.039l.028-.047C22.682 16.214 23 15.394 23 14c0-4.041-3.031-7-7-7s-7 2.959-7 7c0 1.406.318 2.223 1.338 3.932.997 1.67 1.47 2.72 1.613 4.068zM16 0a.5.5 0 0 1 .5.5v4a.5.5 0 1 1-1 0v-4A.5.5 0 0 1 16 0zm10.96 4.333a.5.5 0 0 1 0 .707l-2.828 2.828a.5.5 0 0 1-.707-.707l2.828-2.828a.5.5 0 0 1 .707 0zM8.575 22.718a.5.5 0 0 1 0 .707l-2.828 2.828a.5.5 0 1 1-.707-.707l2.828-2.828a.5.5 0 0 1 .707 0zM4.333 5.04a.5.5 0 0 1 .707 0l2.828 2.828a.5.5 0 0 1-.707.707L4.333 5.747a.5.5 0 0 1 0-.707zm18.385 18.385a.5.5 0 0 1 .707 0l2.828 2.828a.5.5 0 1 1-.707.707l-2.828-2.828a.5.5 0 0 1 0-.707zM1 15.5a.5.5 0 0 1 .5-.5h4a.5.5 0 1 1 0 1h-4a.5.5 0 0 1-.5-.5zm25 0a.5.5 0 0 1 .5-.5h4a.5.5 0 1 1 0 1h-4a.5.5 0 0 1-.5-.5zM12 26a2 2 0 0 0 2 2h4a2 2 0 0 0 2-2h-8z" fill="#CED3DE"/>
	</symbol>
	<symbol id="fix-delivery-method" viewBox="0 0 32 32">
		<path d="M4 30a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4a1 1 0 0 1 1-1h2a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2h2a1 1 0 0 1 1 1h4a2 2 0 0 1 2 2v23a2 2 0 0 1-2 2H4z" fill="#FFF"/>
		<path d="M26 10.317a6.003 6.003 0 0 0-5.378 9l-2.4 4.159A4.999 4.999 0 0 0 14.067 30H4a2.01 2.01 0 0 1-.396-.04L16.876 5h2.728V3H24a2 2 0 0 1 2 2v5.317zm0 11.998V28a2 2 0 0 1-2 2h-.43a5.004 5.004 0 0 0-.152-3.524l2.4-4.159c.061 0 .122 0 .182-.002z" fill="#FBF0EA"/>
		<path d="M14.068 30H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4a1 1 0 0 1 1-1h2a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2h2a1 1 0 0 1 1 1h4a2 2 0 0 1 2 2v5.317c-.336-.01-.67.009-1 .054V5a1 1 0 0 0-1-1h-4v1a1 1 0 0 1-1 1H9a1 1 0 0 1-1-1V4H4a1 1 0 0 0-1 1v23a1 1 0 0 0 1 1h9.85c.039.34.112.675.218 1zm9.502 0c.108-.328.18-.663.218-1H24a1 1 0 0 0 1-1v-4.265l.818-1.418c.061 0 .122 0 .182-.002V28a2 2 0 0 1-2 2h-.43zM20.82 13a6.055 6.055 0 0 0-.535 1H6.5a.5.5 0 1 1 0-1h14.319zm-.961 4c.039.338.106.673.202 1H6.5a.5.5 0 1 1 0-1h13.358zM6.5 9h15a.5.5 0 1 1 0 1h-15a.5.5 0 0 1 0-1zm0 12h5a.5.5 0 1 1 0 1h-5a.5.5 0 1 1 0-1zM16 2a1 1 0 0 0-1-1h-2a1 1 0 0 0-1 1h4zM9 3v2h10V3H9z" fill="#C5C9D4"/>
		<path d="M27.035 12.5l-1.937 3.355a1 1 0 0 0 1.732 1l1.937-3.355a4.002 4.002 0 0 1-3.874 6.71l-3.648 6.32a3.001 3.001 0 1 1-1.732-1l3.648-6.32a4.002 4.002 0 0 1 3.874-6.71zm-8.8 17.242a1.44 1.44 0 0 0 1.964-.537 1.44 1.44 0 0 0-.516-1.97 1.44 1.44 0 0 0-1.965.537 1.44 1.44 0 0 0 .517 1.97z" fill="#E06E31"/>
	</symbol>
	<symbol id="fixpack" viewBox="0 0 32 32">
		<path d="M9.726 25.832a2 2 0 0 0 2.758-.067l1.91-1.91a2 2 0 0 0 .308-2.43l5.535-5.534 1.423-.474a2 2 0 0 0 1.265-1.265l.39-1.173c.09-.266.113-.544.077-.812L28.56 7H31v25H3.559l6.167-6.168z" fill="#E8F7F7"/>
		<path d="M2 7v23a1 1 0 0 0 1 1h26a1 1 0 0 0 1-1V7H2zm29 0v23a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V7a1 1 0 0 1-1-1V1a1 1 0 0 1 1-1h30a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1zM1 1v5h30V1H1zm12.5 2h5a.5.5 0 1 1 0 1h-5a.5.5 0 1 1 0-1z" fill="#C5C9D4"/>
		<path d="M12.625 20.674l6.364-6.364.55-1.647a1 1 0 0 1 .632-.633l1.172-.39a.809.809 0 0 1 1.024 1.023l-.391 1.172a1 1 0 0 1-.633.633l-1.646.549-6.364 6.364.353.353a1 1 0 0 1 0 1.415l-1.91 1.909a1 1 0 0 1-1.413 0l-1.415-1.414a1 1 0 0 1 0-1.415l1.91-1.909a1 1 0 0 1 1.414 0l.353.354zm5.146-2.317l1.42 1.42a3.001 3.001 0 0 1 4.25 3.225l-2.41-1.392a1 1 0 0 0-1 1.732l2.428 1.402a3 3 0 0 1-4.681-3.552l-1.421-1.421 1.414-1.414zm-2.121-2.122l-1.415 1.415-.941-.942a3.001 3.001 0 0 1-4.25-3.224l2.411 1.391a1 1 0 0 0 1-1.732l-2.43-1.402a3 3 0 0 1 4.683 3.553l.942.941z" fill="#42BFC2"/>
	</symbol>
	<symbol id="fixpack-updates" viewBox="0 0 32 32">
		<rect fill="#FDF4F6" width="32" height="32" rx="16"/>
		<path d="M13.257 17.737l4.95-4.95 1.256-2.354a1 1 0 0 1 .632-.633l1.173-.39a.809.809 0 0 1 1.023 1.023l-.39 1.172a1 1 0 0 1-.633.633l-2.354 1.256-4.95 4.95.354.353a1 1 0 0 1 0 1.415L11.7 22.828a1 1 0 0 1-1.414 0l-1.414-1.414a1 1 0 0 1 0-1.415l2.616-2.616a1 1 0 0 1 1.414 0l.354.354zm4.438-1.61l1.421 1.42a3.001 3.001 0 0 1 4.25 3.225l-1.979-1.142a1 1 0 1 0-1 1.732l1.997 1.152a3 3 0 0 1-4.682-3.552l-1.42-1.421 1.413-1.414zm-2.121-2.122L14.16 15.42l-.942-.942a3.001 3.001 0 0 1-4.25-3.224l1.979 1.141a1 1 0 0 0 1-1.732L9.95 9.511a3 3 0 0 1 4.682 3.553l.942.941z" fill="#E55E75" fill-rule="nonzero"/>
	</symbol>
	<symbol id="getting-started" viewBox="0 0 32 32">
		<path d="M11 8h12v5a3 3 0 0 1-3 3h-9V8zM3 23h12v5a3 3 0 0 1-3 3H3v-8zm17 0h12v5a3 3 0 0 1-3 3h-9v-8z" fill="#E8F6ED" fill-rule="nonzero"/>
		<path d="M10 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H10zm9 14h-6a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V18a2 2 0 0 1 2-2h8a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2h9a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H19a2 2 0 0 1-2-2V18a2 2 0 0 1 2-2zM2 17a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1V18a1 1 0 0 0-1-1H2zm17 0a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1V18a1 1 0 0 0-1-1H19z" fill="#CED3DE" fill-rule="nonzero"/>
		<path d="M13.664 10.379c0-.343.278-.621.621-.621h.603V6.806h-.603a.477.477 0 0 1-.477-.477.61.61 0 0 1 .453-.59 4.5 4.5 0 0 0 .375-.112c.112-.041.263-.113.451-.214a1 1 0 0 1 .473-.119h.309c.313 0 .567.254.567.567v3.897h.405a.621.621 0 0 1 0 1.242h-2.556a.621.621 0 0 1-.621-.621zm-8.27 15.18v-.007a1 1 0 0 1 .317-.73c.273-.255.48-.45.623-.586.292-.276.545-.535.761-.779.216-.243.385-.473.509-.692.123-.22.184-.425.184-.617 0-.258-.064-.448-.194-.572a.706.706 0 0 0-.508-.184.82.82 0 0 0-.525.179.626.626 0 0 1-.825-.053l-.015-.015a.545.545 0 0 1 .042-.808 2.208 2.208 0 0 1 .958-.455c.178-.036.371-.054.581-.054.288 0 .552.045.792.135.24.09.447.216.621.378s.309.358.405.59c.096.23.144.487.144.769 0 .228-.05.46-.148.698a4.18 4.18 0 0 1-.383.706 6.503 6.503 0 0 1-.527.684 17.4 17.4 0 0 1-.58.63 11.7 11.7 0 0 1 .49-.05c.184-.015.338-.022.464-.022h.306a.648.648 0 0 1 0 1.296H5.835a.441.441 0 0 1-.441-.441zm18.89.549c-.468 0-.87-.072-1.206-.216a1.912 1.912 0 0 1-.321-.183.636.636 0 0 1-.156-.897.598.598 0 0 1 .798-.16 1.417 1.417 0 0 0 .723.214c.252 0 .453-.045.603-.135a.442.442 0 0 0 .225-.405.725.725 0 0 0-.054-.288.474.474 0 0 0-.207-.216 1.264 1.264 0 0 0-.432-.135 2.517 2.517 0 0 0-.205-.022.565.565 0 0 1-.524-.563c0-.292.218-.538.508-.572a1.184 1.184 0 0 0 .473-.144.504.504 0 0 0 .203-.202.596.596 0 0 0 .058-.27c0-.348-.198-.522-.594-.522a1.096 1.096 0 0 0-.561.144.65.65 0 0 1-.834-.144.553.553 0 0 1 .135-.823c.138-.085.255-.148.351-.19.3-.129.627-.193.981-.193.63 0 1.132.14 1.508.419.375.279.562.676.562 1.192 0 .552-.306.963-.918 1.233v.036c.324.102.588.265.792.49.204.226.306.518.306.878 0 .27-.06.508-.18.715-.12.208-.28.383-.482.527a2.153 2.153 0 0 1-.706.324 3.27 3.27 0 0 1-.846.108z" fill="#19AB4F"/>
	</symbol>
	<symbol id="help-topics" viewBox="0 0 32 32">
		<path d="M29 8.483V30a2 2 0 0 1-2 2H5.483a2.03 2.03 0 0 0 .094-.088L28.912 8.577c.03-.03.06-.062.088-.094z" fill="#E8F7F7" fill-rule="nonzero"/>
		<path d="M3 29H2a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4V2a2 2 0 0 1 2-2h22a2 2 0 0 1 2 2v22a2 2 0 0 1-2 2h-1v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-1zm0-1V8a2 2 0 0 1 2-2h20V5a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v22a1 1 0 0 0 1 1h1zM26 6h1a2 2 0 0 1 2 2v17h1a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H8a1 1 0 0 0-1 1v1h17a2 2 0 0 1 2 2v1zM5 7a1 1 0 0 0-1 1v22a1 1 0 0 0 1 1h22a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H5z" fill="#C5C9D4" fill-rule="nonzero"/>
		<path d="M14.13 19.78c.1-.373.243-.72.43-1.04.187-.32.397-.613.63-.88.233-.267.457-.523.67-.77.213-.247.39-.487.53-.72.14-.233.21-.477.21-.73 0-.413-.123-.727-.37-.94-.247-.213-.57-.32-.97-.32a1.875 1.875 0 0 0-1.194.399 1 1 0 0 1-1.269-.066l-.167-.153a.992.992 0 0 1 .045-1.504c.309-.25.58-.435.815-.556a4.622 4.622 0 0 1 2.15-.5c.533 0 1.03.067 1.49.2.46.133.86.34 1.2.62.34.28.607.637.8 1.07.193.433.29.943.29 1.53 0 .413-.073.783-.22 1.11-.147.327-.33.63-.55.91-.22.28-.453.55-.7.81a8.58 8.58 0 0 0-.68.81c-.207.28-.37.577-.49.89a1.376 1.376 0 0 0-.065.246 1 1 0 0 1-.984.824h-.65a.985.985 0 0 1-.951-1.24zm1.23 6.1c-.507 0-.927-.177-1.26-.53-.333-.353-.5-.79-.5-1.31 0-.533.167-.977.5-1.33.333-.353.753-.53 1.26-.53s.93.177 1.27.53c.34.353.51.797.51 1.33 0 .52-.17.957-.51 1.31a1.69 1.69 0 0 1-1.27.53z" fill="#42BFC2"/>
	</symbol>
	<symbol id="info" viewBox="0 0 16 16">
		<path fill="#2A303E" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm1-4V7a.999.999 0 1 0-2 0v5a.999.999 0 1 0 2 0zM8 5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
	</symbol>
	<symbol id="info-circle" viewBox="0 0 512 512">
		<path class="lexicon-icon-outline" d="M437,75C388.7,26.6,324.4,0,256,0C187.6,0,123.3,26.6,75,75C26.6,123.3,0,187.6,0,256c0,68.4,26.6,132.7,75,181c48.4,48.4,112.6,75,181,75c68.4,0,132.7-26.6,181-75c48.4-48.4,75-112.6,75-181C512,187.6,485.4,123.3,437,75z M288,384c0,17.7-14.3,32-32,32c-17.7,0-32-14.3-32-32V224c0-17.7,14.3-32,32-32c17.7,0,32,14.3,32,32V384z M256,160c-17.7,0-32-14.3-32-32c0-17.7,14.3-32,32-32s32,14.3,32,32C288,145.7,273.7,160,256,160z" />
	</symbol>
	<symbol id="knowledge-base" viewBox="0 0 32 32">
		<path d="M7 28H5a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h18a2 2 0 0 1 2 2v2h2a2 2 0 0 1 2 2v18.725a2 2 0 0 1-.773 1.58l-6.79 5.274a2 2 0 0 1-1.228.421H9a2 2 0 0 1-2-2v-2z" fill="#FFF" fill-rule="nonzero"/>
		<path d="M29 7.135v16.569a2 2 0 0 1-2 2h-5l-.815 4.642A2 2 0 0 1 19.215 32H9a2 2 0 0 1-2-2v-.865l22-22z" fill="#F0ECF8" fill-rule="nonzero"/>
		<path d="M27.961 25a1 1 0 0 0 .039-.275V6a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v24a1 1 0 0 0 1 1h11.21a1 1 0 0 0 .613-.21l.177-.138V27a2 2 0 0 1 2-2h4.961zm-.973 1H23a1 1 0 0 0-1 1v2.875L26.988 26zM7 27V6a2 2 0 0 1 2-2h15V2a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v24a1 1 0 0 0 1 1h2zm0 1H5a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h18a2 2 0 0 1 2 2v2h2a2 2 0 0 1 2 2v18.725a2 2 0 0 1-.773 1.58l-6.79 5.274a2 2 0 0 1-1.228.421H9a2 2 0 0 1-2-2v-2zm11.5-16h6a.5.5 0 1 1 0 1h-6a.5.5 0 1 1 0-1zm0 6h5a.5.5 0 1 1 0 1h-5a.5.5 0 1 1 0-1zm0-3h3a.5.5 0 1 1 0 1h-3a.5.5 0 1 1 0-1z" fill="#C5C9D4" fill-rule="nonzero"/>
		<path d="M15 9.492c0 .415-.148.77-.445 1.065A1.446 1.446 0 0 1 13.5 11c-.407 0-.758-.148-1.055-.443A1.449 1.449 0 0 1 12 9.492c0-.405.148-.754.445-1.05A1.446 1.446 0 0 1 13.5 8c.407 0 .758.148 1.055.443.297.295.445.644.445 1.049zm1 10.518a.983.983 0 0 1-.039.252c-.026.096-.054.144-.086.144-.322 0-.724-.015-1.207-.045-.483-.03-.906-.045-1.27-.045-.352 0-.742.015-1.167.045-.426.03-.795.045-1.106.045-.032 0-.06-.048-.086-.144A.983.983 0 0 1 11 20.01c0-.06.013-.138.039-.234.026-.096.054-.15.086-.162.384-.048.656-.168.817-.36.161-.192.242-.576.242-1.152v-2.7c0-.48-.08-.792-.242-.936-.16-.144-.433-.24-.817-.288-.032-.012-.06-.063-.086-.153A.843.843 0 0 1 11 13.8c0-.06.013-.138.039-.234.026-.096.054-.144.086-.144.498-.12 1.059-.315 1.682-.585.623-.27 1.106-.501 1.448-.693.032-.024.084-.054.156-.09a.438.438 0 0 1 .187-.054c.125 0 .216.024.273.072.057.048.08.102.07.162l-.078 1.53c-.031.6-.047 1.104-.047 1.512v2.826c0 .564.083.948.25 1.152.166.204.436.324.81.36.03 0 .06.051.085.153.026.102.039.183.039.243z" fill="#6947BF"/>
	</symbol>
	<symbol id="known-issues" viewBox="0 0 32 32">
		<g fill="none" fill-rule="nonzero">
			<path d="M22.465 9.66l9.184 17.009a2.927 2.927 0 0 1-1.228 3.984 3.012 3.012 0 0 1-1.404.347H2.982c-.536 0-1.039-.14-1.473-.384L22.465 9.66z" fill="#FBF0EA"/>
			<path d="M17.75 3.035a1.964 1.964 0 0 0-.813-.803c-.97-.51-2.175-.149-2.688.803L1.23 27.144c-.152.28-.231.593-.231.91C1 29.127 1.885 30 2.982 30h26.035c.328 0 .65-.08.938-.231a1.927 1.927 0 0 0 .814-2.625L17.75 3.035zm.88-.475L31.65 26.669a2.927 2.927 0 0 1-1.228 3.984 3.012 3.012 0 0 1-1.404.347H2.982C1.335 31 0 29.681 0 28.055c0-.484.12-.96.35-1.386L13.37 2.559c.775-1.434 2.58-1.977 4.034-1.212.522.275.95.697 1.228 1.213z" fill="#CED3DE"/>
			<path d="M16 11a2 2 0 0 1 2 2v4a2 2 0 1 1-4 0v-4a2 2 0 0 1 2-2zm0 13a2 2 0 1 1 0-4 2 2 0 0 1 0 4z" fill="#E06E31"/>
		</g>
	</symbol>
	<symbol id="language" viewBox="0 0 16 16">
		<path d="M13.562 5c.146.565.22 1.148.22 1.75 0 .602-.074 1.185-.22 1.75H9.953a14.055 14.055 0 0 0 0-3.5h3.61zM5.06 9.375H8.94c-.164.802-.392 1.54-.683 2.215-.347.784-.757 1.43-1.23 1.941h-.055c-.474-.51-.884-1.157-1.23-1.941a11.246 11.246 0 0 1-.684-2.215zm4.757-5.25C9.525 2.521 8.996 1.172 8.23.078c1.13.2 2.142.666 3.036 1.395a6.776 6.776 0 0 1 1.996 2.652H9.816zM9.078 5a14.055 14.055 0 0 1 0 3.5H4.922a14.055 14.055 0 0 1 0-3.5h4.156zM4.184 9.375c.291 1.604.82 2.953 1.586 4.047a6.528 6.528 0 0 1-3.036-1.395A6.776 6.776 0 0 1 .738 9.375h3.446zm5.632 0h3.446a6.776 6.776 0 0 1-1.996 2.652 6.528 6.528 0 0 1-3.036 1.395c.766-1.094 1.295-2.443 1.586-4.047zm-.875-5.25H5.06c.164-.802.392-1.54.683-2.215C6.09 1.126 6.5.48 6.972-.03h.055c.474.51.884 1.157 1.23 1.941.292.675.52 1.413.684 2.215zM.437 5h3.61a14.055 14.055 0 0 0 0 3.5H.437A6.975 6.975 0 0 1 .22 6.75c0-.602.073-1.185.218-1.75zm3.747-.875H.738a6.776 6.776 0 0 1 1.996-2.652A6.528 6.528 0 0 1 5.77.078c-.766 1.094-1.295 2.443-1.586 4.047z" fill="#5B6170" fill-rule="evenodd"/>
	</symbol>
	<symbol id="latest-release" viewBox="0 0 32 32">
		<path d="M6.4 26.19L26.19 6.4A13.952 13.952 0 0 1 30 16c0 7.732-6.268 14-14 14a13.952 13.952 0 0 1-9.6-3.81z" fill="#FCF0EF"/>
		<path d="M16 1C7.716 1 1 7.716 1 16c0 8.284 6.716 15 15 15 8.284 0 15-6.716 15-15 0-.676-.045-1.34-.131-1.993-.033-.25-.092-.587-.177-1.012a.515.515 0 0 1 .386-.602.484.484 0 0 1 .587.377c.106.537.178.96.216 1.27.079.642.119 1.296.119 1.96 0 8.837-7.163 16-16 16S0 24.837 0 16 7.163 0 16 0c3.77 0 7.237 1.304 9.972 3.487l2.133-2.133a.5.5 0 0 1 .838.232l1.584 6.335a.5.5 0 0 1-.606.606l-6.335-1.584a.5.5 0 0 1-.232-.838l1.906-1.907A14.936 14.936 0 0 0 16 1zm12.187 1.685l-3.502 3.502 4.67 1.168-1.168-4.67z" fill="#C5C9D4"/>
		<path d="M17 19.59l1.83-1.83a1 1 0 1 1 1.414 1.414L16.71 22.71a1 1 0 0 1-1.414 0l-3.536-3.536a1 1 0 0 1 1.414-1.414L15 19.587V11a1 1 0 0 1 2 0v8.59z" fill="#D33A2F"/>
	</symbol>
	<symbol id="liferay-logo" viewBox="0 0 126 42">
		<g fill="none" fill-rule="evenodd" transform="translate(0 4)">
			<path d="M0 4.75c0-1.049.852-1.9 1.902-1.9h21.872c1.05 0 1.901.851 1.901 1.9v21.853c0 1.05-.851 1.9-1.901 1.9H1.902c-1.05 0-1.902-.85-1.902-1.9zm3.804 2.376c0-.263.213-.475.475-.475h2.853c.263 0 .476.212.476.475v2.85a.475.475 0 0 1-.476.475H4.28a.475.475 0 0 1-.475-.475zm5.23-.475a.475.475 0 0 0-.476.475v2.85c0 .263.213.475.476.475h2.853a.475.475 0 0 0 .475-.475v-2.85a.475.475 0 0 0-.475-.475zm4.28.475c0-.263.212-.475.475-.475h2.853c.262 0 .475.212.475.475v2.85a.475.475 0 0 1-.475.475h-2.853a.475.475 0 0 1-.476-.475zM4.278 11.4a.475.475 0 0 0-.475.475v2.85c0 .263.213.476.475.476h2.853a.475.475 0 0 0 .476-.475v-2.85a.475.475 0 0 0-.476-.476zm4.28.475c0-.262.212-.475.475-.475h2.853c.262 0 .475.213.475.475v2.85a.475.475 0 0 1-.475.476H9.034a.475.475 0 0 1-.476-.475zm9.984-.475a.475.475 0 0 0-.475.475v2.85c0 .263.213.476.475.476h2.853a.475.475 0 0 0 .476-.475v-2.85a.475.475 0 0 0-.476-.476zm-14.74 5.226c0-.262.214-.475.476-.475h2.853c.263 0 .476.213.476.475v2.85a.475.475 0 0 1-.476.475H4.28a.475.475 0 0 1-.475-.475zm9.986-.475a.475.475 0 0 0-.476.475v2.85c0 .263.213.475.476.475h2.853a.475.475 0 0 0 .475-.475v-2.85a.475.475 0 0 0-.475-.475zm4.279.475c0-.262.213-.475.475-.475h2.853c.263 0 .476.213.476.475v2.85a.475.475 0 0 1-.476.475h-2.853a.475.475 0 0 1-.475-.475zm-9.034 4.276a.475.475 0 0 0-.476.475v2.85c0 .262.213.475.476.475h2.853a.475.475 0 0 0 .475-.475v-2.85a.475.475 0 0 0-.475-.475zm4.28.475c0-.263.212-.475.475-.475h2.853c.262 0 .475.212.475.475v2.85a.475.475 0 0 1-.475.475h-2.853a.475.475 0 0 1-.476-.475zm5.23-.475a.475.475 0 0 0-.476.475v2.85c0 .262.213.475.475.475h2.853a.475.475 0 0 0 .476-.475v-2.85a.475.475 0 0 0-.476-.475z" fill="#0b63ce"/>
			<g fill="#09101d" fill-rule="nonzero">
				<path d="M46.575 26.232H35.531V3.295c0-.263-.264-.527-.529-.527h-1.19c-.264 0-.529.264-.529.527v24.519c0 .263.265.527.53.527h12.762c.265 0 .53-.264.53-.527v-1.055c0-.264-.265-.527-.53-.527zM51.337 9.557h-1.124c-.265 0-.53.263-.53.527V27.88c0 .264.265.528.53.528h1.124c.264 0 .529-.264.529-.528V10.084c0-.33-.199-.527-.53-.527zM64.761 2.307l.397-.989c.066-.263 0-.527-.264-.659C63.968.264 63.042 0 62.248 0c-1.388 0-2.579.461-3.372 1.45-.794.923-1.257 2.373-1.257 4.218v3.889l-1.984.132c-.264 0-.463.263-.463.527v.923c0 .263.265.527.53.527h1.917v16.213c0 .264.265.528.53.528h1.123c.265 0 .53-.264.53-.528V11.666h3.703c.264 0 .529-.264.529-.527v-1.055c0-.264-.265-.527-.53-.527h-3.703V5.866c0-1.252.199-2.175.596-2.834.396-.593.925-.857 1.785-.857.33 0 .662.066.926.132.33.066.661.198.992.33a.423.423 0 0 0 .397 0c.132-.132.264-.198.264-.33zM72.565 9.095c-1.058 0-2.116.264-3.108.725a7.503 7.503 0 0 0-2.58 1.978c-.727.857-1.388 1.911-1.785 3.097-.463 1.187-.661 2.57-.661 4.087 0 1.516.198 2.9.661 4.086.463 1.186 1.058 2.241 1.852 3.098a8.237 8.237 0 0 0 2.777 1.977c1.058.461 2.182.66 3.373.66 1.389 0 2.579-.199 3.439-.594.86-.395 1.653-.79 2.314-1.186.265-.132.33-.462.199-.66l-.53-.988c-.066-.132-.198-.198-.33-.264-.132 0-.33 0-.397.066a7.722 7.722 0 0 1-2.05 1.12c-.727.264-1.587.396-2.513.396-.992 0-1.852-.198-2.645-.593s-1.455-.923-2.05-1.582c-.595-.659-.992-1.516-1.323-2.439-.264-.79-.397-1.647-.463-2.57H79.31a.576.576 0 0 0 .53-.395c.065-.264.065-.528.065-.725v-.594c0-2.768-.661-4.943-1.917-6.393-1.455-1.582-3.24-2.307-5.423-2.307zm5.026 8.37H66.613c.132-.856.33-1.647.595-2.372.33-.857.794-1.582 1.389-2.175.529-.593 1.124-1.054 1.852-1.318.66-.33 1.388-.461 2.116-.461 1.52 0 2.777.527 3.637 1.647.86 1.055 1.323 2.637 1.389 4.68zM91.875 9.49c-.33-.197-.661-.263-.992-.329-.33-.066-.595-.066-.926-.066-1.19 0-2.314.396-3.24 1.187-.53.461-.992.988-1.455 1.582l-.066-1.78c0-.264-.265-.527-.53-.527h-.991c-.265 0-.53.263-.53.527V27.88c0 .264.265.528.53.528h1.124c.265 0 .53-.264.53-.528V15.62c.66-1.647 1.388-2.768 2.248-3.36.793-.66 1.52-.924 2.248-.924.397 0 .595 0 .727.066.133 0 .397.132.662.198a.423.423 0 0 0 .397 0c.132-.066.264-.198.264-.33l.33-1.054c.067-.33-.065-.593-.33-.725zM107.151 9.557h-1.058a.52.52 0 0 0-.53.527l-.065.791c-.661-.461-1.257-.79-1.852-1.12a7.45 7.45 0 0 0-3.108-.66c-1.19 0-2.248.264-3.307.725a8.68 8.68 0 0 0-2.71 1.978c-.794.857-1.39 1.911-1.853 3.097-.463 1.187-.66 2.57-.66 4.087 0 3.163.727 5.602 2.115 7.25 1.455 1.713 3.373 2.57 5.82 2.57 1.322 0 2.513-.33 3.637-.923a10.647 10.647 0 0 0 1.984-1.384l.066 1.384c0 .264.265.462.53.462h.991c.265 0 .53-.264.53-.527V10.018c0-.263-.265-.461-.53-.461zm-1.653 3.757v10.545a14.477 14.477 0 0 1-2.712 2.11c-.86.46-1.785.724-2.777.724-.926 0-1.786-.198-2.447-.527a4.887 4.887 0 0 1-1.785-1.516c-.463-.66-.86-1.516-1.125-2.439-.264-.922-.396-2.043-.396-3.23 0-1.054.198-2.108.462-3.031.331-.923.794-1.78 1.323-2.505.53-.725 1.19-1.252 1.984-1.647a4.905 4.905 0 0 1 2.38-.593c.86 0 1.72.197 2.514.527.86.263 1.653.857 2.579 1.582zM125.932 9.755c-.132-.132-.264-.198-.396-.198h-1.19a.497.497 0 0 0-.464.33l-4.034 11.665c-.264.725-.529 1.582-.86 2.505-.132.527-.33.988-.462 1.45-.199-.462-.397-.989-.595-1.45a30.922 30.922 0 0 0-.992-2.439l-4.563-11.666a.497.497 0 0 0-.463-.33h-1.257a.601.601 0 0 0-.463.198c-.066.066-.132.33-.066.462l7.34 18.059-.462 1.45c-.463 1.384-1.058 2.57-1.852 3.427-.661.857-1.455 1.252-2.447 1.252-.198 0-.463 0-.661-.066-.265-.065-.463-.131-.661-.197a.423.423 0 0 0-.397 0c-.132.066-.199.197-.265.33l-.33 1.054c-.066.263.066.527.264.593a4.758 4.758 0 0 0 1.918.395c.86 0 1.653-.197 2.315-.593.66-.33 1.256-.857 1.785-1.45.53-.593.926-1.252 1.257-1.977.33-.725.66-1.384.86-2.11l7.141-20.299c.068-.174.106-.29 0-.395zM51.403 2.834H50.08a.662.662 0 0 0-.66.66V4.81c0 .33.264.66.66.66h1.323c.33 0 .661-.264.661-.66V3.493c0-.33-.33-.659-.661-.659z"/>
			</g>
		</g>
	</symbol>
	<symbol id="liferay-waffle" viewBox="0 0 24 24">
		<path d="M0 1.778C0 .796.796 0 1.778 0h20.444C23.204 0 24 .796 24 1.778v20.444c0 .982-.796 1.778-1.778 1.778H1.778A1.778 1.778 0 0 1 0 22.222V1.778zM3.556 4c0-.245.199-.444.444-.444h2.667c.245 0 .444.199.444.444v2.667a.444.444 0 0 1-.444.444H4a.444.444 0 0 1-.444-.444V4zm4.888-.444A.444.444 0 0 0 8 4v2.667c0 .245.199.444.444.444h2.667a.444.444 0 0 0 .445-.444V4a.444.444 0 0 0-.445-.444H8.444zm4 .444c0-.245.2-.444.445-.444h2.667c.245 0 .444.199.444.444v2.667a.444.444 0 0 1-.444.444h-2.667a.444.444 0 0 1-.445-.444V4zM4 8a.444.444 0 0 0-.444.444v2.667c0 .246.199.445.444.445h2.667a.444.444 0 0 0 .444-.445V8.444A.444.444 0 0 0 6.667 8H4zm4 .444C8 8.2 8.199 8 8.444 8h2.667c.246 0 .445.199.445.444v2.667a.444.444 0 0 1-.445.445H8.444A.444.444 0 0 1 8 11.11V8.444zM17.333 8a.444.444 0 0 0-.444.444v2.667c0 .246.199.445.444.445H20a.444.444 0 0 0 .444-.445V8.444A.444.444 0 0 0 20 8h-2.667zM3.556 12.889c0-.246.199-.445.444-.445h2.667c.245 0 .444.2.444.445v2.667a.444.444 0 0 1-.444.444H4a.444.444 0 0 1-.444-.444v-2.667zm9.333-.445a.444.444 0 0 0-.445.445v2.667c0 .245.2.444.445.444h2.667a.444.444 0 0 0 .444-.444v-2.667a.444.444 0 0 0-.444-.445h-2.667zm4 .445c0-.246.199-.445.444-.445H20c.245 0 .444.2.444.445v2.667A.444.444 0 0 1 20 16h-2.667a.444.444 0 0 1-.444-.444v-2.667zm-8.445 4a.444.444 0 0 0-.444.444V20c0 .245.199.444.444.444h2.667a.444.444 0 0 0 .445-.444v-2.667a.444.444 0 0 0-.445-.444H8.444zm4 .444c0-.245.2-.444.445-.444h2.667c.245 0 .444.199.444.444V20a.444.444 0 0 1-.444.444h-2.667a.444.444 0 0 1-.445-.444v-2.667zm4.89-.444a.444.444 0 0 0-.445.444V20c0 .245.199.444.444.444H20a.444.444 0 0 0 .444-.444v-2.667c0-.245-.2-.443-.444-.443h-2.667l.001-.001z" fill="#0B63CE" fill-rule="evenodd"/>
	</symbol>
	<symbol id="lock" viewBox="0 0 512 512">
		<path class="lexicon-icon-outline" d="M364.8,223.9H352v-96.1c0-127.4-192-128.1-192,0v96.1h-19.2c-28.2,0-44.8,23-44.8,51.2v153.7c0,28.2,16.6,51.2,44.8,51.2h224c28.2,0,51.2-23,51.2-51.2V275.1C416,246.9,393,223.9,364.8,223.9z M192,127.8c0-84,128-84.7,128,0v96.1H192V127.8z M288,416h-64v-96.1h64V416z"/>
	</symbol>
	<symbol id="mobile-sdk" viewBox="0 0 32 32">
		<path fill="#fff" d="M0 0h32v32H0z"/>
		<path d="M16.001 0L2.5 8v16l13.501 8L29.5 24V8" fill="#208DBF"/>
		<path d="M5.341 9.683l10.66-6.316 10.658 6.316v12.634L16 28.633 5.341 22.317" fill="#53BFE5"/>
		<path d="M19.972 22.638c0 .468-.372.85-.827.85h-6.289a.841.841 0 0 1-.827-.85V9.363c0-.468.373-.85.827-.85h6.289c.455 0 .827.382.827.85v13.276z" fill="#fff"/>
		<path d="M12.69 10.726h6.62v10.946h-6.62V10.726zm2.276-1.282h2.07v.457h-2.07v-.457z" fill="#208DBF"/>
		<path d="M24.826 12.654a1.47 1.47 0 0 0-.901-1.364v1.68l-.53.314-.53-.315v-1.68c-.528.216-.901.747-.901 1.365 0 .61.361 1.134.877 1.357 0 0 .296.099.553.1.259 0 .533-.092.533-.092.527-.216.9-.746.9-1.365" fill="#fff"/>
		<path d="M22.786 13.786h1.217v6.924h-1.218l.001-6.924zM8.873 10.792H8.23l-.204 1.274.309.313h.434l.307-.313" fill="#fff"/>
		<path d="M8.276 12.136h.551v4.783h-.55v-4.783z" fill="#fff"/>
		<path d="M7.797 16.212h1.507v4.996H7.797v-4.996zm14.424 3.855c0-.665.526-1.204 1.174-1.204.647 0 1.173.539 1.173 1.204 0 .665-.526 1.205-1.173 1.205s-1.174-.54-1.174-1.205z" fill="#fff"/>
		<path d="M22.828 20.067c0-.321.254-.582.567-.582.314 0 .567.26.567.582a.574.574 0 0 1-.567.582.574.574 0 0 1-.567-.582z" fill="#53BFE5"/>
	</symbol>
	<symbol id="monitoring" viewBox="0 0 32 32">
		<path opacity=".08" d="M32 3.319V30a2 2 0 0 1-2 2H3.319L32 3.319z" fill="#D33A2F"/>
		<path d="M2 1a1 1 0 0 0-1 1v28a1 1 0 0 0 1 1h28a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2zm0-1h28a2 2 0 0 1 2 2v28a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm8 5a1 1 0 1 1 0-2 1 1 0 0 1 0 2zM7 5a1 1 0 1 1 0-2 1 1 0 0 1 0 2zM4 5a1 1 0 1 1 0-2 1 1 0 0 1 0 2zM1 7v1h30V7H1z" fill="#C5C9D4"/>
		<path d="M18.847 20.547a2 2 0 0 1 1.948-1.55H23a1 1 0 1 1 0 2h-2.205l-.82 3.555a1.864 1.864 0 0 1-3.658-.128L14.667 14l-1.492 4.61a2 2 0 0 1-1.903 1.386H9a1 1 0 0 1 0-2h2.272l1.491-4.612a2 2 0 0 1 3.879.303l1.541 9.732.664-2.873z" fill="#D33A2F"/>
	</symbol>
	<symbol id="paperclip" viewBox="0 0 512 512">
		<path class="lexicon-icon-outline" d="M473.449 48.992c-17.8-17.799-41.45-27.588-66.604-27.588s-48.805 9.788-66.604 27.588l-203.012 202.984c-12.604 12.604-19.249 28.517-18.784 44.868 0.465 15.339 7.136 30.185 18.756 41.832 11.566 11.565 26.986 17.963 43.364 17.963s31.798-6.398 43.363-17.963l108.902-108.902c9.351-9.351 9.351-24.498 0-33.822s-24.498-9.351-33.822 0l-108.93 108.902c-5.059 5.086-13.917 5.113-19.030 0-2.98-2.98-4.675-6.316-4.785-9.378-0.082-3.144 1.531-6.37 4.785-9.624l203.012-203.012c17.526-17.499 48.039-17.499 65.565 0 18.073 18.073 18.073 47.493 0 65.565l-237.899 237.899c-32.645 32.619-85.771 32.645-118.417 0s-32.645-85.771 0-118.417l169.162-169.162c9.351-9.35 9.351-24.498 0-33.822-9.351-9.35-24.498-9.35-33.822 0l-169.162 169.162c-51.293 51.293-51.293 134.794 0 186.087 25.647 25.647 59.359 38.469 93.044 38.469 33.713 0 67.397-12.823 93.044-38.469l237.899-237.899c36.719-36.775 36.719-96.516-0.027-133.263z"/>
	</symbol>
	<symbol id="patching-tool" viewBox="0 0 32 32">
		<path d="M29.386 4.249H30a2 2 0 0 1 2 2V30a2 2 0 0 1-2 2H2c-.115 0-.228-.01-.337-.028L29.386 4.249z" fill="#F0ECF8"/>
		<path d="M2 5a1 1 0 0 0-1 1v24a1 1 0 0 0 1 1h28a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1H2zm4-1V2a1 1 0 0 1 1-1h5a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1h5a1 1 0 0 1 1 1v2h4a2 2 0 0 1 2 2v24a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h4zm1 0h18V2h-5a1 1 0 0 1-1 1h-6a1 1 0 0 1-1-1H7v2zm6-3v1h6V1h-6z" fill="#C5C9D4"/>
		<path d="M12.211 26H9a1 1 0 0 1-1-1v-3.848l-1.302.349a.5.5 0 1 1-.26-.966L8 20.116v-1.964l-1.302.349a.5.5 0 1 1-.26-.966L8 17.116v-1.964l-1.302.349a.5.5 0 1 1-.26-.966L8 14.116V11a1 1 0 0 1 1-1h1.634l-.567-.982a.5.5 0 0 1 .866-.5L11.789 10h2.845l-.567-.982a.5.5 0 1 1 .866-.5L15.789 10h2.845l-.567-.982a.5.5 0 1 1 .866-.5L19.789 10H23a1 1 0 0 1 1 1v2.848l1.302-.349a.5.5 0 1 1 .26.966L24 14.884v1.964l1.302-.349a.5.5 0 1 1 .26.966L24 17.884v1.964l1.302-.349a.5.5 0 1 1 .26.966L24 20.884V25a1 1 0 0 1-1 1h-1.634l.567.982a.5.5 0 0 1-.866.5L20.211 26h-2.845l.567.982a.5.5 0 0 1-.866.5L16.211 26h-2.845l.567.982a.5.5 0 0 1-.866.5L12.211 26zm-.577-1l-.567-.982a.5.5 0 0 1 .866-.5L12.789 25h2.845l-.567-.982a.5.5 0 0 1 .866-.5L16.789 25h2.845l-.567-.982a.5.5 0 0 1 .866-.5L20.789 25H23v-3.848l-1.302.349a.5.5 0 1 1-.26-.966L23 20.116v-1.964l-1.302.349a.5.5 0 1 1-.26-.966L23 17.116v-1.964l-1.302.349a.5.5 0 1 1-.26-.966L23 14.116V11h-2.634l.567.982a.5.5 0 0 1-.866.5L19.211 11h-2.845l.567.982a.5.5 0 0 1-.866.5L15.211 11h-2.845l.567.982a.5.5 0 0 1-.866.5L11.211 11H9v2.848l1.302-.349a.5.5 0 1 1 .26.966L9 14.884v1.964l1.302-.349a.5.5 0 1 1 .26.966L9 17.884v1.964l1.302-.349a.5.5 0 1 1 .26.966L9 20.884V25h2.634zM16 16.5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm0 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm2-2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm0 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm-4-2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm0 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm0 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm2 0a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm2 0a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1z" fill="#6947BF"/>
	</symbol>
	<symbol id="product-release" viewBox="0 0 32 32">
		<path fill="#fff" d="M0 0h32v32H0z"/>
		<rect width="32" height="32" rx="16" fill="#FDF4F6"/>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M22 10.71A7.973 7.973 0 0 0 16 8a8 8 0 0 0-8 8 8 8 0 0 0 15.938 1h-2.022a6 6 0 1 1-1.444-5H20c-.55 0-1 .45-1 1s.45 1 1 1h3a1.005 1.005 0 0 0 1-1v-3c0-.55-.45-1-1-1s-1 .45-1 1v.71zM16 14h-2v2h2v-2zm-2 3h2v2h-2v-2zm5 0h-2v2h2v-2z" fill="#E55E75"/>
	</symbol>
	<symbol id="report-security-issues" viewBox="0 0 32 32">
		<path fill-rule="evenodd" clip-rule="evenodd" d="M4.8 22.387l-1.185.318a1 1 0 0 0-.707 1.225l-1.932.518a1 1 0 0 0-.707 1.224l1.294 4.83a1 1 0 0 0 1.225.707l1.932-.517a1 1 0 0 0 1.224.707l4.83-1.294a2 2 0 0 0 1.414-2.45l-.776-2.898a2 2 0 0 0-1.036-3.864l-2.677.718-.892-3.327 13.523-3.623.259.966a2 2 0 0 0 2.45 1.414l7.39-1.98a2 2 0 0 0 .613-3.583L27.73 9.211a1 1 0 0 1-.337-1.258l1.734-3.62a2 2 0 0 0-2.321-2.796L20.38 3.26l-.259-.966A2 2 0 0 0 17.672.88L3.185 4.76l-.13-.483a1.5 1.5 0 1 0-2.897.777L4.8 22.388zM20.382 3.26l-.966.259.656 10.177.26.966.965-.26a2 2 0 0 0 1.414-2.449L20.381 3.26z" fill="#fff"/>
		<path d="M21.717 9.958l4.743-8.216c.726.14 1.778.175 1.984.937.1.37.013 1.365-.103 1.73l-1.764 4.369 3.773 3.13c.804.758 1.215.153.717 2.491-.255.27-1.666.597-2.026.693L19.51 17.63c-1.066.283-2.091-.076-2.377-1.141l-.328-1.224L6.18 18.112 16.21 1.448l1.079-.29c1.067-.285 2.102.12 2.388 1.186l2.04 7.614z" fill="#FCF0EF"/>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M4.8 22.387l-1.185.318a1 1 0 0 0-.707 1.225l-1.932.518a1 1 0 0 0-.707 1.224l1.294 4.83a1 1 0 0 0 1.225.707l1.932-.517a1 1 0 0 0 1.224.707l4.83-1.294a2 2 0 0 0 1.414-2.45l-.776-2.898a2 2 0 0 0-1.036-3.864l-2.677.718-.892-3.327 9.66-2.588.258.966a2 2 0 0 0 2.45 1.414l11.254-3.016a2 2 0 0 0 .613-3.582L27.73 9.211a1 1 0 0 1-.337-1.258l1.734-3.62a2 2 0 0 0-2.321-2.796L20.38 3.26l-.259-.966A2 2 0 0 0 17.672.88L3.185 4.76l-.13-.483a1.5 1.5 0 1 0-2.897.777L4.8 22.388zM20.64 4.226l2.07 7.727a2 2 0 0 1-1.414 2.45l-3.864 1.035.26.966c.142.534.69.85 2.19.448l10.288-2.756a1 1 0 0 0 .307-1.792l-3.312-2.267a2 2 0 0 1-.674-2.515l1.734-3.62a1 1 0 0 0-1.16-1.398L20.64 4.225zM6.548 17.318l14.49-3.882a1 1 0 0 0 .706-1.225l-2.588-9.66a1 1 0 0 0-1.224-.706L3.441 5.727l3.106 11.591zM2.088 4.537l.13.483-.966.259-.13-.483a.5.5 0 0 1 .966-.259zM6.733 21.87l-.966.259L1.51 6.245l.966-.26L6.733 21.87zm3.454 2.18l1.035 3.864a1 1 0 0 1-.707 1.224l-4.83 1.295-1.811-6.762 6.761-1.812a1 1 0 0 1 .518 1.932l-.966.26zm-8.952 1.363l1.932-.517 1.294 4.83-1.932.517-1.294-4.83z" fill="#C5C9D4"/>
		<path d="M11.54 8.43l1-1.731a1 1 0 1 1 1.732 1l-1 1.732 1.732 1a1 1 0 0 1-1 1.732l-1.732-1-1 1.732a1 1 0 1 1-1.732-1l1-1.732-1.732-1a1 1 0 0 1 1-1.732l1.732 1z" fill="#D33A2F"/>
	</symbol>
	<symbol id="security-advisories" viewBox="0 0 32 32">
		<path d="M3.119 7.36L15.008.568a2 2 0 0 1 1.984 0l11.833 6.761a2 2 0 0 1 .987 2.02C28.692 17.169 27.42 22.052 26 24c-2.219 3.088-5.545 5.754-10 8-3.506-1.088-6.833-3.754-10-8-1.874-2.672-3.167-7.573-3.88-14.704A2 2 0 0 1 3.12 7.36z" fill="#FFF" fill-rule="nonzero"/>
		<path d="M24.215 7.654L26.692 9.1a1 1 0 0 1 .487 1c-.917 6.685-1.96 10.847-3.13 12.485-1.787 2.537-4.464 4.728-8.05 6.574-2.612-.827-5.099-2.765-7.475-5.813l15.69-15.69z" fill="#FBF0EA"/>
		<path d="M25.192 23.411c1.288-1.767 2.533-6.553 3.63-14.204a1 1 0 0 0-.494-1.01L16.496 1.435a1 1 0 0 0-.992 0L3.614 8.23a1 1 0 0 0-.498.968c.696 6.973 1.952 11.733 3.686 14.205 2.936 3.936 5.972 6.428 9.114 7.518 4.128-2.133 7.211-4.636 9.276-7.509zM3.119 7.361L15.008.567a2 2 0 0 1 1.984 0l11.833 6.761a2 2 0 0 1 .987 2.02C28.692 17.169 27.42 22.052 26 24c-2.219 3.088-5.545 5.754-10 8-3.506-1.088-6.833-3.754-10-8-1.874-2.672-3.167-7.573-3.88-14.704A2 2 0 0 1 3.12 7.36zm20.116 14.642c1.04-1.456 2.06-5.523 2.953-12.04l-9.685-5.65a1 1 0 0 0-1.008 0L5.781 9.98c.55 5.936 1.569 9.967 2.975 12.015 2.317 3.169 4.703 5.182 7.16 6.079 3.256-1.73 5.688-3.753 7.319-6.07zM5.277 9.116l9.714-5.667a2 2 0 0 1 2.016 0l9.685 5.65a1 1 0 0 1 .487 1c-.917 6.685-1.96 10.847-3.13 12.485-1.787 2.537-4.464 4.728-8.05 6.574-2.823-.894-5.5-3.085-8.05-6.574-1.545-2.249-2.6-6.42-3.163-12.512a1 1 0 0 1 .491-.956z" fill="#C5C9D4" fill-rule="nonzero"/>
		<path d="M16 10a2 2 0 0 1 2 2v4a2 2 0 1 1-4 0v-4a2 2 0 0 1 2-2zm0 13a2 2 0 1 1 0-4 2 2 0 0 1 0 4z" fill="#E06E31" fill-rule="nonzero"/>
	</symbol>
	<symbol id="security-alert" viewBox="0 0 32 32">
		<rect fill="#FDF4F6" width="32" height="32" rx="16"/>
		<path d="M10.047 10.859l5.059-2.53a2 2 0 0 1 1.788 0l5.06 2.53a2 2 0 0 1 1.098 1.619c.52 6.108-1.764 10.044-6.776 11.483l-.275.08-.276-.08c-5.013-1.432-7.297-5.369-6.777-11.483a2 2 0 0 1 1.099-1.62zm5.952 11.097H16V16h5.002c.144-.996.163-2.112.057-3.353L16 10.118V16h-5.002c.446 3.1 2.103 5.042 5.001 5.956z" fill="#E55E75" fill-rule="nonzero"/>
	</symbol>
	<symbol id="security-overview" viewBox="0 0 32 32">
		<circle fill="#FFF" cx="16" cy="16" r="16"/>
		<path d="M15.995 32a.508.508 0 1 1 0-1.016c2.012 0 3.967-.396 5.783-1.156a.508.508 0 0 1 .392.938A15.961 15.961 0 0 1 15.995 32zm11.392-4.761a.508.508 0 0 1-.724-.714 15.004 15.004 0 0 0 3.24-4.927.508.508 0 0 1 .943.38 16.02 16.02 0 0 1-3.46 5.261zM32 15.792a.508.508 0 0 1-1.016.012 14.923 14.923 0 0 0-1.23-5.766.508.508 0 1 1 .932-.404A15.94 15.94 0 0 1 32 15.792zm-4.911-11.33a.508.508 0 1 1-.705.732 15 15 0 0 0-4.97-3.174.508.508 0 1 1 .368-.947 16.017 16.017 0 0 1 5.307 3.39zM15.584 0a.508.508 0 1 1 .026 1.016c-2.008.05-3.954.497-5.751 1.304a.508.508 0 0 1-.416-.927A15.94 15.94 0 0 1 15.584 0zM4.312 5.06a.508.508 0 0 1 .742.694 14.988 14.988 0 0 0-3.11 5.01.508.508 0 0 1-.952-.354 16.004 16.004 0 0 1 3.32-5.35zM0 16.615a.508.508 0 0 1 1.016-.039 14.905 14.905 0 0 0 1.379 5.733.508.508 0 1 1-.922.428A15.92 15.92 0 0 1 0 16.615zM5.21 27.82a.508.508 0 1 1 .685-.75 14.985 14.985 0 0 0 5.052 3.042.508.508 0 1 1-.342.956 16 16 0 0 1-5.395-3.248z" fill="#C5C9D4"/>
		<path d="M10.494 11.753a1 1 0 0 0-.55.81C9.464 18.23 11.482 21.709 16 23c4.519-1.297 6.537-4.776 6.055-10.437a1 1 0 0 0-.549-.81l-5.059-2.53a1 1 0 0 0-.894 0l-5.06 2.53zM8.705 8.175l5.059-2.53a5 5 0 0 1 4.472 0l5.059 2.53a5 5 0 0 1 2.746 4.048c.634 7.45-2.445 12.758-8.937 14.622l-1.101.316-1.102-.315C8.405 24.99 5.325 19.68 5.96 12.224a5 5 0 0 1 2.746-4.049z" fill-opacity=".1" fill="#168CCA"/>
		<path d="M10.494 11.753l5.059-2.53a1 1 0 0 1 .894 0l5.06 2.53a1 1 0 0 1 .548.81C22.537 18.223 20.52 21.703 16 23c-4.519-1.291-6.537-4.77-6.055-10.437a1 1 0 0 1 .549-.81zm5.505 10.203H16V16h5.002c.144-.996.163-2.112.057-3.353L16 10.118V16h-5.002c.446 3.1 2.103 5.042 5.001 5.956z" fill="#168CCA"/>
	</symbol>
	<symbol id="security-policy" viewBox="0 0 32 32">
		<path d="M14.988 3a2.999 2.999 0 0 0-.422-1H25a2 2 0 0 1 2 2v19h3a2 2 0 0 1 2 2v3a4.002 4.002 0 0 1-3 3.874l-.538.126H10a4 4 0 0 1-4-4V15.786c.148.048.298.093.45.137l.551.157.55-.158c5.506-1.58 8.055-5.974 7.497-12.529a3.002 3.002 0 0 0-.06-.393z" fill="#FFF" fill-rule="nonzero"/>
		<path d="M10.168 32L26.817 3.163c.117.255.183.538.183.837v24c0 1.48.804 2.773 2 3.464V32H10.168z" fill="#E8F6ED" fill-rule="nonzero"/>
		<path d="M28.334 30.982A3 3 0 0 0 31 28v-3a1 1 0 0 0-1-1h-3v4a3.99 3.99 0 0 0 1.334 2.982zM6 15.786c.148.048.298.093.45.137l.55.157V28a3 3 0 0 0 3 3h17a4.99 4.99 0 0 1-1-3V4a1 1 0 0 0-1-1H14.988a2.999 2.999 0 0 0-.422-1H25a2 2 0 0 1 2 2v19h3a2 2 0 0 1 2 2v3a4.002 4.002 0 0 1-3 3.874l-.538.126H10a4 4 0 0 1-4-4V15.786zM15.019 7H22.5a.5.5 0 1 1 0 1h-7.633c.061-.325.112-.658.152-1zm-2.536 6H22.5a.5.5 0 1 1 0 1H11.412a9.08 9.08 0 0 0 1.07-1zm1.824-3H20.5a.5.5 0 1 1 0 1h-6.638c.164-.32.313-.654.445-1zM10.5 16h9a.5.5 0 1 1 0 1h-9a.5.5 0 1 1 0-1zm0 6h12a.5.5 0 1 1 0 1h-12a.5.5 0 1 1 0-1zm0-3h11a.5.5 0 1 1 0 1h-11a.5.5 0 1 1 0-1zm0 6h5a.5.5 0 1 1 0 1h-5a.5.5 0 1 1 0-1z" fill="#C5C9D4" fill-rule="nonzero"/>
		<path d="M1.494 2.753L6.553.223a1 1 0 0 1 .894 0l5.06 2.53a1 1 0 0 1 .548.81C13.537 9.223 11.52 12.703 7 14 2.481 12.709.463 9.23.945 3.563a1 1 0 0 1 .549-.81zm4.692 5.203l-.945-1.01a.702.702 0 0 0-.514-.228c-.402 0-.727.348-.727.778 0 .214.082.408.214.55 1.03 1.1.47.5 1.5 1.601a.702.702 0 0 0 .513.229c.22 0 .418-.107.552-.273.948-1.18 2.158-2.708 3.105-3.89a.803.803 0 0 0 .175-.505c0-.43-.325-.778-.727-.778a.713.713 0 0 0-.552.272C7.344 6.486 7.32 6.541 6.186 7.956z" fill="#19AB4F"/>
	</symbol>
	<symbol id="server-activation" viewBox="0 0 32 32">
		<path d="M31.903 21.675A9 9 0 0 1 18.873 31H2a2 2 0 0 1-2-2v-7c0-.597.262-1.134.677-1.5A1.995 1.995 0 0 1 0 19v-7c0-.597.262-1.134.677-1.5A1.995 1.995 0 0 1 0 9V2a2 2 0 0 1 2-2h25a2 2 0 0 1 2 2v7c0 .597-.262 1.134-.677 1.5.415.366.677.903.677 1.5v3.783c-.117.067-.229.141-.336.222a8.99 8.99 0 0 1 3.24 5.67z" fill="#FFF"/>
		<path d="M27.835 30.593a2 2 0 0 1-.363.22c.123-.071.244-.144.363-.22zM18.873 31H5l6.35-11h1.227l5.774-10h3.226l5.71-9.888A2 2 0 0 1 28.624 2v7c0 .597-.262 1.134-.678 1.5.416.366.678.903.678 1.5v3.033a3.406 3.406 0 0 0-.535.497l-.025.03A9 9 0 0 0 18.873 31z" fill="#E8F6ED"/>
		<path d="M2 1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h25a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2zm27 14.783a3.14 3.14 0 0 0-.812.668l-.231.27a8 8 0 1 0 3.039 6.012c.357-.418.654-.764.907-1.058A9 9 0 0 1 18.873 31H2a2 2 0 0 1-2-2v-7c0-.597.262-1.134.677-1.5A1.995 1.995 0 0 1 0 19v-7c0-.597.262-1.134.677-1.5A1.995 1.995 0 0 1 0 9V2a2 2 0 0 1 2-2h25a2 2 0 0 1 2 2v7c0 .597-.262 1.134-.677 1.5.415.366.677.903.677 1.5v3.783zM17.343 30A8.983 8.983 0 0 1 14 23c0-.687.077-1.357.223-2H2a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h15.343zm-2.83-10A9.004 9.004 0 0 1 28 15.516V12a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h12.512zM4.5 5h7a.5.5 0 1 1 0 1h-7a.5.5 0 0 1 0-1zm0 10h7a.5.5 0 1 1 0 1h-7a.5.5 0 1 1 0-1zm0 10h7a.5.5 0 1 1 0 1h-7a.5.5 0 1 1 0-1zm10-20h1a.5.5 0 1 1 0 1h-1a.5.5 0 1 1 0-1zm0 10h1a.5.5 0 1 1 0 1h-1a.5.5 0 1 1 0-1zm4-10h2a.5.5 0 1 1 0 1h-2a.5.5 0 1 1 0-1zm5 0h1a.5.5 0 1 1 0 1h-1a.5.5 0 1 1 0-1z" fill="#C5C9D4"/>
		<path d="M23.157 25.384c1.733-2.02 5.31-6.185 6.542-7.622a1.11 1.11 0 1 1 1.688 1.444l-7.323 8.532a1.108 1.108 0 0 1-1.628.063l-4.041-4.04a1.11 1.11 0 1 1 1.57-1.57l3.192 3.193z" fill="#19AB4F"/>
	</symbol>
	<symbol id="service-levels" viewBox="0 0 32 32">
		<path d="M2 22.446V4a2 2 0 0 1 2-2h23.827A5388.933 5388.933 0 0 0 26.3 3.777l-1.886 2.2-1.146 1.339-.959-.96a3.11 3.11 0 1 0-4.398 4.398l3.334 3.334a3.107 3.107 0 0 0 4.553-.166A8442.88 8442.88 0 0 0 30 9.02V28a2 2 0 0 1-2 2H8.59a18670.18 18670.18 0 0 0 5.883-6.864 3.11 3.11 0 0 0-4.716-4.058l-1.456 1.7-1.886 2.2c-.431.503-.81.944-1.146 1.338l-.959-.96a3.107 3.107 0 0 0-2.31-.91z" fill="#FFF"/>
		<path d="M8.59 30a18670.18 18670.18 0 0 0 5.883-6.864 3.11 3.11 0 0 0-.86-4.75l5.965-5.965 1.668 1.667a3.107 3.107 0 0 0 4.553-.166A8442.88 8442.88 0 0 0 30 9.02V28a2 2 0 0 1-2 2H8.59z" fill="#E8F7F7"/>
		<path d="M2 22.446V4a2 2 0 0 1 2-2h23.827a3464.58 3464.58 0 0 0-.86 1H16.5v12.5H29v-5.313l.14-.163L30 9.02V28a2 2 0 0 1-2 2H8.59l.857-1H15.5V16.5H3v6.074a3.102 3.102 0 0 0-1-.128zM3 15.5h12.5V3H4a1 1 0 0 0-1 1v11.5zm26 1H16.5V29H28a1 1 0 0 0 1-1V16.5z" fill="#C5C9D4"/>
		<path d="M23.382 10.257c1.733-2.02 4.653-5.43 5.885-6.868a1.11 1.11 0 1 1 1.688 1.444l-6.667 7.778a1.108 1.108 0 0 1-1.628.063L19.326 9.34a1.11 1.11 0 1 1 1.57-1.57l2.486 2.487zm-18 17c1.733-2.02 4.653-5.43 5.885-6.868a1.11 1.11 0 1 1 1.688 1.444l-6.667 7.778a1.108 1.108 0 0 1-1.628.063L1.326 26.34a1.11 1.11 0 1 1 1.57-1.57l2.486 2.487z" fill="#42BFC2"/>
	</symbol>
	<symbol id="service-life" viewBox="0 0 32 32">
		<path d="M5.978 29.602A2 2 0 0 1 4 31.303H2a2 2 0 0 1-2-2v-10a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2h5a3 3 0 0 1 3 3h6a2 2 0 0 1 1.915 1.42l7.093-3.928a2 2 0 0 1 2.701.75c.565.978.24 2.19-.707 2.736l-14.917 8.42a3 3 0 0 1-2.264.282l-7.843-2.38zM19.896 16.63a6.663 6.663 0 1 1 0-13.326 6.663 6.663 0 0 1 0 13.326z" fill="#FFF"/>
		<path d="M4.105 25.748l7.083-7.082a3 3 0 0 1 2.735 2.988h6a2 2 0 0 1 1.915 1.42l7.093-3.927a2 2 0 0 1 2.701.75c.565.977.24 2.189-.707 2.735-.004.003-4.976 2.81-14.917 8.42a3 3 0 0 1-2.264.283L5.27 28.553c-.21.655-.408 1.043-.593 1.164-.851.555-1.805.325-2.246.393-.585.091-1.062-.04-1.431-.393l3.105-3.969zm11.856-10.376L22.794 4a6.663 6.663 0 1 1-6.833 11.372z" fill="#E8F6ED"/>
		<path d="M5.978 29.05A2 2 0 0 1 4 30.75H2a2 2 0 0 1-2-2v-10a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2h5a3 3 0 0 1 3 3h6a2 2 0 0 1 1.915 1.42l7.093-3.928a2 2 0 0 1 2.701.75c.565.978.24 2.19-.707 2.736l-14.917 8.42a3 3 0 0 1-2.264.282l-7.843-2.38zM6 27.988l8.084 2.476a2 2 0 0 0 1.51-.188l14.9-8.41a.983.983 0 0 0 .367-1.345c-.29-.502-.891-.67-1.368-.405L21.92 24.31A2 2 0 0 1 20 25.75H9.5a.5.5 0 1 1 0-1H20a1 1 0 0 0 0-2h-7v-1a2 2 0 0 0-2-2H6v8.239zM2 17.75a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-10a1 1 0 0 0-1-1H2zm20.795.774c-.354.118-.637.2-.85.25a9.003 9.003 0 0 1-9.633-13.565l-.471-.473a.5.5 0 0 1 .241-.84l1.735-.4a.5.5 0 0 1 .6.599l-.4 1.735a.5.5 0 0 1-.841.241l-.136-.135a8.003 8.003 0 0 0 8.574 11.886c.18-.038.417-.104.713-.196a.602.602 0 0 1 .71.289.428.428 0 0 1-.242.61zM17.07 1.471a8.37 8.37 0 0 1 .466-.148 9.003 9.003 0 0 1 10.017 13.469l.422.422a.5.5 0 0 1-.241.84l-1.61.372a.5.5 0 0 1-.6-.6l.372-1.61a.5.5 0 0 1 .84-.24l.09.088A8.003 8.003 0 0 0 18.028 2.23a7.596 7.596 0 0 0-.492.143.597.597 0 0 1-.708-.287.433.433 0 0 1 .242-.614z" fill="#C5C9D4"/>
		<path d="M3 28.952a1 1 0 1 1 0-2 1 1 0 0 1 0 2zm20.539-22.38a2.635 2.635 0 0 1 .325 3.712l-.477.568-3.44 4.1-3.44-4.1-.48-.57a2.635 2.635 0 0 1 .325-3.713c1.07-.897 2.692-.894 3.594 1.193.907-1.686 2.524-2.087 3.593-1.19z" fill="#19AB4F"/>
	</symbol>
	<symbol id="search" viewBox="0 0 512 512">
		<path class="lexicon-icon-outline" d="M503.254 467.861l-133.645-133.645c27.671-35.13 44.344-79.327 44.344-127.415 0-113.784-92.578-206.362-206.362-206.362s-206.362 92.578-206.362 206.362 92.578 206.362 206.362 206.362c47.268 0 90.735-16.146 125.572-42.969l133.851 133.851c5.002 5.002 11.554 7.488 18.106 7.488s13.104-2.486 18.106-7.488c10.004-10.003 10.004-26.209 0.029-36.183zM52.446 206.801c0-85.558 69.616-155.173 155.173-155.173s155.174 69.616 155.174 155.173-69.616 155.173-155.173 155.173-155.173-69.616-155.173-155.173z"/>
	</symbol>
	<symbol id="service-pack-archive" viewBox="0 0 32 32">
		<path d="M1 26v-4.964L9 2.19v16.49l7-16.49V26H1zm2 6h4-4zm7 0h4-4zm20.029-6h-8.323l-1.163-4.056 2.495-20.322L30.028 26zm-4.9 6c-.13.013-.26.012-.387 0h.387z" fill="#E8F5FC"/>
		<path d="M21.706 26L16 6.1V26h5.706zm1.04 0h6.242L22.025 1.715a1 1 0 0 0-1.237-.685l-3.845 1.102a1 1 0 0 0-.686 1.237L22.747 26zm7.283 0H31a1 1 0 0 1 1 1v3a2 2 0 0 1-2 2h-4.871c-.13.013-.26.012-.387 0H2a2 2 0 0 1-2-2v-3a1 1 0 0 1 1-1V2a2 2 0 0 1 2-2h4c.597 0 1.134.262 1.5.677A1.995 1.995 0 0 1 10 0h4a2 2 0 0 1 1.949 1.548c.205-.169.447-.3.718-.377L20.512.07a2 2 0 0 1 2.474 1.37L30.03 26zM2 26h6V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v24zm7 0h6V2a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v24zm5 6h-4 4zm-7 0H3h4zm-6-5v3a1 1 0 0 0 1 1h28a1 1 0 0 0 1-1v-3H1z" fill="#C5C9D4"/>
		<path d="M5 4a1 1 0 0 1 1 1v8a1 1 0 0 1-2 0V5a1 1 0 0 1 1-1zm0 20a1 1 0 1 1 0-2 1 1 0 0 1 0 2zm7-20a1 1 0 0 1 1 1v8a1 1 0 0 1-2 0V5a1 1 0 0 1 1-1zm0 20a1 1 0 1 1 0-2 1 1 0 0 1 0 2zm7.692-19.535a1 1 0 0 1 1.237.685l2.205 7.69a1 1 0 1 1-1.922.552l-2.205-7.69a1 1 0 0 1 .685-1.237zm5.513 19.225a1 1 0 1 1-.551-1.922 1 1 0 0 1 .551 1.922z" fill="#1AA0E8"/>
	</symbol>
	<symbol id="services" viewBox="0 0 32 32">
		<path d="M27.316.494C27.736.861 28 1.4 28 2v24a2 2 0 0 1-2 2H2c-.6 0-1.14-.265-1.506-.684L27.316.494z" fill="#E8F7F7"/>
		<path d="M4 28H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h24a2 2 0 0 1 2 2v2h2a2 2 0 0 1 2 2v24a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-2zm1 0v2a1 1 0 0 0 1 1h24a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1h-2v21a2 2 0 0 1-2 2H5zM2 1a1 1 0 0 0-1 1v24a1 1 0 0 0 1 1h24a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2zm7 7h3a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H9a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1zm0 1v3h3V9H9zm7 6h3a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-3a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1zm0 1v3h3v-3h-3z" fill="#C5C9D4"/>
		<path d="M9 15h3a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H9a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1zm7-7h3a1 1 0 1 1 0 2h-3a1 1 0 1 1 0-2zm0 3h3a1 1 0 1 1 0 2h-3a1 1 0 1 1 0-2z" fill="#42BFC2"/>
	</symbol>
	<symbol id="social-facebook" viewBox="0 0 512 512">
		<path class="lexicon-icon-outline" d="M483.7,0H28.3C12.6,0,0,12.6,0,28.3v455.5C0,499.4,12.6,512,28.3,512h245.2V313.7h-66.7v-77.3h66.7v-57c0-66.1,40.4-102.1,99.4-102.1c28.3,0,52.5,2.1,59.6,3v69.1h-40.9c-32.1,0-38.3,15.2-38.3,37.6v49.3h76.5l-10,77.3h-66.6V512h130.5c15.6,0,28.3-12.7,28.3-28.3V28.3C512,12.6,499.3,0,483.7,0z"/>
	</symbol>
	<symbol id="social-linkedin" viewBox="0 0 512 512">
		<path class="lexicon-icon-outline" d="M474.1,0H37.8C16.9,0,0,16.5,0,36.9V475c0,20.4,16.9,37,37.8,37h436.4c20.9,0,37.9-16.6,37.9-36.9V36.9C512,16.5,495,0,474.1,0z M151.9,436.3h-76V191.9h76V436.3z M69.8,114.6c0-60.6,88.1-60.6,88.1,0C157.9,175,69.8,173,69.8,114.6z M436.3,436.3h-75.9V317.5c0-28.3-0.5-64.8-39.5-64.8c-39.5,0-45.5,30.9-45.5,62.8v120.8h-75.8V191.9h72.8v33.4h1c10.1-19.2,34.9-39.5,71.8-39.5c76.9,0,91.1,50.6,91.1,116.4L436.3,436.3L436.3,436.3z"/>
	</symbol>
	<symbol id="social-twitter" viewBox="0 0 512 512">
		<path class="lexicon-icon-outline" d="M512.015 97.213c-18.842 8.368-39.089 14.015-60.332 16.531 21.68-12.991 38.358-33.589 46.2-58.108-20.306 12.026-42.776 20.774-66.71 25.485-19.164-20.423-46.462-33.179-76.688-33.179-58.020 0-105.039 47.048-105.039 105.039 0 8.222 0.936 16.238 2.721 23.934-87.308-4.389-164.698-46.2-216.516-109.749-9.041 15.508-14.22 33.559-14.22 52.812 0 36.457 18.55 68.612 46.727 87.425-17.234-0.556-33.414-5.267-47.575-13.137 0 0.439 0 0.877 0 1.317 0 50.91 36.222 93.336 84.266 102.99-8.807 2.399-18.082 3.687-27.679 3.687-6.759 0-13.343-0.673-19.779-1.901 13.371 41.723 52.169 72.123 98.135 72.942-35.959 28.176-81.252 44.971-130.465 44.971-8.486 0-16.853-0.498-25.046-1.464 46.493 29.815 101.704 47.195 161.041 47.195 193.226 0 298.879-160.075 298.879-298.879 0-4.565-0.117-9.070-0.293-13.576 20.481-14.776 38.3-33.267 52.374-54.334v0z"/>
	</symbol>
	<symbol id="support-coverage" viewBox="0 0 32 32">
		<path d="M21.043 2.897c7.934 2.676 12.524 11.096 10.326 19.297a16.26 16.26 0 0 1-.24.813.614.614 0 0 1-1.155.034c-.167-.42-.32-.733-.471-.959a5.48 5.48 0 0 0-3.158-2.27 5.488 5.488 0 0 0-4.544.784.754.754 0 0 1-1.153-.417 6.002 6.002 0 0 0-3.242-3.71l-1.812 6.763c.51.35.769.995.6 1.625l-.906 3.381a5 5 0 0 1-9.104 1.3c-.439-.722-.621-1.757-.604-3.134a1.396 1.396 0 0 1 1.756-1.332 1.675 1.675 0 0 1 1.24 1.525c.051.93.225 1.507.434 1.728a2 2 0 0 0 3.38-.863l.906-3.381a1.5 1.5 0 0 1 1.332-1.108l1.834-6.844a5.999 5.999 0 0 0-5.887 1.645.514.514 0 0 1-.85-.17 5.49 5.49 0 0 0-3.665-3.227 5.482 5.482 0 0 0-4.143.533c-.126.072-.406.289-.84.651a.523.523 0 0 1-.812-.186c-.055-.18-.055-.398 0-.654.058-.27.123-.54.195-.809C2.663 5.692 10.883.69 19.112 2.376l.266-.994a1 1 0 0 1 1.932.517l-.267.998z" fill="#FFF"/>
		<path d="M10.092 17.757a13.449 13.449 0 0 1 .255-5.854 13.497 13.497 0 0 1 9.825-9.62 13.497 13.497 0 0 1 3.698 13.243 13.449 13.449 0 0 1-2.705 5.198 6.003 6.003 0 0 0-11.073-2.967z" fill="#FEF9EC"/>
		<path d="M21.043 2.897c7.934 2.676 12.524 11.096 10.326 19.297a16.26 16.26 0 0 1-.24.813.614.614 0 0 1-1.155.034c-.167-.42-.32-.733-.471-.959a5.48 5.48 0 0 0-3.158-2.27 5.488 5.488 0 0 0-4.544.784.754.754 0 0 1-1.153-.417 6.002 6.002 0 0 0-3.242-3.71l-1.812 6.763c.51.35.769.995.6 1.625l-.906 3.381a5 5 0 0 1-9.104 1.3c-.439-.722-.621-1.757-.604-3.134a1.396 1.396 0 0 1 1.756-1.332 1.675 1.675 0 0 1 1.24 1.525c.051.93.225 1.507.434 1.728a2 2 0 0 0 3.38-.863l.906-3.381a1.5 1.5 0 0 1 1.332-1.108l1.834-6.844a5.999 5.999 0 0 0-5.887 1.645.514.514 0 0 1-.85-.17 5.49 5.49 0 0 0-3.665-3.227 5.482 5.482 0 0 0-4.143.533c-.126.072-.406.289-.84.651a.523.523 0 0 1-.812-.186c-.055-.18-.055-.398 0-.654.058-.27.123-.54.195-.809C2.663 5.692 10.883.69 19.112 2.376l.266-.994a1 1 0 0 1 1.932.517l-.267.998zm-1.246.667c-7.95-2.13-16.12 2.544-18.329 10.451a6.48 6.48 0 0 1 4.852-.603 6.485 6.485 0 0 1 4.038 3.193 6.995 6.995 0 0 1 6.363-1.442 6.992 6.992 0 0 1 4.789 4.43 6.484 6.484 0 0 1 5.094-.746 6.478 6.478 0 0 1 3.732 2.682c.041.062.082.127.122.197 2.006-7.936-2.73-16.036-10.661-18.162zM8.286 29.014c-.409-.43-.645-1.217-.71-2.361a.675.675 0 0 0-.499-.615.396.396 0 0 0-.498.378c-.014 1.207.139 2.075.46 2.604a4 4 0 0 0 7.283-1.04l.906-3.381a.5.5 0 1 0-.966-.26l-.906 3.382a3 3 0 0 1-5.07 1.293z" fill="#C5C9D4"/>
		<path d="M24.75 16.109c-.104.388-.224.767-.36 1.138a5.464 5.464 0 0 0-2.165.08c.234-.557.432-1.137.593-1.736a13.452 13.452 0 0 0-1.183-9.946.275.275 0 0 1 .352-.384c.69.312 1.293.755 1.785 1.292a13.45 13.45 0 0 1 .978 9.556zM9.295 11.968a13.45 13.45 0 0 1 5.624-7.787 5.466 5.466 0 0 1 2.145-.231.29.29 0 0 1 .123.536 13.452 13.452 0 0 0-5.96 8c-.054.198-.11.447-.169.745a.73.73 0 0 1-1.104.478l-.328-.206a1 1 0 0 1-.445-1.065c.042-.187.08-.344.114-.47z" fill="#FDCC4A"/>
	</symbol>
	<symbol id="support-faqs" viewBox="0 0 32 32">
		<path d="M24.833 28l-4.182 3.585a1 1 0 0 1-1.651-.76V28H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h28a2 2 0 0 1 2 2v24a2 2 0 0 1-2 2h-5.167z" fill="#FFF"/>
		<path d="M31.065.307C31.627.661 32 1.287 32 2v24a2 2 0 0 1-2 2h-5.167l-4.182 3.585a1 1 0 0 1-1.651-.76V28H3.372L31.065.307z" fill="#F0ECF8"/>
		<path d="M20 30.826L24.463 27H30a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v24a1 1 0 0 0 1 1h18v3.826zM24.833 28l-4.182 3.585a1 1 0 0 1-1.651-.76V28H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h28a2 2 0 0 1 2 2v24a2 2 0 0 1-2 2h-5.167zM21.5 11a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5zm0 1a3.5 3.5 0 1 1 0-7 3.5 3.5 0 0 1 0 7zM9 17a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1H9zm0-1h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H9a2 2 0 0 1-2-2v-3a2 2 0 0 1 2-2z" fill="#C5C9D4"/>
		<path d="M22.464 20.59l.83-.83a1 1 0 0 1 1.414 1.414l-2.535 2.536a1 1 0 0 1-1.415 0l-2.535-2.536a1 1 0 0 1 1.414-1.414l.827.827V16a1 1 0 1 1 2 0v4.59zM11.534 7.412v4.59a1 1 0 0 1-2 0V7.417l-.827.827a1 1 0 1 1-1.414-1.415l2.535-2.535a1 1 0 0 1 1.415 0l2.535 2.535a1 1 0 1 1-1.414 1.415l-.83-.83z" fill="#6947BF"/>
	</symbol>
	<symbol id="sync" viewBox="0 0 32 32">
		<path d="M21.407 17.716h1.674v2.276L16 24l-7.116-4.009-6.21 3.5L16 31l13.29-7.508v-5.777H31l-4.814-4.653-4.78 4.653zM15.999 1L2.675 8.475v5.809H1l4.779 4.688 4.78-4.688H8.884v-2.243L16 8.034l7.081 4.009 6.21-3.566L16 1z" fill="#00A4FF"/>
	</symbol>
	<symbol id="ticket" viewBox="0 0 32 32">
		<path fill-rule="evenodd" clip-rule="evenodd" d="M10 8h12c1.103 0 2 .897 2 2v12c0 1.103-.897 2-2 2H10c-1.103 0-2-.897-2-2V10c0-1.103.897-2 2-2zm0 14h12V10H10v12zm10-10h-5a.999.999 0 1 0 0 2h5a.999.999 0 1 0 0-2zm-7 1a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 2h-5a.999.999 0 1 0 0 2h5a.999.999 0 1 0 0-2zm-7 1a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 2h-5a.999.999 0 1 0 0 2h5a.999.999 0 1 0 0-2zm-7 1a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" fill="#09101D"/>
	</symbol>
	<symbol id="upgrading" viewBox="0 0 32 32">
		<path d="M6.907 27.546c-.287-.231-.24-1.104-.508-1.357L26.19 6.4A13.952 13.952 0 0 1 30 16c0 7.732-6.268 14-14 14-1.436 0-3.196.401-4.5 0-.13-.04.116-.7-.013-.743a2.5 2.5 0 0 0-4.068-2.194c-.062-.049-.45.533-.512.483z" fill="#F0ECF8"/>
		<path d="M5.976 27.159A14.962 14.962 0 0 1 1 16C1 10.643 3.809 5.941 8.034 3.288c.265-.167.646-.38 1.142-.639a.41.41 0 0 1 .587.258.645.645 0 0 1-.312.732 17.09 17.09 0 0 0-1.453.872A13.984 13.984 0 0 0 2 16c0 3.847 1.551 7.331 4.063 9.861.222.224.547.518.976.883.21.178.238.493.064.706a.5.5 0 0 1-.704.07l-.003-.001a14.559 14.559 0 0 1-.42-.36zm5.987 2.24c.53.155.949.263 1.256.325.899.181 1.829.276 2.781.276 7.732 0 14-6.268 14-14 0-4.75-2.365-8.946-5.982-11.478-.33-.231-.82-.526-1.469-.883a.645.645 0 0 1-.312-.732.41.41 0 0 1 .586-.257c.539.282.95.514 1.236.696C28.232 6.01 31 10.682 31 16c0 8.284-6.716 15-15 15-.983 0-1.944-.095-2.874-.275-.354-.069-.84-.192-1.456-.37a.492.492 0 0 1-.333-.621.507.507 0 0 1 .626-.335zM16 0a.5.5 0 0 1 .5.5v2a.5.5 0 1 1-1 0v-2A.5.5 0 0 1 16 0zm4.26.63a.5.5 0 0 1 .353.612l-.518 1.932a.5.5 0 1 1-.966-.26l.518-1.931a.5.5 0 0 1 .612-.354zm-8.52 0a.5.5 0 0 1 .613.353l.518 1.932a.5.5 0 0 1-.966.259l-.518-1.932a.5.5 0 0 1 .354-.613zM9 30a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" fill="#C5C9D4"/>
		<path d="M17 12.41V22a1 1 0 0 1-2 0v-9.587l-2.534 2.534a1 1 0 1 1-1.414-1.414l4.243-4.243a1 1 0 0 1 1.414 0l4.243 4.243a1 1 0 0 1-1.415 1.414L17 12.41z" fill="#6947BF"/>
	</symbol>
	<symbol id="whitepapers" viewBox="0 0 32 32">
		<path d="M20 19.803a6.002 6.002 0 0 0 1.952 11.106H5.489a2 2 0 0 1-2-2v-1.703l20.48-20.48H25a2 2 0 0 1 2 2v11.802a6.019 6.019 0 0 0-1-.725V17a3 3 0 0 0-6 0v2.803zm6.888 9.767A2 2 0 0 1 25 30.909h-.952a5.977 5.977 0 0 0 2.84-1.34z" fill="#FBF0EA"/>
		<path d="M26 19.803V7.275A1 1 0 0 0 25.961 7H21a2 2 0 0 1-2-2V1.348l-.177-.138a1 1 0 0 0-.614-.21H5a1 1 0 0 0-1 1v27a1 1 0 0 0 1 1h13.101A7 7 0 0 1 20 18.674v1.129a6 6 0 1 0 6 0zm1-.548A7 7 0 1 1 19.392 31H5a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h13.21a2 2 0 0 1 1.226.42l6.79 5.276A2 2 0 0 1 27 7.276v11.979zm-7-17.13V5a1 1 0 0 0 1 1h3.988L20 2.125zM7.5 19a.5.5 0 1 1 0-1h8a.5.5 0 1 1 0 1h-8zm0-6a.5.5 0 1 1 0-1h9a.5.5 0 1 1 0 1h-9zm0 3a.5.5 0 1 1 0-1h6a.5.5 0 1 1 0 1h-6zm0 6a.5.5 0 1 1 0-1h3a.5.5 0 1 1 0 1h-3zm0-13h5a.5.5 0 1 1 0 1h-5a.5.5 0 0 1 0-1z" fill="#C5C9D4"/>
		<path d="M24 25.59l1.83-1.83a1 1 0 1 1 1.414 1.414L23.71 28.71a1 1 0 0 1-1.414 0l-3.536-3.536a1 1 0 0 1 1.414-1.414L22 25.587V17a1 1 0 0 1 2 0v8.59z" fill="#E06E31"/>
	</symbol>
</svg>

<header class="header" id="header">
	<div class="container-fluid container-fluid-max-xl">
		<div class="header-inner row">
			<div class="col-3 header-content">
				{{#link 'help_center' class="header-link"}}
					<svg alt="{{help_center.name}}" class="header-logo">
						<use xlink:href="#liferay-waffle" />
					</svg>
				{{/link}}

				{{#link 'help_center'}}
					<h2 class="site-name">
						{{dc 'help_center'}}
					</h2>
				{{/link}}
			</div>

			<div class="col-5 header-content header-menu-list secondary-text-color">
				<div class="d-none list-item">
					<h5>
						{{dc 'products'}}
					</h5>

					<div class="header-menu" id="megaMenuProducts"></div>
				</div>

				<div class="d-none list-item">
					<h5>
						{{dc 'mega_menu-resources'}}
					</h5>

					<div class="header-menu" id="megaMenuResources"></div>
				</div>

				<div class="d-none list-item">
					<h5>
						{{dc 'security'}}
					</h5>

					<div class="header-menu" id="megaMenuSecurity"></div>
				</div>

				<div class="d-none list-item">
					<h5>
						{{dc 'support'}}
					</h5>

					<div class="header-menu" id="megaMenuSupport"></div>
				</div>
			</div>

			<div class="col-4 header-content user-wrapper">
				{{search class="search-nav" instant=true submit=false}}

				<div class="user">
					{{#if signed_in}}
						{{user_info}}
					{{else}}
						{{#link 'sign_in' class="btn btn-primary"}}
							Sign In
						{{/link}}
					{{/if}}
				</div>
			</div>
		</div>
	</div>
</header>

<script>
	$(function() {
		const userTags = window.HelpCenter.user.tags;

		if (Liferay.hasCreateTicketPermission(userTags)) {
			const menuItems = document.querySelectorAll('.header-menu-list .list-item');

			Array.prototype.forEach.call(menuItems, 
				function(item) {
					item.classList.remove('d-none');
				}
			);

			const accountLinks = {
				className: 'account-links',
				configs: [
					{
						name: '{{t 'my_requests'}}',
						url: '{{page_path 'requests'}}'
					},
					{
						name: '{{dc 'project_details'}}',
						url: 'https://customer-uat.liferay.com/group/customer'
					}
				]
			};

			const highlightedLinks = {
				className: 'highlighted',
				configs: [
					{
							name: '{{dc 'submit_a_ticket'}}',
							svgId: '#ticket',
							url: '{{page_path 'new_request'}}'
					},
					{
						name: '{{dc 'mega_menu-contact_us'}}',
						svgId: '#contact',
						url: '/hc/articles/360019000351'
					}
				]
			};

			const locale = {
				currentLocale: {
					name: {{json_stringify current_locale.name}},
					url: {{json_stringify current_locale.url}}
				},
				alternativeLocales: [
					{{#each alternative_locales}}
						{
							name: {{json_stringify name}},
							url: {{json_stringify url}}
						},
					{{/each}}
				]
			};

			Liferay.render(
				Liferay.MegaMenu,
				{
					accountLinks: accountLinks,
					cardMenuItems: {
						className: 'card-menu',
						configs: [
							{
								name: '{{dc 'mega_menu-dxp_7_1'}}',
								svgId: '#dxp-logo',
								url: '/hc/categories/360000874031'
							},
							{
								name: '{{dc 'mega_menu-dxp_cloud'}}',
								svgId: '#dxp-cloud-logo',
								url: '/hc/categories/360000869252'
							},
							{
								name: '{{dc 'mega_menu-dxp_7_0'}}',
								svgId: '#7-0-logo',
								url: '/hc/categories/360000874051'
							},
							{
								name: '{{dc 'mega_menu-commerce'}}',
								svgId: '#commerce-logo',
								url: '/hc/categories/360000869132'
							},
							{
								name: '{{dc 'mega_menu-analytics_cloud'}}',
								svgId: '#analytics-cloud-logo',
								url: '/hc/categories/360000869112'
							},
							{
								name: '{{dc 'mega_menu-portal_6_2'}}',
								svgId: '#6-2-logo',
								url: '/hc/categories/360000869172'
							},
							{
								name: '{{dc 'mega_menu-portal_6_1'}}',
								svgId: '#6-1-logo',
								url: '/hc/categories/360000869192'
							},
							{
								name: '{{dc 'mega_menu-portal_6_0'}}',
								svgId: '#6-0-logo',
								url: '/hc/categories/360000869212'
							}
						]
					},
					highlightedLinks: highlightedLinks,
					locale: locale,
					name: '{{dc 'products'}}'
				},
				document.getElementById('megaMenuProducts')
			);

			Liferay.render(
				Liferay.MegaMenu,
				{
					accountLinks: accountLinks,
					cardMenuItems: {
						className: 'card-menu',
						configs: [
							{
								description: '{{dc 'mega_menu-downloads_description'}}',
								name: '{{dc 'mega_menu-downloads'}}',
								svgId: '#downloads',
								url: 'https://customer.liferay.com/downloads'
							},
							{
								description: '{{dc 'mega_menu-knowledge_base_description'}}',
								name: '{{dc 'mega_menu-knowledge_base'}}',
								svgId: '#knowledge-base',
								url: '/hc/categories/360000580671'
							},
							{
								description: '{{dc 'mega_menu-documentation_description'}}',
								name: '{{dc 'mega_menu-documentation'}}',
								svgId: '#documentation',
								url: '/hc/categories/360000893891'
							},
							{
								description: '{{dc 'mega_menu-announcements_description'}}',
								name: '{{dc 'mega_menu-announcements'}}',
								svgId: '#announcements',
								url: '/hc/categories/360000892252'
							},
							{
								description: '{{dc 'mega_menu-activation_keys_description'}}',
								name: '{{dc 'mega_menu-activation_keys'}}',
								svgId: '#server-activation',
								url: 'https://customer.liferay.com/activation-key'
							}
						]
					},
					highlightedLinks: highlightedLinks,
					locale: locale,
					name: '{{dc 'mega_menu-resources'}}'
				},
				document.getElementById('megaMenuResources')
			);

			Liferay.render(
				Liferay.MegaMenu,
				{
					accountLinks: accountLinks,
					cardMenuItems: {
						className: 'card-menu',
						configs: [
							{
								description: '{{dc 'mega_menu-overview_description'}}',
								name: '{{dc 'mega_menu-overview'}}',
								svgId: '#security-overview',
								url: '/hc/articles/360018999331'
							},
							{
								description: '{{dc 'mega_menu-security_advisories_description'}}',
								name: '{{dc 'mega_menu-security_advisories'}}',
								svgId: '#security-advisories',
								url: '/hc/articles/360018999691'
							},
							{
								description: '{{dc 'mega_menu-reporting_security_issues_description'}}',
								name: '{{dc 'mega_menu-reporting_security_issues'}}',
								svgId: '#report-security-issues',
								url: '/hc/articles/360018999331#Reporting-Security-Issues'
							},
							{
								description: '{{dc 'mega_menu-security_and_disclosure_policy_description'}}',
								name: '{{dc 'mega_menu-security_and_disclosure_policy'}}',
								svgId: '#security-policy',
								url: '/hc/articles/360018999331#Liferay-Security-Policy'
							}
						]
					},
					highlightedLinks: highlightedLinks,
					locale: locale,
					name: '{{dc 'security'}}'
				},
				document.getElementById('megaMenuSecurity')
			);

			Liferay.render(
				Liferay.MegaMenu,
				{
					accountLinks: accountLinks,
					cardMenuItems: {
						className: 'card-menu',
						configs: [
							{
								description: '{{dc 'mega_menu-compatibility_matrix_description'}}',
								name: '{{dc 'mega_menu-compatibility_matrix'}}',
								svgId: '#compatibility-matrix',
								url: '/hc/sections/360002100591'
							},
							{
								description: "{{dc 'mega_menu-support_coverage_description'}}",
								name: '{{dc 'mega_menu-support_coverage'}}',
								svgId: '#support-coverage',
								url: '/hc/articles/360018692772'
							},
							{
								description: '{{dc 'mega_menu-service_life_description'}}',
								name: '{{dc 'mega_menu-service_life'}}',
								svgId: '#service-life',
								url: '/hc/sections/360002103332'
							},
							{
								description: '{{dc 'mega_menu-support_faqs_description'}}',
								name: '{{dc 'mega_menu-support_faqs'}}',
								svgId: '#support-faqs',
								url: '/hc/articles/360018999191'
							},
							{
								description: '{{dc 'mega_menu-fix_delivery_method_description'}}',
								name: '{{dc 'mega_menu-fix_delivery_method'}}',
								svgId: '#fix-delivery-method',
								url: '/hc/articles/360018693032'
							},
							{
								description: '{{dc 'mega_menu-service_levels_description'}}',
								name: '{{dc 'mega_menu-service_levels'}}',
								svgId: '#service-levels',
								url: '/hc/articles/360018999271'
							}
						]
					},
					highlightedLinks: highlightedLinks,
					locale: locale,
					name: '{{dc 'support'}}'
				},
				document.getElementById('megaMenuSupport')
			);
		}

		const onNavScroll = function() {
			const header = document.getElementById('header');

			if (window.scrollY >= 64) {
				header.classList.add('scroll-shadow');
			}
			else {
				header.classList.remove('scroll-shadow');
			}
		};

		window.addEventListener(
			'scroll',
			Liferay.throttle(onNavScroll, 100)
		);
	});
</script>