<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K6TP58G"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<svg display="none" height="0" version="1.1" width="0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	<symbol id="5-2-logo" viewBox="0 0 32 32">
		<path d="M16 0c8.837 0 16 7.163 16 16s-7.163 16-16 16S0 24.837 0 16 7.163 0 16 0zm-5.522 21.168c.448 0 .875-.07 1.281-.21s.763-.343 1.071-.609.553-.595.735-.987.273-.835.273-1.33c0-.467-.077-.873-.231-1.218s-.362-.63-.623-.854-.565-.392-.91-.504a3.516 3.516 0 0 0-1.505-.14 2.328 2.328 0 0 0-.427.112l.112-1.288h3.192v-2.016H8.182l-.224 4.564 1.036.672c.13-.084.247-.154.35-.21s.198-.098.287-.126.18-.049.273-.063.2-.021.322-.021c.355 0 .644.096.868.287s.336.478.336.861c0 .392-.114.681-.343.868s-.553.28-.973.28c-.327 0-.64-.08-.938-.238s-.583-.36-.854-.602l-1.064 1.512c.364.364.81.665 1.337.903s1.155.357 1.883.357zm5.772 0c.41 0 .747-.14 1.008-.42s.392-.625.392-1.036-.13-.756-.392-1.036-.597-.42-1.008-.42-.747.14-1.008.42-.392.625-.392 1.036.13.756.392 1.036.597.42 1.008.42zM18.494 21h6.44v-2.016H23.45c-.196 0-.436.012-.721.035-.285.023-.539.049-.763.077.299-.308.6-.635.903-.98.303-.345.576-.7.819-1.064s.441-.73.595-1.099.231-.73.231-1.085c0-.439-.075-.838-.224-1.197s-.36-.665-.63-.917-.593-.448-.966-.588-.784-.21-1.232-.21c-.327 0-.628.028-.903.084s-.537.142-.784.259c-.247.117-.483.266-.707.448s-.453.394-.686.637l1.288 1.288c.215-.215.436-.408.665-.581s.492-.259.791-.259c.327 0 .59.096.791.287s.301.488.301.889c0 .299-.096.618-.287.959s-.455.7-.791 1.078-.73.782-1.183 1.211-.94.887-1.463 1.372z" fill="#0b63ce" fill-rule="evenodd"/>
	</symbol>
	<symbol id="6-0-logo" vieBox="0 0 32 32">
		<g fill="none" fill-rule="evenodd">
			<rect fill="#0b63ce" height="32" rx="16" width="32"/>
			<path d="M10.954 21.168c-.43 0-.852-.082-1.267-.245-.415-.163-.786-.422-1.113-.777s-.59-.814-.791-1.379-.301-1.248-.301-2.051.103-1.503.308-2.1.476-1.092.812-1.484.726-.686 1.169-.882a3.376 3.376 0 0 1 1.379-.294c.635 0 1.18.112 1.638.336s.835.485 1.134.784l-1.26 1.428c-.14-.159-.336-.301-.588-.427s-.504-.189-.756-.189c-.215 0-.418.04-.609.119s-.36.215-.504.406-.261.439-.35.742-.147.679-.175 1.127a2.413 2.413 0 0 1 1.267-.826c.145-.037.278-.056.399-.056.373 0 .726.054 1.057.161s.616.273.854.497.427.509.567.854.21.756.21 1.232-.082.9-.245 1.274-.385.69-.665.952-.607.46-.98.595-.77.203-1.19.203zm5.296 0c-.41 0-.747-.14-1.008-.42s-.392-.625-.392-1.036.13-.756.392-1.036.597-.42 1.008-.42.747.14 1.008.42.392.625.392 1.036-.13.756-.392 1.036-.597.42-1.008.42zm5.52 0c-.495 0-.943-.1-1.344-.301s-.749-.497-1.043-.889-.52-.877-.679-1.456-.238-1.246-.238-2.002.08-1.421.238-1.995.385-1.05.679-1.428.642-.663 1.043-.854.85-.287 1.344-.287c.485 0 .931.096 1.337.287s.756.478 1.05.861.52.859.679 1.428.238 1.232.238 1.988-.08 1.423-.238 2.002-.385 1.064-.679 1.456-.644.688-1.05.889-.852.301-1.337.301zm0-1.848c-.14 0-.273-.035-.399-.105s-.236-.208-.329-.413-.168-.49-.224-.854-.084-.84-.084-1.428.028-1.06.084-1.414.13-.63.224-.826.203-.324.329-.385.259-.091.399-.091.273.03.399.091.236.189.329.385.168.471.224.826.084.826.084 1.414-.028 1.064-.084 1.428-.13.649-.224.854-.203.343-.329.413-.259.105-.399.105zm-10.872.056c-.112 0-.226-.021-.343-.063a.81.81 0 0 1-.329-.238 1.856 1.856 0 0 1-.287-.476 3.037 3.037 0 0 1-.203-.763c.14-.27.31-.464.511-.581.2-.117.408-.175.623-.175.121 0 .243.016.364.049s.226.089.315.168.161.187.217.322.084.31.084.525c0 .467-.096.789-.287.966s-.413.266-.665.266z" fill="#fff"/>
		</g>
	</symbol>
	<symbol id="6-1-logo" viewBox="0 0 32 32">
		<path d="M16 0c8.837 0 16 7.163 16 16s-7.163 16-16 16S0 24.837 0 16 7.163 0 16 0zm-5.046 21.168c.42 0 .817-.068 1.19-.203s.7-.334.98-.595.502-.579.665-.952c.163-.373.245-.798.245-1.274s-.07-.887-.21-1.232-.329-.63-.567-.854-.523-.39-.854-.497-.684-.161-1.057-.161c-.121 0-.254.019-.399.056a2.38 2.38 0 0 0-.889.448c-.14.112-.266.238-.378.378.028-.448.086-.824.175-1.127.089-.303.205-.55.35-.742s.313-.327.504-.406.394-.119.609-.119c.252 0 .504.063.756.189s.448.268.588.427l1.26-1.428c-.299-.299-.677-.56-1.134-.784s-1.003-.336-1.638-.336c-.476 0-.936.098-1.379.294-.443.196-.833.49-1.169.882s-.607.887-.812 1.484-.308 1.297-.308 2.1.1 1.486.301 2.051.464 1.024.791 1.379.698.614 1.113.777c.415.163.838.245 1.267.245zm5.296 0c.41 0 .747-.14 1.008-.42s.392-.625.392-1.036-.13-.756-.392-1.036-.597-.42-1.008-.42-.747.14-1.008.42-.392.625-.392 1.036.13.756.392 1.036.597.42 1.008.42zM18.914 21h5.908v-1.932h-1.596v-6.944h-1.764c-.336.215-.681.387-1.036.518s-.784.247-1.288.35v1.484h1.68v4.592h-1.904zm-8.016-1.624c-.112 0-.226-.021-.343-.063a.81.81 0 0 1-.329-.238 1.856 1.856 0 0 1-.287-.476 3.037 3.037 0 0 1-.203-.763c.14-.27.31-.464.511-.581.2-.117.408-.175.623-.175.121 0 .243.016.364.049s.226.089.315.168.161.187.217.322.084.31.084.525c0 .467-.096.789-.287.966s-.413.266-.665.266z" fill="#0b63ce" fill-rule="evenodd"/>
	</symbol>
	<symbol id="6-2-logo" viewBox="0 0 32 32">
		<path d="M16 0c8.837 0 16 7.163 16 16s-7.163 16-16 16S0 24.837 0 16 7.163 0 16 0zm-5.046 21.168c.42 0 .817-.068 1.19-.203s.7-.334.98-.595.502-.579.665-.952c.163-.373.245-.798.245-1.274s-.07-.887-.21-1.232-.329-.63-.567-.854-.523-.39-.854-.497-.684-.161-1.057-.161c-.121 0-.254.019-.399.056a2.38 2.38 0 0 0-.889.448c-.14.112-.266.238-.378.378.028-.448.086-.824.175-1.127.089-.303.205-.55.35-.742s.313-.327.504-.406.394-.119.609-.119c.252 0 .504.063.756.189s.448.268.588.427l1.26-1.428c-.299-.299-.677-.56-1.134-.784s-1.003-.336-1.638-.336c-.476 0-.936.098-1.379.294-.443.196-.833.49-1.169.882s-.607.887-.812 1.484-.308 1.297-.308 2.1.1 1.486.301 2.051.464 1.024.791 1.379.698.614 1.113.777c.415.163.838.245 1.267.245zm5.296 0c.41 0 .747-.14 1.008-.42s.392-.625.392-1.036-.13-.756-.392-1.036-.597-.42-1.008-.42-.747.14-1.008.42-.392.625-.392 1.036.13.756.392 1.036.597.42 1.008.42zM18.494 21h6.44v-2.016H23.45c-.196 0-.436.012-.721.035-.285.023-.539.049-.763.077.299-.308.6-.635.903-.98.303-.345.576-.7.819-1.064s.441-.73.595-1.099.231-.73.231-1.085c0-.439-.075-.838-.224-1.197s-.36-.665-.63-.917-.593-.448-.966-.588-.784-.21-1.232-.21c-.327 0-.628.028-.903.084s-.537.142-.784.259c-.247.117-.483.266-.707.448s-.453.394-.686.637l1.288 1.288c.215-.215.436-.408.665-.581s.492-.259.791-.259c.327 0 .59.096.791.287s.301.488.301.889c0 .299-.096.618-.287.959s-.455.7-.791 1.078-.73.782-1.183 1.211-.94.887-1.463 1.372zm-7.596-1.624c-.112 0-.226-.021-.343-.063a.81.81 0 0 1-.329-.238 1.856 1.856 0 0 1-.287-.476 3.037 3.037 0 0 1-.203-.763c.14-.27.31-.464.511-.581.2-.117.408-.175.623-.175.121 0 .243.016.364.049s.226.089.315.168.161.187.217.322.084.31.084.525c0 .467-.096.789-.287.966s-.413.266-.665.266z" fill="#0b63ce" fill-rule="evenodd"/>
	</symbol>
	<symbol id="7-0-logo" viewBox="0 0 32 32">
		<path d="M16 0c8.837 0 16 7.163 16 16s-7.163 16-16 16S0 24.837 0 16 7.163 0 16 0zM8.828 21h2.408a36.41 36.41 0 0 1 .161-2.282c.07-.653.189-1.258.357-1.813a7.812 7.812 0 0 1 .7-1.617c.299-.523.705-1.083 1.218-1.68v-1.484H7.316v2.016h3.808c-.41.57-.754 1.115-1.029 1.638a9.831 9.831 0 0 0-.672 1.596 11.498 11.498 0 0 0-.399 1.694A18.737 18.737 0 0 0 8.828 21zm7.172.168c.41 0 .747-.14 1.008-.42.261-.28.392-.625.392-1.036 0-.41-.13-.756-.392-1.036-.261-.28-.597-.42-1.008-.42-.41 0-.747.14-1.008.42-.261.28-.392.625-.392 1.036 0 .41.13.756.392 1.036.261.28.597.42 1.008.42zm5.52 0c.485 0 .931-.1 1.337-.301.406-.2.756-.497 1.05-.889.294-.392.52-.877.679-1.456.159-.579.238-1.246.238-2.002 0-.756-.08-1.419-.238-1.988-.159-.57-.385-1.045-.679-1.428a2.847 2.847 0 0 0-1.05-.861 3.097 3.097 0 0 0-1.337-.287c-.495 0-.943.096-1.344.287a2.89 2.89 0 0 0-1.043.854c-.294.378-.52.854-.679 1.428-.159.574-.238 1.239-.238 1.995s.08 1.423.238 2.002c.159.579.385 1.064.679 1.456.294.392.642.688 1.043.889.401.2.85.301 1.344.301zm0-1.848a.81.81 0 0 1-.399-.105c-.126-.07-.236-.208-.329-.413-.093-.205-.168-.49-.224-.854a9.758 9.758 0 0 1-.084-1.428c0-.588.028-1.06.084-1.414.056-.355.13-.63.224-.826.093-.196.203-.324.329-.385a.908.908 0 0 1 .798 0c.126.06.236.189.329.385.093.196.168.471.224.826.056.355.084.826.084 1.414s-.028 1.064-.084 1.428c-.056.364-.13.649-.224.854-.093.205-.203.343-.329.413a.81.81 0 0 1-.399.105z" fill="#0B63CE" fill-rule="evenodd"/>
	</symbol>
	<symbol id="admin-guide" viewBox="0 0 32 32">
		<g fill="none" fill-rule="nonzero">
			<path d="M15.5 17.5H8A1.5 1.5 0 0 0 6.5 19v1h-1v-1A2.5 2.5 0 0 1 8 16.5h7.5V14h1v2.5H24a2.5 2.5 0 0 1 2.5 2.5v1h-1v-1a1.5 1.5 0 0 0-1.5-1.5h-8.5zM26 20a6 6 0 1 1 0 12 6 6 0 0 1 0-12zM16 0a7 7 0 1 1 0 14 7 7 0 0 1 0-14zm0 1a6 6 0 1 0 0 12 6 6 0 0 0 0-12zM6 20a6 6 0 1 1 0 12 6 6 0 0 1 0-12zm0 1a5 5 0 1 0 0 10 5 5 0 0 0 0-10zm20 0a5 5 0 1 0 0 10 5 5 0 0 0 0-10z" fill="#C5C9D4"/>
			<rect fill="#DAEFF9" x="12" y="3" width="8" height="8" rx="4"/>
			<path d="M16 5a2 2 0 1 1 0 4 2 2 0 0 1 0-4zm10 19a2 2 0 1 1 0 4 2 2 0 0 1 0-4zM6 24a2 2 0 1 1 0 4 2 2 0 0 1 0-4z" fill="#168CCA"/>
		</g>
	</symbol>
	<symbol id="analytics-cloud-logo" viewBox="0 0 28 28">
		<g transform="translate(-7 -6)" fill="none"><rect width="40" height="40"/><path d="M17.066 20.4c.728 0 1.334.593 1.334 1.304v10.192c0 .711-.606 1.304-1.334 1.304H8.534c-.728 0-1.334-.593-1.334-1.304V21.704c0-.711.606-1.304 1.334-1.304h8.532zM33.066 13.2c.728 0 1.334.57 1.334 1.255v17.49c0 .685-.606 1.255-1.334 1.255h-8.532c-.728 0-1.334-.57-1.334-1.255v-17.49c0-.685.606-1.255 1.334-1.255h8.532z" fill="#0791D6"/><path d="M25.066 6.8c.728 0 1.334.567 1.334 1.248v23.904c0 .68-.606 1.248-1.334 1.248h-8.532c-.727 0-1.334-.567-1.334-1.248V8.048c0-.68.607-1.248 1.334-1.248h8.532z" fill="#0B63CE"/><path d="M15.241 20.4h1.805s1.354-.078 1.354 1.461v10.263s0 1.066-1.6 1.066c0 0-1.354.197-1.6-1.145V20.401h.041zM24.554 13.2s-1.354-.075-1.354 1.407V32.164s0 1.026 1.6 1.026c0 0 1.354.19 1.6-1.102V13.201h-1.846z" fill="#0F37A7"/></g>
	</symbol>
	<symbol id="announcement" viewBox="0 0 32 32">
		 <rect fill="#FCEEF1" width="32" height="32" rx="16"/>
		<path d="M23.95 12.972v8.006l-2.994 2.994H9.978C8.885 23.972 8 22.93 8 21.839v-8.867c0-1.092.886-1.978 1.977-1.978h.01V8.998a.997.997 0 1 1 1.996 0v1.996h2.994V8.998a.997.997 0 1 1 1.996 0v1.996h2.994V8.998a.997.997 0 1 1 1.996 0v1.996h.01c1.091 0 1.977.886 1.977 1.978zm-3.992 9l1.996-1.995h-1.996v1.996zm1.996-4.99V12.99H9.996v8.845c0 .041.031.1.062.138h7.904V17.98h3.992v-.999zm-10.97-2.994h.999v.998h-.998v-.998zm1.997 0h.998v.998h-.998v-.998zm1.996 0h.998v.998h-.998v-.998zm1.996 0h.998v.998h-.998v-.998zm1.996 0h.998v.998h-.998v-.998zm-7.984 1.996h.998v.998h-.998v-.998zm1.996 0h.998v.998h-.998v-.998zm1.996 0h.998v.998h-.998v-.998zm1.996 0h.998v.998h-.998v-.998zm1.996 0h.998v.998h-.998v-.998zm-7.984 1.997h.998v.998h-.998v-.998zm0 1.996h.998v.998h-.998v-.998zm1.996 0h.998v.998h-.998v-.998zm0-1.996h.998v.998h-.998v-.998zm1.996 0h.998v.998h-.998v-.998z" fill="#E55E75"/>
	</symbol>
	<symbol id="announcements" viewBox="0 0 32 32">
		<path fill="#E83E8C" d="M21 19h-1v-3.5a.5.5 0 0 0-.5-.5h-4a4.5 4.5 0 0 0-4.473 4H2a2.03 2.03 0 0 1-.134-.004L20.862 0H23a2 2 0 0 1 2 2v12.193l-4 1.5V19zM28 18.278V28l-8-3v-4.578l8-2.144z" opacity=".05"/>
		<path fill="#E83E8C" d="M21 20.326V24.5a1.5 1.5 0 0 1-1.5 1.5h-4a5.499 5.499 0 0 1-4.849-2.901L21 20.326z" opacity=".05"/>
		<path fill="#E55E75" d="M4 10V5a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1zm11.5-6h5a.5.5 0 1 1 0 1h-5a.5.5 0 1 1 0-1zm0 3h5a.5.5 0 1 1 0 1h-5a.5.5 0 1 1 0-1zm0 3h5a.5.5 0 1 1 0 1h-5a.5.5 0 1 1 0-1z"/>
		<path fill="#C5C9D4" d="M30 17a2 2 0 0 1 2 2v2a2 2 0 0 1-2 2v5.5a1.5 1.5 0 0 1-3 0v-.875l-6.225-2.334c-.265.425-.737.709-1.275.709H19v4a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2v-4c0-.073.004-.14.012-.204A5.502 5.502 0 0 1 10 20.5v-1c0-.169.008-.335.022-.5H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h21a2 2 0 0 1 2 2v11.125l2-.75V11.5a1.5 1.5 0 0 1 3 0V17zm-1 0v-5.5a.5.5 0 1 0-1 0v17a.5.5 0 1 0 1 0V17zm-5-3.5V2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v15a1 1 0 0 0 1 1h8.207a5.502 5.502 0 0 1 5.293-4h4c.538 0 1.01.284 1.275.71L24 13.5zM15.5 15a4.5 4.5 0 0 0-4.5 4.5v1a4.5 4.5 0 0 0 4.5 4.5h4a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-4zM15 26v4a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-4h-3zm6-10.307v8.614l6 2.25V13.443l-6 2.25zM30 18v4a1 1 0 0 0 1-1v-2a1 1 0 0 0-1-1z"/>
	</symbol>
	<symbol id="arrow-left" viewBox="0 0 40 40">
		<path d="M19.737 15.665l-.491-.504a.51.51 0 0 0-.38-.161.51.51 0 0 0-.38.16l-4.33 4.45c-.104.107-.156.237-.156.39s.052.283.156.39l4.33 4.45a.51.51 0 0 0 .38.16.51.51 0 0 0 .38-.16l.49-.505a.472.472 0 0 0 .168-.39.581.581 0 0 0-.167-.39l-2.679-2.638h8.906a.51.51 0 0 0 .38-.16.538.538 0 0 0 .156-.39v-.734a.538.538 0 0 0-.156-.39.51.51 0 0 0-.38-.16h-8.906l2.679-2.638a.581.581 0 0 0 .167-.39.472.472 0 0 0-.167-.39z" fill="#5b6170" fill-rule="evenodd"/>
	</symbol>
	<symbol id="arrow-right" viewBox="0 0 10 8">
		<path d="M5.41.532l.394-.404A.408.408 0 0 1 6.107 0c.12 0 .22.043.304.128l3.464 3.56A.43.43 0 0 1 10 4a.43.43 0 0 1-.125.312l-3.464 3.56A.408.408 0 0 1 6.107 8a.408.408 0 0 1-.303-.128l-.393-.404a.378.378 0 0 1-.134-.312.465.465 0 0 1 .134-.312l2.143-2.11H.429a.408.408 0 0 1-.304-.128A.43.43 0 0 1 0 4.294v-.588a.43.43 0 0 1 .125-.312.408.408 0 0 1 .304-.128h7.125L5.41 1.156a.465.465 0 0 1-.134-.312.378.378 0 0 1 .134-.312z"/>
	</symbol>
	<symbol id="commerce-logo" viewBox="0 0 32 32">
		<g fill="none" fill-rule="evenodd">
			<path d="M0 0h32v32H0z"/>
			<g fill-rule="nonzero">
				<path d="M12.254 5.918l7.337 6.289c.893.815 1.01 2.213.194 3.106l-8.618 10.016a2.118 2.118 0 0 1-1.453.753 1.739 1.739 0 0 1-.294.023l-6.561-.078c-.816 0-1.63-.698-1.747-1.514L.109 18.31C0 17.6.017 16.782.529 16.167L9.148 6.15c.776-.932 2.174-1.01 3.106-.233z" fill="#1aa0e8"/>
				<path d="M19.746 25.173l-7.298-6.289a2.172 2.172 0 0 1-.233-3.106l8.618-10.016C21.335 5.16 22 5 22.824 5.026l6.356.038c.815 0 1.63.698 1.747 1.514l1.048 6.483c.014.099.021.189.02.27a2.275 2.275 0 0 1-.524 1.593L22.852 24.94c-.776.932-2.174 1.01-3.106.233z" fill="#0b63ce"/>
				<path d="M17.115 10.084l2.476 2.123c.893.815 1.01 2.213.194 3.106l-4.889 5.681-2.448-2.11a2.172 2.172 0 0 1-.233-3.106z" fill="#134194"/>
			</g><path d="M19.737 15.665l-.491-.504a.51.51 0 0 0-.38-.161.51.51 0 0 0-.38.16l-4.33 4.45c-.104.107-.156.237-.156.39s.052.283.156.39l4.33 4.45a.51.51 0 0 0 .38.16.51.51 0 0 0 .38-.16l.49-.505a.472.472 0 0 0 .168-.39.581.581 0 0 0-.167-.39l-2.679-2.638h8.906a.51.51 0 0 0 .38-.16.538.538 0 0 0 .156-.39v-.734a.538.538 0 0 0-.156-.39.51.51 0 0 0-.38-.16h-8.906l2.679-2.638a.581.581 0 0 0 .167-.39.472.472 0 0 0-.167-.39z" fill="#5b6170" fill-rule="evenodd"/>
		</g>
	</symbol>
	<symbol id="compatibility-matrix" viewBox="0 0 32 32">
		<path fill="#47C6F5" d="M30 9.02V28a2 2 0 0 1-2 2H8.59a18670.18 18670.18 0 0 0 5.883-6.864c.48-.56.75-1.272.75-2.025a3.1 3.1 0 0 0-.815-2.099l5.779-5.983 1.059 1.059a3.107 3.107 0 0 0 4.553-.166A8442.88 8442.88 0 0 0 30 9.02z" opacity=".1"/>
		<path fill="#C5C9D4" d="M16.5 3v12.5H29v-5.313a65823.88 65823.88 0 0 0 1-1.167V28a2 2 0 0 1-2 2H8.59l.857-1H15.5V16.5H3v6.074a3.102 3.102 0 0 0-1-.128V4a2 2 0 0 1 2-2h23.827a3464.58 3464.58 0 0 0-.86 1H16.5zm-1 0H4a1 1 0 0 0-1 1v11.5h12.5V3zM29 16.5H16.5V29H28a1 1 0 0 0 1-1V16.5z"/>
		<path fill="#47C6F5" d="M23.382 10.257c1.733-2.02 4.653-5.43 5.885-6.868a1.11 1.11 0 1 1 1.688 1.444l-6.667 7.778a1.108 1.108 0 0 1-1.628.063L19.326 9.34a1.11 1.11 0 1 1 1.57-1.57l2.486 2.487zm-18 17c1.733-2.02 4.653-5.43 5.885-6.868a1.11 1.11 0 1 1 1.688 1.444l-6.667 7.778a1.108 1.108 0 0 1-1.628.063L1.326 26.34a1.11 1.11 0 1 1 1.57-1.57l2.486 2.487z"/>
	</symbol>
	<symbol id="contact" viewBox="0 0 32 32">
		<rect fill="#f7f8f9" height="32" rx="16" width="32"/>
		<path d="M22.48 9.675a.519.519 0 0 1 .383.219.693.693 0 0 1 .137.41c0 2.299-.575 4.433-1.724 6.403a12.756 12.756 0 0 1-4.57 4.57A12.487 12.487 0 0 1 10.305 23a.693.693 0 0 1-.41-.137.519.519 0 0 1-.22-.383l-.656-2.845c-.036-.146-.018-.292.055-.438s.182-.247.328-.301l3.065-1.314a.593.593 0 0 1 .397-.027c.136.037.26.11.369.219l1.34 1.642c1.077-.493 2.03-1.159 2.86-1.998s1.491-1.787 1.984-2.845l-1.642-1.341a.815.815 0 0 1-.219-.37.593.593 0 0 1 .027-.396L18.896 9.4c.054-.146.155-.255.3-.328s.293-.091.439-.055z" fill="#09101d"/>
	</symbol>
	<symbol id="documentation" viewBox="0 0 32 32">
		<path fill="#6947BF" fill-rule="nonzero" d="M29 7.135l-22 22V30a2 2 0 0 0 2 2h10.215a2 2 0 0 0 1.97-1.654L22 25.704h5a2 2 0 0 0 2-2V7.135z" opacity=".08"/>
		<path fill="#C5C9D4" fill-rule="nonzero" d="M27.961 25a1 1 0 0 0 .039-.275V6a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v24a1 1 0 0 0 1 1h11.21a1 1 0 0 0 .613-.21l.177-.138V27a2 2 0 0 1 2-2h4.961zm-.973 1H23a1 1 0 0 0-1 1v2.875L26.988 26zM7 27V6a2 2 0 0 1 2-2h15V2a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v24a1 1 0 0 0 1 1h2zm0 1H5a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h18a2 2 0 0 1 2 2v2h2a2 2 0 0 1 2 2v18.725a2 2 0 0 1-.773 1.58l-6.79 5.274a2 2 0 0 1-1.228.421H9a2 2 0 0 1-2-2v-2zm12.5-16h5a.5.5 0 1 1 0 1h-5a.5.5 0 1 1 0-1zm0 6h4a.5.5 0 1 1 0 1h-4a.5.5 0 1 1 0-1zm0-3h2a.5.5 0 1 1 0 1h-2a.5.5 0 1 1 0-1z"/>
		<path fill="#6947BF" d="M15.428 9.638c0 .456-.162.846-.486 1.17a1.574 1.574 0 0 1-1.152.486c-.444 0-.828-.162-1.152-.486a1.595 1.595 0 0 1-.486-1.17c0-.444.162-.828.486-1.152A1.574 1.574 0 0 1 13.79 8c.444 0 .828.162 1.152.486.324.324.486.708.486 1.152zm1.35 10.926a.862.862 0 0 1-.045.252c-.03.096-.063.144-.099.144-.372 0-.837-.015-1.395-.045a27.744 27.744 0 0 0-1.467-.045c-.408 0-.858.015-1.35.045-.492.03-.918.045-1.278.045-.036 0-.069-.048-.099-.144a.862.862 0 0 1-.045-.252c0-.06.015-.138.045-.234s.063-.15.099-.162c.444-.048.759-.168.945-.36.186-.192.279-.576.279-1.152v-2.7c0-.48-.093-.792-.279-.936-.186-.144-.501-.24-.945-.288-.036-.012-.069-.063-.099-.153a.74.74 0 0 1-.045-.225c0-.06.015-.138.045-.234s.063-.144.099-.144c.576-.12 1.224-.315 1.944-.585.72-.27 1.278-.501 1.674-.693a1.22 1.22 0 0 1 .18-.09.567.567 0 0 1 .216-.054c.144 0 .249.024.315.072.066.048.093.102.081.162l-.09 1.53c-.036.6-.054 1.104-.054 1.512v2.826c0 .564.096.948.288 1.152.192.204.504.324.936.36.036 0 .069.051.099.153.03.102.045.183.045.243z"/>
	</symbol>
	<symbol id="downloads" viewBox="0 0 32 32">
		<path fill="#D33A2F" d="M32 3.319V30a2 2 0 0 1-2 2H3.319L32 3.319z" opacity=".06"/>
		<path fill="#C5C9D4" d="M2 1a1 1 0 0 0-1 1v28a1 1 0 0 0 1 1h28a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2zm0-1h28a2 2 0 0 1 2 2v28a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm8 5a1 1 0 1 1 0-2 1 1 0 0 1 0 2zM7 5a1 1 0 1 1 0-2 1 1 0 0 1 0 2zM4 5a1 1 0 1 1 0-2 1 1 0 0 1 0 2zM1 7v1h30V7H1z"/>
		<path fill="#D33A2F" d="M17 22.59l2.537-2.537a1 1 0 1 1 1.415 1.414l-4.243 4.243a1 1 0 0 1-1.414 0l-4.243-4.243a1 1 0 0 1 1.414-1.414L15 22.587V13a1 1 0 0 1 2 0v9.59z"/>
	</symbol>
	<symbol id="dxp-logo" viewBox="0 0 32 32">
		<g fill="none" fill-rule="evenodd">
			<path d="M0 0h32v32H0z"/>
			<path d="M8.62 4.585C12.338-.629 22.675.097 28.25 5.13c10.519 9.476-3.128 32.825-15.913 23.485a13.226 13.226 0 0 1-.953-.725c-4.035-3.491-7.3-8.433-3.853-21.037.226-.861.634-1.587 1.088-2.267z" fill="#1aa0e8"/>
			<path d="M8.62 4.585C19.365.187 32.83 10.751 22.357 22.494c-2.448 2.72-6.257 5.123-10.02 6.12-2.72.726-5.44.68-7.571-.544-5.123-2.856-6.393-13.012-2.448-18.452 1.813-2.449 3.99-4.08 6.302-5.033z" fill="#0b63ce"/>
			<path d="M22.357 22.494C32.83 10.75 19.365.187 8.62 4.585c-.454.68-.862 1.406-1.088 2.267-3.446 12.604-.182 17.546 3.853 21.037.318.272.635.499.952.725 3.763-.997 7.572-3.4 10.02-6.12z" fill="#134194" fill-rule="nonzero"/>
		</g>
	</symbol>
	<symbol id="dxp-cloud-logo" viewBox="0 0 32 32">
		<g fill-rule="nonzero" fill="#0B63CE">
			<path d="M10.069 3.08C14.55-.418 23.287.65 28.25 5.13c10.227 9.213-2.392 31.543-14.85 24.186 3.674-1.157 7.283-3.513 9.677-6.174l.003-.003c2.735-3.066 3.981-6.143 4.028-9 .048-2.86-1.11-5.382-2.963-7.322C20.854 3.37 15.314 1.702 10.07 3.08z"/>
			<path d="M12.338 28.614c-.12-.085-.239-.17-.358-.257a9.934 9.934 0 0 1-.595-.468c-3.783-3.273-6.888-7.821-4.422-18.762.164-.73.353-1.487.568-2.274v-.001c.199-.754.536-1.403.921-2.01.055-.086.111-.172.168-.257a13.677 13.677 0 0 1 4.104-.975c9.633-.763 18.797 8.609 9.633 18.884-2.448 2.72-6.256 5.123-10.019 6.12z"/>
			<path d="M2.318 9.618c1.4-1.89 3.015-3.293 4.743-4.273A7.098 7.098 0 0 0 6.595 6.6c-1.748 6.395-1.829 10.97-.877 14.443.959 3.5 2.933 5.761 5.033 7.578l.003.003c.11.094.22.184.328.268-2.29.405-4.514.213-6.316-.823-5.123-2.856-6.393-13.012-2.448-18.452z"/>
		</g>
	</symbol>
	<symbol id="end-of-life" viewBox="0 0 32 32">
		<rect width="12" height="12" x="10" y="10" fill="#19AB4F" opacity=".1" rx="1"/>
		<path fill="#C5C9D4" d="M19 2.322C25.29 3.696 30 9.298 30 16h1.098a.5.5 0 0 1 .424.765l-1.598 2.557a.5.5 0 0 1-.848 0l-1.598-2.557a.5.5 0 0 1 .424-.765H29c0-6.147-4.267-11.298-10-12.652V2.322zM2 16h1-1zm26.538 6.235C26.245 26.838 21.492 30 16 30v1.098a.5.5 0 0 1-.765.424l-2.557-1.598a.5.5 0 0 1 0-.848l2.557-1.598a.5.5 0 0 1 .765.424V29c5.321 0 9.895-3.197 11.907-7.775l.631 1.01zm-17.763 5.672l-1.01.631C5.162 26.245 2 21.492 2 16H.902a.5.5 0 0 1-.424-.765l1.598-2.557a.5.5 0 0 1 .848 0l1.598 2.557a.5.5 0 0 1-.424.765H3c0 5.321 3.197 9.895 7.775 11.907z"/>
		<path fill="#19AB4F" d="M15 3.511a12.499 12.499 0 0 0-10.654 6.916l-.398.798-1.243-1.988.143-.257A14.494 14.494 0 0 1 15 1.51V1a1 1 0 0 1 2 0v3a1 1 0 0 1-2 0v-.489zM13.5 12.5h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1v-1a1 1 0 0 1 1-1zm0 4h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1v-1a1 1 0 0 1 1-1zm4-4h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1v-1a1 1 0 0 1 1-1zm0 4h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1v-1a1 1 0 0 1 1-1z"/>
	</symbol>
	<symbol id="feature-requests" viewBox="0 0 32 32">
		<path d="M20 23c1.275.22.74-.912 1-2 .354-1.483 1.286-3.27 2-5 1.239-3 .761-7-2-7s-7 2.03-7 7c0 1.763.465 3.063 1.172 4.097.512.748 1.149 1.358 1.828 1.903 1.03.827 2 .827 3 1z" fill="#FFF8E4"/>
		<path fill="#FDCC4A" d="M16 16l-2.351 1.236.449-2.618-1.902-1.854 2.628-.382L16 10l1.176 2.382 2.628.382-1.902 1.854.45 2.618z"/>
		<path d="M20 25v-2h-8v2h8zm1 1a3.001 3.001 0 0 1-2 2.83V29a3 3 0 0 1-6 0v-.17A3.001 3.001 0 0 1 11 26v-3c0-4-3-5.055-3-9 0-4.694 3.582-8 8-8s8 3.306 8 8c0 3.927-3 5-3 9v3zm-7 3a2 2 0 1 0 4 0h-4zm-2-7h8.049c.143-1.349.614-2.398 1.592-4.039l.028-.047C22.682 16.214 23 15.394 23 14c0-4.041-3.031-7-7-7s-7 2.959-7 7c0 1.406.318 2.223 1.338 3.932.997 1.67 1.47 2.72 1.613 4.068H12zm4-22a.5.5 0 0 1 .5.5v4a.5.5 0 1 1-1 0v-4A.5.5 0 0 1 16 0zm10.96 4.333a.5.5 0 0 1 0 .707l-2.828 2.828a.5.5 0 0 1-.707-.707l2.828-2.828a.5.5 0 0 1 .707 0zM8.575 22.718a.5.5 0 0 1 0 .707l-2.828 2.828a.5.5 0 1 1-.707-.707l2.828-2.828a.5.5 0 0 1 .707 0zM4.333 5.04a.5.5 0 0 1 .707 0l2.828 2.828a.5.5 0 0 1-.707.707L4.333 5.747a.5.5 0 0 1 0-.707zm18.385 18.385a.5.5 0 0 1 .707 0l2.828 2.828a.5.5 0 1 1-.707.707l-2.828-2.828a.5.5 0 0 1 0-.707zM1 15.5a.5.5 0 0 1 .5-.5h4a.5.5 0 1 1 0 1h-4a.5.5 0 0 1-.5-.5zm25 0a.5.5 0 0 1 .5-.5h4a.5.5 0 1 1 0 1h-4a.5.5 0 0 1-.5-.5zM12 26a2 2 0 0 0 2 2h4a2 2 0 0 0 2-2h-8z" fill="#C5C9D4"/>
	</symbol>
	<symbol id="fix-delivery-method" viewBox="0 0 32 32">
		<path fill="#E06E31" d="M21.703 30a5.502 5.502 0 0 0-.15-3.388l2.665-4.615c.602.023 1.2-.027 1.782-.146V28a2 2 0 0 1-2 2h-2.297zM26 7.15a7.502 7.502 0 0 0-7.845 11.347l-2.664 4.615a5.496 5.496 0 0 0-3.854 2.675A5.483 5.483 0 0 0 11.1 30H4a2.01 2.01 0 0 1-.396-.04L16.876 5h2.728V3H24a2 2 0 0 1 2 2v2.15z" opacity=".08"/>
		<path fill="#C5C9D4" d="M11.099 30H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4a1 1 0 0 1 1-1h2a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2h2a1 1 0 0 1 1 1h4a2 2 0 0 1 2 2v2.15a7.475 7.475 0 0 0-1-.134V5a1 1 0 0 0-1-1h-4v1a1 1 0 0 1-1 1H9a1 1 0 0 1-1-1V4H4a1 1 0 0 0-1 1v23a1 1 0 0 0 1 1h6.92c.029.339.089.673.179 1zm10.604 0c.091-.33.15-.664.179-1H24a1 1 0 0 0 1-1v-6.014a7.498 7.498 0 0 0 1-.135V28a2 2 0 0 1-2 2h-2.297zm-4.548-17a7.482 7.482 0 0 0-.135 1H6.5a.5.5 0 1 1 0-1h10.655zm2.25-4a7.472 7.472 0 0 0-.9 1H6.5a.5.5 0 0 1 0-1h12.905zm-1.973 8c.12.342.266.676.437 1H6.5a.5.5 0 1 1 0-1h10.932zM6.5 21h5a.5.5 0 1 1 0 1h-5a.5.5 0 1 1 0-1zM16 2a1 1 0 0 0-1-1h-2a1 1 0 0 0-1 1h4zM9 3v2h10V3H9z"/>
		<path fill="#E06E31" d="M19.281 26.547a3.5 3.5 0 1 1-2.598-1.5l3.876-6.712a5.502 5.502 0 0 1 5.293-9.168l-2.897 5.017a1 1 0 0 0 .366 1.366l.866.5a1 1 0 0 0 1.366-.366l2.897-5.017a5.502 5.502 0 0 1-5.293 9.168l-3.876 6.712zm-3.63 3.286a1.49 1.49 0 0 0 2.049-.555 1.528 1.528 0 0 0-.55-2.074 1.49 1.49 0 0 0-2.048.555 1.528 1.528 0 0 0 .549 2.074z"/>
	</symbol>
	<symbol id="fixpack" viewBox="0 0 32 32">
		<path fill="#D33A2F" d="M28.559 7H31v24a1 1 0 0 1-1 1H3.559l25-25z" opacity=".08"/>
		<path fill="#C5C9D4" d="M2 7v24h28V7H2zm29 0v24a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V7a1 1 0 0 1-1-1V1a1 1 0 0 1 1-1h30a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1zM1 1v5h30V1H1zm12.5 2h5a.5.5 0 1 1 0 1h-5a.5.5 0 1 1 0-1z"/>
		<path fill="#D33A2F" d="M17.528 19.6l2.496 2.495a3.001 3.001 0 0 1 4.249 3.224l-2.41-1.392a1 1 0 0 0-1 1.732l2.428 1.403a3 3 0 0 1-4.681-3.553l-2.496-2.495 1.414-1.415zm-2.121-2.122l-1.414 1.414-1.989-1.988a3.001 3.001 0 0 1-4.249-3.224l2.41 1.391a1 1 0 1 0 1-1.732l-2.428-1.402a3 3 0 0 1 4.681 3.553l1.989 1.988zm-2.782 4.196l7.779-7.778.549-1.647a1 1 0 0 1 .632-.633l1.173-.39a.809.809 0 0 1 1.023 1.023l-.39 1.172a1 1 0 0 1-.633.633l-1.647.549-7.778 7.778.353.353a1 1 0 0 1 0 1.415l-3.323 3.323a1 1 0 0 1-1.415 0l-1.414-1.414a1 1 0 0 1 0-1.414l3.324-3.324a1 1 0 0 1 1.414 0l.353.354z"/>
	</symbol>
	<symbol id="getting-started" viewBox="0 0 32 32">
		<g fill="none" fill-rule="evenodd">
			<path d="M11 8h12v5a3 3 0 0 1-3 3h-9V8zM3 23h12v5a3 3 0 0 1-3 3H3v-8zm17 0h12v5a3 3 0 0 1-3 3h-9v-8z" fill="#E8F6ED" fill-rule="nonzero"/>
			<path d="M10 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H10zm9 14h-6a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V18a2 2 0 0 1 2-2h8a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2h9a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H19a2 2 0 0 1-2-2V18a2 2 0 0 1 2-2zM2 17a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1V18a1 1 0 0 0-1-1H2zm17 0a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1V18a1 1 0 0 0-1-1H19z" fill="#C5C9D4" fill-rule="nonzero"/>
			<path d="M13.664 11V9.758h1.224V6.806h-1.08v-.954c.324-.066.6-.141.828-.225.228-.084.45-.195.666-.333h1.134v4.464h1.026V11h-3.798zm-8.27 15v-.882c.336-.312.65-.606.94-.882.292-.276.545-.535.761-.779.216-.243.385-.473.509-.692.123-.22.184-.425.184-.617 0-.258-.064-.448-.194-.572a.706.706 0 0 0-.508-.184.82.82 0 0 0-.509.166c-.147.112-.289.236-.427.374l-.828-.828c.15-.156.297-.292.441-.41a2.208 2.208 0 0 1 .958-.455c.178-.035.371-.053.581-.053.288 0 .552.045.792.135.24.09.447.216.621.378s.309.358.405.59c.096.23.144.487.144.769 0 .228-.05.46-.148.698a4.18 4.18 0 0 1-.383.706 6.503 6.503 0 0 1-.527.684 17.4 17.4 0 0 1-.58.63 11.7 11.7 0 0 1 .49-.05c.184-.015.338-.022.464-.022h.954V26h-4.14zm18.89.108c-.468 0-.87-.072-1.206-.216a2.223 2.223 0 0 1-.828-.594l.702-.972c.174.162.361.292.563.392.2.099.403.148.607.148.252 0 .453-.045.603-.135a.442.442 0 0 0 .225-.405.725.725 0 0 0-.054-.288.474.474 0 0 0-.207-.216 1.264 1.264 0 0 0-.432-.135 4.754 4.754 0 0 0-.729-.045v-1.08c.24 0 .44-.015.599-.045.159-.03.286-.073.382-.13a.504.504 0 0 0 .203-.203.596.596 0 0 0 .058-.27c0-.348-.198-.522-.594-.522-.192 0-.363.039-.513.117-.15.078-.315.195-.495.351l-.774-.936c.282-.234.573-.415.873-.544.3-.13.627-.194.981-.194.63 0 1.132.14 1.508.419.375.279.562.676.562 1.192 0 .552-.306.963-.918 1.233v.036c.324.102.588.265.792.49.204.226.306.518.306.878 0 .27-.06.508-.18.715-.12.208-.28.383-.482.527a2.153 2.153 0 0 1-.706.324 3.27 3.27 0 0 1-.846.108z" fill="#19AB4F"/>
		</g>
	</symbol>
	<symbol id="help-topics" viewBox="0 0 32 32">
		<path fill="#42BFC2" fill-rule="nonzero" d="M28.55 7c.029.135.044.275.044.418v22a2 2 0 0 1-2 2H5L27.964 8.454c.401-.4.596-.929.586-1.454z" opacity=".1"/>
		<path fill="#C5C9D4" fill-rule="nonzero" d="M29 25h1a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H8a1 1 0 0 0-1 1v1h17a2 2 0 0 1 2 2v1h1a2 2 0 0 1 2 2v17zm0 1v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-1H2a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4V2a2 2 0 0 1 2-2h22a2 2 0 0 1 2 2v22a2 2 0 0 1-2 2h-1zM3 28V8a2 2 0 0 1 2-2h20V5a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v22a1 1 0 0 0 1 1h1zM5 7a1 1 0 0 0-1 1v22a1 1 0 0 0 1 1h22a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H5z"/>
		<path fill="#42BFC2" d="M14.04 21.12a2.892 2.892 0 0 1 .04-1.18c.093-.36.23-.69.41-.99.18-.3.387-.577.62-.83.233-.253.45-.493.65-.72.2-.227.37-.443.51-.65.14-.207.21-.417.21-.63 0-.36-.11-.617-.33-.77a1.347 1.347 0 0 0-.79-.23c-.347 0-.64.08-.88.24-.24.16-.493.36-.76.6l-1.88-1.72a5.923 5.923 0 0 1 1.75-1.36 4.756 4.756 0 0 1 2.21-.52c.547 0 1.06.067 1.54.2s.9.34 1.26.62c.36.28.643.643.85 1.09.207.447.31.983.31 1.61 0 .4-.073.757-.22 1.07a4.595 4.595 0 0 1-.53.87c-.207.267-.433.52-.68.76-.247.24-.47.487-.67.74a3.66 3.66 0 0 0-.49.82c-.127.293-.17.62-.13.98h-3zm1.48 5.12c-.587 0-1.067-.2-1.44-.6-.373-.4-.56-.893-.56-1.48s.187-1.08.56-1.48c.373-.4.853-.6 1.44-.6s1.067.2 1.44.6c.373.4.56.893.56 1.48s-.187 1.08-.56 1.48c-.373.4-.853.6-1.44.6z"/>
	</symbol>
	<symbol id="info-circle" viewBox="0 0 512 512">
		<path class="lexicon-icon-outline" d="M437,75C388.7,26.6,324.4,0,256,0C187.6,0,123.3,26.6,75,75C26.6,123.3,0,187.6,0,256c0,68.4,26.6,132.7,75,181c48.4,48.4,112.6,75,181,75c68.4,0,132.7-26.6,181-75c48.4-48.4,75-112.6,75-181C512,187.6,485.4,123.3,437,75z M288,384c0,17.7-14.3,32-32,32c-17.7,0-32-14.3-32-32V224c0-17.7,14.3-32,32-32c17.7,0,32,14.3,32,32V384z M256,160c-17.7,0-32-14.3-32-32c0-17.7,14.3-32,32-32s32,14.3,32,32C288,145.7,273.7,160,256,160z" />
	</symbol>
	<symbol id="knowledge-base" viewBox="0 0 32 32">
		<path fill="#168CCA" d="M15.348 7h-2.399A5026.63 5026.63 0 0 1 15 1h10c0 .072.035.883.087 2.168a8.995 8.995 0 0 0-8.551 2.368c-.455.454-.851.946-1.188 1.464zm-1.404 4a8.982 8.982 0 0 0 2.592 7.263 8.998 8.998 0 0 0 8.944 2.26C25.444 23.171 25.307 25 25 25H7c-.112 0 1.417-4.667 4.587-14h2.357z" opacity=".08"/>
		<path fill="#CED3DE" d="M25 3.147V2.2c0-.663-.448-1.2-1-1.2H5v24h20v-4.348c.338-.08.672-.18 1-.301V26H3.5a2.5 2.5 0 1 0 0 5h22a.5.5 0 1 1 0 1h-22A3.5 3.5 0 0 1 0 28.5V4.154C0 1.86 1.79 0 4 0h20c1.105 0 2 .93 2 2.077v1.371a8.978 8.978 0 0 0-1-.301zM16.102 6c-.278.32-.529.654-.754 1H9v4h4.944a9.054 9.054 0 0 0-.044 1H9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h7.102zM4 1C2.343 1 1 2.612 1 4.6v21.45A3.49 3.49 0 0 1 3.5 25H4V1zm.5 27h21a.5.5 0 1 1 0 1h-21a.5.5 0 1 1 0-1z"/>
		<path fill="#1AA0E8" d="M26.906 14.892a5.001 5.001 0 0 0-7.542-6.528 5 5 0 0 0 6.528 7.542l.58-.434.434-.58zM17.95 16.85a7 7 0 1 1 10.556-.757l2.465 2.464a1 1 0 1 1-1.415 1.415l-2.464-2.465a7.002 7.002 0 0 1-9.142-.657z"/>
	</symbol>
	<symbol id="known-issues" viewBox="0 0 32 32">
		<g fill="none" fill-rule="nonzero">
			<path d="M22.465 9.66l9.184 17.009a2.927 2.927 0 0 1-1.228 3.984 3.012 3.012 0 0 1-1.404.347H2.982c-.536 0-1.039-.14-1.473-.384L22.465 9.66z" fill="#FBF0EA"/>
			<path d="M17.75 3.035a1.964 1.964 0 0 0-.813-.803c-.97-.51-2.175-.149-2.688.803L1.23 27.144c-.152.28-.231.593-.231.91C1 29.127 1.885 30 2.982 30h26.035c.328 0 .65-.08.938-.231a1.927 1.927 0 0 0 .814-2.625L17.75 3.035zm.88-.475L31.65 26.669a2.927 2.927 0 0 1-1.228 3.984 3.012 3.012 0 0 1-1.404.347H2.982C1.335 31 0 29.681 0 28.055c0-.484.12-.96.35-1.386L13.37 2.559c.775-1.434 2.58-1.977 4.034-1.212.522.275.95.697 1.228 1.213z" fill="#C5C9D4"/>
			<path d="M16 10a2 2 0 0 1 2 2v6a2 2 0 1 1-4 0v-6a2 2 0 0 1 2-2zm0 16a2 2 0 1 1 0-4 2 2 0 0 1 0 4z" fill="#E06E31"/>
		</g>
	</symbol>
	<symbol id="language" viewBox="0 0 16 16">
		<path d="M13.562 5c.146.565.22 1.148.22 1.75 0 .602-.074 1.185-.22 1.75H9.953a14.055 14.055 0 0 0 0-3.5h3.61zM5.06 9.375H8.94c-.164.802-.392 1.54-.683 2.215-.347.784-.757 1.43-1.23 1.941h-.055c-.474-.51-.884-1.157-1.23-1.941a11.246 11.246 0 0 1-.684-2.215zm4.757-5.25C9.525 2.521 8.996 1.172 8.23.078c1.13.2 2.142.666 3.036 1.395a6.776 6.776 0 0 1 1.996 2.652H9.816zM9.078 5a14.055 14.055 0 0 1 0 3.5H4.922a14.055 14.055 0 0 1 0-3.5h4.156zM4.184 9.375c.291 1.604.82 2.953 1.586 4.047a6.528 6.528 0 0 1-3.036-1.395A6.776 6.776 0 0 1 .738 9.375h3.446zm5.632 0h3.446a6.776 6.776 0 0 1-1.996 2.652 6.528 6.528 0 0 1-3.036 1.395c.766-1.094 1.295-2.443 1.586-4.047zm-.875-5.25H5.06c.164-.802.392-1.54.683-2.215C6.09 1.126 6.5.48 6.972-.03h.055c.474.51.884 1.157 1.23 1.941.292.675.52 1.413.684 2.215zM.437 5h3.61a14.055 14.055 0 0 0 0 3.5H.437A6.975 6.975 0 0 1 .22 6.75c0-.602.073-1.185.218-1.75zm3.747-.875H.738a6.776 6.776 0 0 1 1.996-2.652A6.528 6.528 0 0 1 5.77.078c-.766 1.094-1.295 2.443-1.586 4.047z" fill="#5B6170" fill-rule="evenodd"/>
	</symbol>
	<symbol id="latest-release" viewBox="0 0 32 32">
		<path fill="#19AB4F" d="M6.835 25.22L25.206 6.849c.239-.239 1.457.062 1.79.485A13.94 13.94 0 0 1 30 16c0 7.732-6.268 14-14 14-3.051 0-5.875-.976-8.175-2.633-.262-.189.817-1.038.62-1.433-.257-.514-1.743-.58-1.61-.714z" opacity=".08"/>
		<path fill="#C5C9D4" d="M2.254 22.013a2.5 2.5 0 0 0-.933.363C-1.22 16.526-.096 9.47 4.686 4.686c5.819-5.818 15.005-6.219 21.286-1.2l2.133-2.132a.5.5 0 0 1 .838.232l1.584 6.335a.5.5 0 0 1-.606.606l-6.335-1.584a.5.5 0 0 1-.232-.838l1.906-1.907C19.374-.432 10.821-.034 5.393 5.393.9 9.887-.147 16.523 2.253 22.013zM28.187 2.685l-3.502 3.502 4.67 1.168-1.168-4.67zm1.788 7.856a2.5 2.5 0 0 0 1.002-.18c2.142 5.696.92 12.37-3.663 16.953-5.666 5.666-14.525 6.194-20.786 1.584l-2.236 2.236a.5.5 0 0 1-.844-.256l-1.26-6.303a.5.5 0 0 1 .587-.588l6.304 1.26a.5.5 0 0 1 .255.844l-2.09 2.09c5.862 4.225 14.088 3.7 19.363-1.574 4.343-4.344 5.466-10.688 3.368-16.066zM4.245 29.766l3.722-3.721-4.652-.93.93 4.651z"/>
		<path fill="#19AB4F" d="M18.921 16.686L22.928 19a1 1 0 1 1-1 1.732l-4.09-2.361A3 3 0 1 1 15 13.17V7a1 1 0 0 1 2 0v6.17a3.001 3.001 0 0 1 1.921 3.516zM16 17a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
	</symbol>
	<symbol id="liferay-logo" viewBox="0 0 126 42">
		<g fill="none" fill-rule="evenodd" transform="translate(0 4)">
			<path d="M0 4.75c0-1.049.852-1.9 1.902-1.9h21.872c1.05 0 1.901.851 1.901 1.9v21.853c0 1.05-.851 1.9-1.901 1.9H1.902c-1.05 0-1.902-.85-1.902-1.9zm3.804 2.376c0-.263.213-.475.475-.475h2.853c.263 0 .476.212.476.475v2.85a.475.475 0 0 1-.476.475H4.28a.475.475 0 0 1-.475-.475zm5.23-.475a.475.475 0 0 0-.476.475v2.85c0 .263.213.475.476.475h2.853a.475.475 0 0 0 .475-.475v-2.85a.475.475 0 0 0-.475-.475zm4.28.475c0-.263.212-.475.475-.475h2.853c.262 0 .475.212.475.475v2.85a.475.475 0 0 1-.475.475h-2.853a.475.475 0 0 1-.476-.475zM4.278 11.4a.475.475 0 0 0-.475.475v2.85c0 .263.213.476.475.476h2.853a.475.475 0 0 0 .476-.475v-2.85a.475.475 0 0 0-.476-.476zm4.28.475c0-.262.212-.475.475-.475h2.853c.262 0 .475.213.475.475v2.85a.475.475 0 0 1-.475.476H9.034a.475.475 0 0 1-.476-.475zm9.984-.475a.475.475 0 0 0-.475.475v2.85c0 .263.213.476.475.476h2.853a.475.475 0 0 0 .476-.475v-2.85a.475.475 0 0 0-.476-.476zm-14.74 5.226c0-.262.214-.475.476-.475h2.853c.263 0 .476.213.476.475v2.85a.475.475 0 0 1-.476.475H4.28a.475.475 0 0 1-.475-.475zm9.986-.475a.475.475 0 0 0-.476.475v2.85c0 .263.213.475.476.475h2.853a.475.475 0 0 0 .475-.475v-2.85a.475.475 0 0 0-.475-.475zm4.279.475c0-.262.213-.475.475-.475h2.853c.263 0 .476.213.476.475v2.85a.475.475 0 0 1-.476.475h-2.853a.475.475 0 0 1-.475-.475zm-9.034 4.276a.475.475 0 0 0-.476.475v2.85c0 .262.213.475.476.475h2.853a.475.475 0 0 0 .475-.475v-2.85a.475.475 0 0 0-.475-.475zm4.28.475c0-.263.212-.475.475-.475h2.853c.262 0 .475.212.475.475v2.85a.475.475 0 0 1-.475.475h-2.853a.475.475 0 0 1-.476-.475zm5.23-.475a.475.475 0 0 0-.476.475v2.85c0 .262.213.475.475.475h2.853a.475.475 0 0 0 .476-.475v-2.85a.475.475 0 0 0-.476-.475z" fill="#0b63ce"/>
			<g fill="#09101d" fill-rule="nonzero">
				<path d="M46.575 26.232H35.531V3.295c0-.263-.264-.527-.529-.527h-1.19c-.264 0-.529.264-.529.527v24.519c0 .263.265.527.53.527h12.762c.265 0 .53-.264.53-.527v-1.055c0-.264-.265-.527-.53-.527zM51.337 9.557h-1.124c-.265 0-.53.263-.53.527V27.88c0 .264.265.528.53.528h1.124c.264 0 .529-.264.529-.528V10.084c0-.33-.199-.527-.53-.527zM64.761 2.307l.397-.989c.066-.263 0-.527-.264-.659C63.968.264 63.042 0 62.248 0c-1.388 0-2.579.461-3.372 1.45-.794.923-1.257 2.373-1.257 4.218v3.889l-1.984.132c-.264 0-.463.263-.463.527v.923c0 .263.265.527.53.527h1.917v16.213c0 .264.265.528.53.528h1.123c.265 0 .53-.264.53-.528V11.666h3.703c.264 0 .529-.264.529-.527v-1.055c0-.264-.265-.527-.53-.527h-3.703V5.866c0-1.252.199-2.175.596-2.834.396-.593.925-.857 1.785-.857.33 0 .662.066.926.132.33.066.661.198.992.33a.423.423 0 0 0 .397 0c.132-.132.264-.198.264-.33zM72.565 9.095c-1.058 0-2.116.264-3.108.725a7.503 7.503 0 0 0-2.58 1.978c-.727.857-1.388 1.911-1.785 3.097-.463 1.187-.661 2.57-.661 4.087 0 1.516.198 2.9.661 4.086.463 1.186 1.058 2.241 1.852 3.098a8.237 8.237 0 0 0 2.777 1.977c1.058.461 2.182.66 3.373.66 1.389 0 2.579-.199 3.439-.594.86-.395 1.653-.79 2.314-1.186.265-.132.33-.462.199-.66l-.53-.988c-.066-.132-.198-.198-.33-.264-.132 0-.33 0-.397.066a7.722 7.722 0 0 1-2.05 1.12c-.727.264-1.587.396-2.513.396-.992 0-1.852-.198-2.645-.593s-1.455-.923-2.05-1.582c-.595-.659-.992-1.516-1.323-2.439-.264-.79-.397-1.647-.463-2.57H79.31a.576.576 0 0 0 .53-.395c.065-.264.065-.528.065-.725v-.594c0-2.768-.661-4.943-1.917-6.393-1.455-1.582-3.24-2.307-5.423-2.307zm5.026 8.37H66.613c.132-.856.33-1.647.595-2.372.33-.857.794-1.582 1.389-2.175.529-.593 1.124-1.054 1.852-1.318.66-.33 1.388-.461 2.116-.461 1.52 0 2.777.527 3.637 1.647.86 1.055 1.323 2.637 1.389 4.68zM91.875 9.49c-.33-.197-.661-.263-.992-.329-.33-.066-.595-.066-.926-.066-1.19 0-2.314.396-3.24 1.187-.53.461-.992.988-1.455 1.582l-.066-1.78c0-.264-.265-.527-.53-.527h-.991c-.265 0-.53.263-.53.527V27.88c0 .264.265.528.53.528h1.124c.265 0 .53-.264.53-.528V15.62c.66-1.647 1.388-2.768 2.248-3.36.793-.66 1.52-.924 2.248-.924.397 0 .595 0 .727.066.133 0 .397.132.662.198a.423.423 0 0 0 .397 0c.132-.066.264-.198.264-.33l.33-1.054c.067-.33-.065-.593-.33-.725zM107.151 9.557h-1.058a.52.52 0 0 0-.53.527l-.065.791c-.661-.461-1.257-.79-1.852-1.12a7.45 7.45 0 0 0-3.108-.66c-1.19 0-2.248.264-3.307.725a8.68 8.68 0 0 0-2.71 1.978c-.794.857-1.39 1.911-1.853 3.097-.463 1.187-.66 2.57-.66 4.087 0 3.163.727 5.602 2.115 7.25 1.455 1.713 3.373 2.57 5.82 2.57 1.322 0 2.513-.33 3.637-.923a10.647 10.647 0 0 0 1.984-1.384l.066 1.384c0 .264.265.462.53.462h.991c.265 0 .53-.264.53-.527V10.018c0-.263-.265-.461-.53-.461zm-1.653 3.757v10.545a14.477 14.477 0 0 1-2.712 2.11c-.86.46-1.785.724-2.777.724-.926 0-1.786-.198-2.447-.527a4.887 4.887 0 0 1-1.785-1.516c-.463-.66-.86-1.516-1.125-2.439-.264-.922-.396-2.043-.396-3.23 0-1.054.198-2.108.462-3.031.331-.923.794-1.78 1.323-2.505.53-.725 1.19-1.252 1.984-1.647a4.905 4.905 0 0 1 2.38-.593c.86 0 1.72.197 2.514.527.86.263 1.653.857 2.579 1.582zM125.932 9.755c-.132-.132-.264-.198-.396-.198h-1.19a.497.497 0 0 0-.464.33l-4.034 11.665c-.264.725-.529 1.582-.86 2.505-.132.527-.33.988-.462 1.45-.199-.462-.397-.989-.595-1.45a30.922 30.922 0 0 0-.992-2.439l-4.563-11.666a.497.497 0 0 0-.463-.33h-1.257a.601.601 0 0 0-.463.198c-.066.066-.132.33-.066.462l7.34 18.059-.462 1.45c-.463 1.384-1.058 2.57-1.852 3.427-.661.857-1.455 1.252-2.447 1.252-.198 0-.463 0-.661-.066-.265-.065-.463-.131-.661-.197a.423.423 0 0 0-.397 0c-.132.066-.199.197-.265.33l-.33 1.054c-.066.263.066.527.264.593a4.758 4.758 0 0 0 1.918.395c.86 0 1.653-.197 2.315-.593.66-.33 1.256-.857 1.785-1.45.53-.593.926-1.252 1.257-1.977.33-.725.66-1.384.86-2.11l7.141-20.299c.068-.174.106-.29 0-.395zM51.403 2.834H50.08a.662.662 0 0 0-.66.66V4.81c0 .33.264.66.66.66h1.323c.33 0 .661-.264.661-.66V3.493c0-.33-.33-.659-.661-.659z"/>
			</g>
		</g>
	</symbol>
	<symbol id="liferay-waffle" viewBox="0 0 24 24">
		<path d="M0 1.778C0 .796.796 0 1.778 0h20.444C23.204 0 24 .796 24 1.778v20.444c0 .982-.796 1.778-1.778 1.778H1.778A1.778 1.778 0 0 1 0 22.222V1.778zM3.556 4c0-.245.199-.444.444-.444h2.667c.245 0 .444.199.444.444v2.667a.444.444 0 0 1-.444.444H4a.444.444 0 0 1-.444-.444V4zm4.888-.444A.444.444 0 0 0 8 4v2.667c0 .245.199.444.444.444h2.667a.444.444 0 0 0 .445-.444V4a.444.444 0 0 0-.445-.444H8.444zm4 .444c0-.245.2-.444.445-.444h2.667c.245 0 .444.199.444.444v2.667a.444.444 0 0 1-.444.444h-2.667a.444.444 0 0 1-.445-.444V4zM4 8a.444.444 0 0 0-.444.444v2.667c0 .246.199.445.444.445h2.667a.444.444 0 0 0 .444-.445V8.444A.444.444 0 0 0 6.667 8H4zm4 .444C8 8.2 8.199 8 8.444 8h2.667c.246 0 .445.199.445.444v2.667a.444.444 0 0 1-.445.445H8.444A.444.444 0 0 1 8 11.11V8.444zM17.333 8a.444.444 0 0 0-.444.444v2.667c0 .246.199.445.444.445H20a.444.444 0 0 0 .444-.445V8.444A.444.444 0 0 0 20 8h-2.667zM3.556 12.889c0-.246.199-.445.444-.445h2.667c.245 0 .444.2.444.445v2.667a.444.444 0 0 1-.444.444H4a.444.444 0 0 1-.444-.444v-2.667zm9.333-.445a.444.444 0 0 0-.445.445v2.667c0 .245.2.444.445.444h2.667a.444.444 0 0 0 .444-.444v-2.667a.444.444 0 0 0-.444-.445h-2.667zm4 .445c0-.246.199-.445.444-.445H20c.245 0 .444.2.444.445v2.667A.444.444 0 0 1 20 16h-2.667a.444.444 0 0 1-.444-.444v-2.667zm-8.445 4a.444.444 0 0 0-.444.444V20c0 .245.199.444.444.444h2.667a.444.444 0 0 0 .445-.444v-2.667a.444.444 0 0 0-.445-.444H8.444zm4 .444c0-.245.2-.444.445-.444h2.667c.245 0 .444.199.444.444V20a.444.444 0 0 1-.444.444h-2.667a.444.444 0 0 1-.445-.444v-2.667zm4.89-.444a.444.444 0 0 0-.445.444V20c0 .245.199.444.444.444H20a.444.444 0 0 0 .444-.444v-2.667c0-.245-.2-.443-.444-.443h-2.667l.001-.001z" fill="#0B63CE" fill-rule="evenodd"/>
	</symbol>
	<symbol id="lock" viewBox="0 0 512 512">
		<path class="lexicon-icon-outline" d="M364.8,223.9H352v-96.1c0-127.4-192-128.1-192,0v96.1h-19.2c-28.2,0-44.8,23-44.8,51.2v153.7c0,28.2,16.6,51.2,44.8,51.2h224c28.2,0,51.2-23,51.2-51.2V275.1C416,246.9,393,223.9,364.8,223.9z M192,127.8c0-84,128-84.7,128,0v96.1H192V127.8z M288,416h-64v-96.1h64V416z"/>
	</symbol>
	<symbol id="paperclip" viewBox="0 0 512 512">
		<path class="lexicon-icon-outline" d="M473.449 48.992c-17.8-17.799-41.45-27.588-66.604-27.588s-48.805 9.788-66.604 27.588l-203.012 202.984c-12.604 12.604-19.249 28.517-18.784 44.868 0.465 15.339 7.136 30.185 18.756 41.832 11.566 11.565 26.986 17.963 43.364 17.963s31.798-6.398 43.363-17.963l108.902-108.902c9.351-9.351 9.351-24.498 0-33.822s-24.498-9.351-33.822 0l-108.93 108.902c-5.059 5.086-13.917 5.113-19.030 0-2.98-2.98-4.675-6.316-4.785-9.378-0.082-3.144 1.531-6.37 4.785-9.624l203.012-203.012c17.526-17.499 48.039-17.499 65.565 0 18.073 18.073 18.073 47.493 0 65.565l-237.899 237.899c-32.645 32.619-85.771 32.645-118.417 0s-32.645-85.771 0-118.417l169.162-169.162c9.351-9.35 9.351-24.498 0-33.822-9.351-9.35-24.498-9.35-33.822 0l-169.162 169.162c-51.293 51.293-51.293 134.794 0 186.087 25.647 25.647 59.359 38.469 93.044 38.469 33.713 0 67.397-12.823 93.044-38.469l237.899-237.899c36.719-36.775 36.719-96.516-0.027-133.263z"/>
	</symbol>
	<symbol id="patching-tool" viewBox="0 0 32 32">
		<path fill="#6947BF" d="M29.634 4H30a2 2 0 0 1 2 2v24a2 2 0 0 1-2 2H2c-.115 0-.228-.01-.337-.028L29.634 4z" opacity=".08"/>
		<path fill="#C5C9D4" d="M2 5a1 1 0 0 0-1 1v24a1 1 0 0 0 1 1h28a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1H2zm4-1V2a1 1 0 0 1 1-1h5a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1h5a1 1 0 0 1 1 1v2h4a2 2 0 0 1 2 2v24a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h4zm1 0h18V2h-5a1 1 0 0 1-1 1h-6a1 1 0 0 1-1-1H7v2zm6-3v1h6V1h-6z"/>
		<path fill="#6947BF" d="M12.211 26H9a1 1 0 0 1-1-1v-3.848l-1.302.349a.5.5 0 1 1-.26-.966L8 20.116v-1.964l-1.302.349a.5.5 0 1 1-.26-.966L8 17.116v-1.964l-1.302.349a.5.5 0 1 1-.26-.966L8 14.116V11a1 1 0 0 1 1-1h1.634l-.567-.982a.5.5 0 0 1 .866-.5L11.789 10h2.845l-.567-.982a.5.5 0 1 1 .866-.5L15.789 10h2.845l-.567-.982a.5.5 0 1 1 .866-.5L19.789 10H23a1 1 0 0 1 1 1v2.848l1.302-.349a.5.5 0 1 1 .26.966L24 14.884v1.964l1.302-.349a.5.5 0 1 1 .26.966L24 17.884v1.964l1.302-.349a.5.5 0 1 1 .26.966L24 20.884V25a1 1 0 0 1-1 1h-1.634l.567.982a.5.5 0 0 1-.866.5L20.211 26h-2.845l.567.982a.5.5 0 0 1-.866.5L16.211 26h-2.845l.567.982a.5.5 0 0 1-.866.5L12.211 26zm-.577-1l-.567-.982a.5.5 0 0 1 .866-.5L12.789 25h2.845l-.567-.982a.5.5 0 0 1 .866-.5L16.789 25h2.845l-.567-.982a.5.5 0 0 1 .866-.5L20.789 25H23v-3.848l-1.302.349a.5.5 0 1 1-.26-.966L23 20.116v-1.964l-1.302.349a.5.5 0 1 1-.26-.966L23 17.116v-1.964l-1.302.349a.5.5 0 1 1-.26-.966L23 14.116V11h-2.634l.567.982a.5.5 0 0 1-.866.5L19.211 11h-2.845l.567.982a.5.5 0 0 1-.866.5L15.211 11h-2.845l.567.982a.5.5 0 0 1-.866.5L11.211 11H9v2.848l1.302-.349a.5.5 0 1 1 .26.966L9 14.884v1.964l1.302-.349a.5.5 0 1 1 .26.966L9 17.884v1.964l1.302-.349a.5.5 0 1 1 .26.966L9 20.884V25h2.634z"/>
	</symbol>
	<symbol id="report-security-issues" viewBox="0 0 32 32">
		<path fill="#FCF1F0" d="M28.122 1.134L26.16 8.73l5.665 5.769-13.51 3.62 9.807-16.986z"/>
		<path fill="#FCF1F0" d="M16.828.919l2.87-.77 3.623 13.524-16.392 4.392L16.828.92z"/>
		<path fill="#C5C9D4" d="M26.796 2.389l-6.063 1.624 2.588 9.66-6.761 1.811.517 1.932 12.825-3.436-4.865-4.908 1.759-6.683zM3.365 24.196a1 1 0 0 1 .707-1.224l.966-.26L.25 4.844a1.5 1.5 0 0 1 2.897-.776l.13.483 16.42-4.4.777 2.898L28.201.977 26.15 8.774l5.676 5.726-15.455 4.141-.776-2.898-8.694 2.33 1.036 3.863 1.931-.517a2 2 0 1 1 1.036 3.863l.776 2.898a2 2 0 0 1-1.414 2.45L6.4 31.665a1 1 0 0 1-1.225-.707l-1.931.518a1 1 0 0 1-1.225-.708l-1.294-4.83a1 1 0 0 1 .707-1.224l1.932-.518zM6.142 30.7l3.864-1.035a1 1 0 0 0 .707-1.225l-1.035-3.864.966-.258a1 1 0 1 0-.518-1.932l-5.795 1.553 1.811 6.761zm.828-8.504l-1.036-3.864-.966.26 1.036 3.863.966-.259zm-2.26-4.57l17.386-4.66-3.106-11.59L1.604 6.033 4.71 17.624zM1.216 4.584l.129.482.966-.258-.13-.483a.5.5 0 1 0-.965.258zm3.702 25.407l-1.294-4.83-1.932.518 1.294 4.83 1.932-.518z"/>
		<path fill="#D33A2F" d="M11.498 8.187l.961-1.665a.961.961 0 0 1 1.665.96l-.961 1.666 1.665.96a.961.961 0 0 1-.961 1.666l-1.665-.962-.961 1.665a.961.961 0 1 1-1.665-.961l.961-1.665-1.665-.96a.961.961 0 1 1 .961-1.666l1.665.962z"/>
	</symbol>
	<symbol id="security-advisories" viewBox="0 0 32 32">
		<path fill="#E06E31" d="M24.215 7.654l3.054 1.782c-.338 6.228-1.409 10.61-3.22 13.148-1.787 2.537-4.464 4.728-8.05 6.574-2.612-.827-5.099-2.765-7.475-5.813l15.69-15.69z" opacity=".08"/>
		<path fill="#C5C9D4" fill-rule="nonzero" d="M6.802 23.402c2.936 3.936 5.972 6.428 9.114 7.518 4.128-2.133 7.211-4.636 9.276-7.509 2.051-2.814 3.327-7.77 3.773-14.85L16.496 1.434a1 1 0 0 0-.992 0L2.977 8.594c-.2 5.968 1.084 10.9 3.825 14.808zM2 8L15.008.567a2 2 0 0 1 1.984 0L30 8c-.419 7.579-1.75 12.912-4 16-2.219 3.088-5.545 5.754-10 8-3.506-1.088-6.833-3.754-10-8-2.978-4.246-4.309-9.579-4-16zm6.756 13.994c-2.167-3.155-3.193-7.142-3.049-11.971l9.788-5.71a1 1 0 0 1 1.008 0l9.731 5.677c-.363 5.734-1.38 9.745-3 12.013-1.63 2.317-4.062 4.34-7.319 6.07-2.456-.897-4.842-2.91-7.159-6.08zM4.73 9.436c-.248 5.276.823 9.659 3.22 13.148 2.55 3.489 5.227 5.68 8.05 6.574 3.586-1.846 6.263-4.037 8.05-6.574 1.811-2.538 2.882-6.92 3.22-13.148L17.007 3.449a2 2 0 0 0-2.016 0L4.73 9.436z"/>
		<path fill="#E06E31" fill-rule="nonzero" d="M16 9a2 2 0 0 1 2 2v5a2 2 0 1 1-4 0v-5a2 2 0 0 1 2-2zm0 14a2 2 0 1 1 0-4 2 2 0 0 1 0 4z"/>
	</symbol>
	<symbol id="security-overview" viewBox="0 0 32 32">
		<defs>
			<path id="a" d="M16 32c8.837 0 16-7.163 16-16S24.837 0 16 0 0 7.163 0 16s7.163 16 16 16z"/>
			<mask id="b" width="32" height="32" x="0" y="0" fill="#fff">
			<use xlink:href="#a"/>
			</mask>
		</defs>
		<g fill="none" fill-rule="nonzero">
			<use stroke="#C5C9D4" stroke-dasharray="6" stroke-linecap="round" stroke-width="2" mask="url(#b)" xlink:href="#a"/>
			<path fill="#EDF8FE" d="M9 12c0 6.737 0 9.421 7 13 7-3.579 7-6.263 7-13l-6.504-3.716a1 1 0 0 0-.992 0L9 12zm-3-1.741l8.015-4.58a4 4 0 0 1 3.97 0L26 10.259V12c0 9.096-1.25 11.895-8.634 15.671L16 28.37l-1.366-.698c-1.402-.717-2.568-1.413-3.551-2.128C6.707 22.36 6 19.8 6 12v-1.741z"/>
			<path fill="#1AA0E8" d="M9 12l6.504-3.716a1 1 0 0 1 .992 0L23 12c0 6.737 0 9.421-7 13-7-3.579-7-6.263-7-13zm7 11.873V16h5.885c.078-.975.108-2.1.114-3.42L16 9.152V16h-5.896c.25 3.386 1.04 4.641 3.332 6.308.698.508 1.542 1.024 2.564 1.565z"/>
		</g>
	</symbol>
	<symbol id="security-policy" viewBox="0 0 32 32">
		<path fill="#19AB4F" d="M10.168 32L26.817 3.163c.117.255.183.538.183.837v24c0 1.48.804 2.773 2 3.464V32H10.168z" opacity=".08"/>
		<path fill="#C5C9D4" d="M28.334 30.982A3 3 0 0 0 31 28v-3a1 1 0 0 0-1-1h-3v4a3.99 3.99 0 0 0 1.334 2.982zM6 18.74l.151.071.849.398V28a3 3 0 0 0 3 3h17a4.99 4.99 0 0 1-1-3V4a1 1 0 0 0-1-1h-9v-.16L14.531 2H25a2 2 0 0 1 2 2v19h3a2 2 0 0 1 2 2v3a4.002 4.002 0 0 1-3 3.874l-.538.126H10a4 4 0 0 1-4-4v-9.26zM15.935 7H22.5a.5.5 0 1 1 0 1h-6.63c.026-.323.047-.656.065-1zm-1.184 6H22.5a.5.5 0 1 1 0 1h-8.29c.201-.318.38-.65.54-1zm.878-3H20.5a.5.5 0 1 1 0 1h-5.074c.077-.32.144-.653.203-1zm-3.156 6H19.5a.5.5 0 1 1 0 1h-8.347c.485-.324.924-.656 1.32-1zM10.5 22h12a.5.5 0 1 1 0 1h-12a.5.5 0 1 1 0-1zm0-3h11a.5.5 0 1 1 0 1h-11a.5.5 0 1 1 0-1zm0 6h5a.5.5 0 1 1 0 1h-5a.5.5 0 1 1 0-1z"/>
		<path fill="#19AB4F" d="M0 4L6.504.284a1 1 0 0 1 .992 0L14 4c0 6.33 0 9.72-7 13-7-3.28-7-6.67-7-13zm5.868 6.08L4.241 8.34a.702.702 0 0 0-.514-.229c-.402 0-.727.348-.727.778 0 .214.082.408.214.55 1.03 1.1 1.152 1.231 2.181 2.333A.702.702 0 0 0 5.91 12c.22 0 .418-.107.552-.272.948-1.181 3.416-4.263 4.364-5.445A.803.803 0 0 0 11 5.778c0-.43-.325-.778-.727-.778a.713.713 0 0 0-.553.272L5.868 10.08z"/>
	</symbol>
	<symbol id="sever-activation" viewBox="0 0 32 32">
		<path fill="#19AB4F" d="M27.286.112A2 2 0 0 1 28.625 2v7a2 2 0 0 1-2 2H21L27.286.112z" opacity=".08"/>
		<path fill="#19AB4F" d="M28.625 15.033a3.406 3.406 0 0 0-.535.497l-.68.794A8.003 8.003 0 0 0 15.252 21H12l6.35-11h8.275a2 2 0 0 1 2 2v3.033z" opacity=".08"/>
		<path fill="#19AB4F" d="M15.582 20a8 8 0 0 0 13.043 8.689V29a2 2 0 0 1-2 2H5l6.35-11h4.232z" opacity=".08"/>
		<path fill="#C5C9D4" d="M2 1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h25a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2zm27 13.79c-.342.19-.65.44-.91.74l-.68.794A8 8 0 0 0 15 23.182c0 .11.005.22.016.327a8 8 0 1 0 15.968-1.02l.884-1.032A9 9 0 0 1 18.873 31H2a2 2 0 0 1-2-2v-7c0-.597.262-1.134.677-1.5A1.995 1.995 0 0 1 0 19v-7c0-.597.262-1.134.677-1.5A1.995 1.995 0 0 1 0 9V2a2 2 0 0 1 2-2h25a2 2 0 0 1 2 2v7c0 .597-.262 1.134-.677 1.5.415.366.677.903.677 1.5v2.79zM17.343 30A8.983 8.983 0 0 1 14 23c0-.687.077-1.357.223-2H2a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h15.343zm-2.83-10A9.004 9.004 0 0 1 28 15.516V12a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h12.512zM4.5 5a.5.5 0 0 0 0 1h7a.5.5 0 1 0 0-1h-7zm0 10h7a.5.5 0 1 1 0 1h-7a.5.5 0 1 1 0-1zm0 10h7a.5.5 0 1 1 0 1h-7a.5.5 0 1 1 0-1zm10-20a.5.5 0 1 0 0 1h1a.5.5 0 1 0 0-1h-1zm0 10h1a.5.5 0 1 1 0 1h-1a.5.5 0 1 1 0-1zm4-10a.5.5 0 1 0 0 1h2a.5.5 0 1 0 0-1h-2zm5 0a.5.5 0 1 0 0 1h1a.5.5 0 1 0 0-1h-1z"/>
		<path fill="#19AB4F" d="M22.378 25.27l-3.051-3.051a1.362 1.362 0 1 0-1.926 1.926l4.09 4.09a1.36 1.36 0 0 0 2-.076c1.776-2.07 6.404-7.474 8.18-9.545A1.362 1.362 0 0 0 29.6 16.84l-7.222 8.429z"/>
	</symbol>
	<symbol id="sever-activation" viewBox="0 0 32 32">
		<path fill="#1AA0E8" d="M1 26v-4.856L9 2.297v16.49l7-16.49V26H1zm29.034 0h-8.322l-1.316-4.587 2.496-20.322L30.034 26z" opacity=".1"/>
		<path fill="#C5C9D4" d="M21.706 26L16 6.1V26h5.706zm1.04 0h6.242L22.025 1.715a1 1 0 0 0-1.237-.685l-3.845 1.102a1 1 0 0 0-.686 1.237L22.747 26zm7.283 0H31a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1h-5.871c-.13.013-.26.012-.387 0H1a1 1 0 0 1-1-1v-4a1 1 0 0 1 1-1V2a2 2 0 0 1 2-2h4c.597 0 1.134.262 1.5.677A1.995 1.995 0 0 1 10 0h4a2 2 0 0 1 1.949 1.548c.205-.169.447-.3.718-.377L20.512.07a2 2 0 0 1 2.474 1.37L30.03 26zM2 26h6V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v24zm7 0h6V2a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v24zm5 6h-4 4zm-7 0H3h4zm-6-5v4h30v-4H1z"/>
		<path fill="#1AA0E8" d="M5 4a1 1 0 0 1 1 1v8a1 1 0 0 1-2 0V5a1 1 0 0 1 1-1zm0 20a1 1 0 1 1 0-2 1 1 0 0 1 0 2zm7-20a1 1 0 0 1 1 1v8a1 1 0 0 1-2 0V5a1 1 0 0 1 1-1zm0 20a1 1 0 1 1 0-2 1 1 0 0 1 0 2zm7.622-19.806a1 1 0 0 1 1.237.685l2.205 7.69a1 1 0 1 1-1.923.552l-2.205-7.69a1 1 0 0 1 .686-1.237zm5.654 19.767a1 1 0 1 1-.552-1.922 1 1 0 0 1 .552 1.922z"/>
	</symbol>
	<symbol id="search" viewBox="0 0 512 512">
		<path class="lexicon-icon-outline" d="M503.254 467.861l-133.645-133.645c27.671-35.13 44.344-79.327 44.344-127.415 0-113.784-92.578-206.362-206.362-206.362s-206.362 92.578-206.362 206.362 92.578 206.362 206.362 206.362c47.268 0 90.735-16.146 125.572-42.969l133.851 133.851c5.002 5.002 11.554 7.488 18.106 7.488s13.104-2.486 18.106-7.488c10.004-10.003 10.004-26.209 0.029-36.183zM52.446 206.801c0-85.558 69.616-155.173 155.173-155.173s155.174 69.616 155.174 155.173-69.616 155.173-155.173 155.173-155.173-69.616-155.173-155.173z"/>
	</symbol>
	<symbol id="social-facebook" viewBox="0 0 512 512">
		<path class="lexicon-icon-outline" d="M483.7,0H28.3C12.6,0,0,12.6,0,28.3v455.5C0,499.4,12.6,512,28.3,512h245.2V313.7h-66.7v-77.3h66.7v-57c0-66.1,40.4-102.1,99.4-102.1c28.3,0,52.5,2.1,59.6,3v69.1h-40.9c-32.1,0-38.3,15.2-38.3,37.6v49.3h76.5l-10,77.3h-66.6V512h130.5c15.6,0,28.3-12.7,28.3-28.3V28.3C512,12.6,499.3,0,483.7,0z"/>
	</symbol>
	<symbol id="social-linkedin" viewBox="0 0 512 512">
		<path class="lexicon-icon-outline" d="M474.1,0H37.8C16.9,0,0,16.5,0,36.9V475c0,20.4,16.9,37,37.8,37h436.4c20.9,0,37.9-16.6,37.9-36.9V36.9C512,16.5,495,0,474.1,0z M151.9,436.3h-76V191.9h76V436.3z M69.8,114.6c0-60.6,88.1-60.6,88.1,0C157.9,175,69.8,173,69.8,114.6z M436.3,436.3h-75.9V317.5c0-28.3-0.5-64.8-39.5-64.8c-39.5,0-45.5,30.9-45.5,62.8v120.8h-75.8V191.9h72.8v33.4h1c10.1-19.2,34.9-39.5,71.8-39.5c76.9,0,91.1,50.6,91.1,116.4L436.3,436.3L436.3,436.3z"/>
	</symbol>
	<symbol id="social-twitter" viewBox="0 0 512 512">
		<path class="lexicon-icon-outline" d="M512.015 97.213c-18.842 8.368-39.089 14.015-60.332 16.531 21.68-12.991 38.358-33.589 46.2-58.108-20.306 12.026-42.776 20.774-66.71 25.485-19.164-20.423-46.462-33.179-76.688-33.179-58.020 0-105.039 47.048-105.039 105.039 0 8.222 0.936 16.238 2.721 23.934-87.308-4.389-164.698-46.2-216.516-109.749-9.041 15.508-14.22 33.559-14.22 52.812 0 36.457 18.55 68.612 46.727 87.425-17.234-0.556-33.414-5.267-47.575-13.137 0 0.439 0 0.877 0 1.317 0 50.91 36.222 93.336 84.266 102.99-8.807 2.399-18.082 3.687-27.679 3.687-6.759 0-13.343-0.673-19.779-1.901 13.371 41.723 52.169 72.123 98.135 72.942-35.959 28.176-81.252 44.971-130.465 44.971-8.486 0-16.853-0.498-25.046-1.464 46.493 29.815 101.704 47.195 161.041 47.195 193.226 0 298.879-160.075 298.879-298.879 0-4.565-0.117-9.070-0.293-13.576 20.481-14.776 38.3-33.267 52.374-54.334v0z"/>
	</symbol>
	<symbol id="support-coverage" viewBox="0 0 32 32">
		<path d="M27.998 16c0-6.398-5.372-12-12-12-6.627 0-12 5.373-12 12s5.373 12 12 12c1.005 0 1.005 1 0 1-7.18 0-13-5.82-13-13s5.82-13 13-13 13 6.356 13 13c0 1.086-1 1.086-1 0zm-1.393 10.57c5.858-5.858 5.858-15.355 0-21.213-.648-.649.059-1.356.707-.707 6.26 6.26 6.25 16.377 0 22.627-.793.793-1.5.086-.707-.707zm-21.92.707c-6.249-6.248-6.245-16.383 0-22.627.686-.686 1.393.02.707.707-5.84 5.839-5.858 15.355 0 21.213.728.729.021 1.436-.707.707z" fill="#C5C9D4"/>
		<path d="M10.382 23.032l3.586-3.586a4.007 4.007 0 0 0 4.064 0l3.586 3.586a9.004 9.004 0 0 1-11.236 0zm-1.414-1.414a9.004 9.004 0 0 1 0-11.236l3.586 3.586a4.007 4.007 0 0 0 0 4.064l-3.586 3.586zm12.65-12.65l-3.586 3.586a4.007 4.007 0 0 0-4.064 0l-3.586-3.586a9.004 9.004 0 0 1 11.236 0zm1.414 1.414a9.004 9.004 0 0 1 0 11.236l-3.586-3.586a4.007 4.007 0 0 0 0-4.064l3.586-3.586z" fill="#D74D43"/>
		<path d="M14 7h4a7 7 0 0 1 7 7v4a7 7 0 0 1-7 7h-4a7 7 0 0 1-7-7v-4a7 7 0 0 1 7-7zm2 18a9 9 0 1 0 0-18 9 9 0 0 0 0 18z" fill="#F6D8D5"/>
	</symbol>
	<symbol id="support-faqs" viewBox="0 0 32 32">
		<path fill="#6947BF" fill-rule="nonzero" d="M6 28.872L30.733 4.139A2 2 0 0 1 32 6v24a2 2 0 0 1-2 2H6v-3.128z" opacity=".08"/>
		<path fill="#C5C9D4" fill-rule="nonzero" d="M7 31h23a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1H7v26zm-1 0V5H1v25a1 1 0 0 0 1 1h4zm0 1H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h22a2 2 0 0 1 2 2v2h4a2 2 0 0 1 2 2v24a2 2 0 0 1-2 2H6zM25 4V2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2h24z"/>
		<path fill="#6947BF" d="M17.04 20.12a2.892 2.892 0 0 1 .04-1.18c.093-.36.23-.69.41-.99.18-.3.387-.577.62-.83.233-.253.45-.493.65-.72.2-.227.37-.443.51-.65.14-.207.21-.417.21-.63 0-.36-.11-.617-.33-.77a1.347 1.347 0 0 0-.79-.23c-.347 0-.64.08-.88.24-.24.16-.493.36-.76.6l-1.88-1.72a5.923 5.923 0 0 1 1.75-1.36 4.756 4.756 0 0 1 2.21-.52c.547 0 1.06.067 1.54.2s.9.34 1.26.62c.36.28.643.643.85 1.09.207.447.31.983.31 1.61 0 .4-.073.757-.22 1.07a4.595 4.595 0 0 1-.53.87c-.207.267-.433.52-.68.76-.247.24-.47.487-.67.74a3.66 3.66 0 0 0-.49.82c-.127.293-.17.62-.13.98h-3zm1.48 5.12c-.587 0-1.067-.2-1.44-.6-.373-.4-.56-.893-.56-1.48s.187-1.08.56-1.48c.373-.4.853-.6 1.44-.6s1.067.2 1.44.6c.373.4.56.893.56 1.48s-.187 1.08-.56 1.48c-.373.4-.853.6-1.44.6z"/>
	</symbol>
	<symbol id="support-overview" viewBox="0 0 32 32">
		<defs>
			<path id="a" d="M7.982 1.017l.517.036A7 7 0 0 1 15 8.036v6.482H4a3 3 0 0 1-3-3v-4a6.518 6.518 0 0 1 6.982-6.501zM24.018 31.5l-.517-.037A7 7 0 0 1 17 24.482V18h11a3 3 0 0 1 3 3v4a6.518 6.518 0 0 1-6.982 6.501zM24 0a7 7 0 0 1 7 7v4a3 3 0 0 1-3 3H17V7a7 7 0 0 1 7-7zM7 31a7 7 0 0 1-7-7v-4a3 3 0 0 1 3-3h11v10a4 4 0 0 1-4 4H7z"/>
			<mask id="b" width="31" height="31.518" x="0" y="0" fill="#fff">
			<use xlink:href="#a"/>
			</mask>
		</defs>
		<g fill="none" fill-rule="nonzero">
			<use stroke="#C5C9D4" stroke-dasharray="1,3" stroke-linecap="round" stroke-width="2" mask="url(#b)" xlink:href="#a"/>
			<path fill="#FFF" d="M16 31C7.716 31 1 24.284 1 16 1 7.716 7.716 1 16 1c8.284 0 15 6.716 15 15 0 8.284-6.716 15-15 15z"/>
			<path fill="#FCF0EF" d="M16 27c6.075 0 11-4.925 11-11S22.075 5 16 5V2c7.732 0 14 6.268 14 14s-6.268 14-14 14v-3z"/>
			<path fill="#FCF0EF" stroke="#FFF" stroke-width="2" d="M17 22v4h-1c-5.523 0-10-4.477-10-10S10.477 6 16 6h1v4h-1a6 6 0 1 0 0 12h1z"/>
			<path fill="#C5C9D4" d="M16 30c7.732 0 14-6.268 14-14S23.732 2 16 2 2 8.268 2 16s6.268 14 14 14zm0 1C7.716 31 1 24.284 1 16 1 7.716 7.716 1 16 1c8.284 0 15 6.716 15 15 0 8.284-6.716 15-15 15zm0-9a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0 1a7 7 0 1 0 0-14 7 7 0 0 0 0 14z"/>
			<path fill="#D33A2F" d="M15.19 0h1.62a2 2 0 0 1 1.992 2.181l-.72 7.91a1 1 0 0 1-.995.909h-2.174a1 1 0 0 1-.996-.91l-.719-7.909A2 2 0 0 1 15.19 0zm0 32a2 2 0 0 1-1.992-2.181l.72-7.91a1 1 0 0 1 .995-.909h2.174a1 1 0 0 1 .996.91l.719 7.909A2 2 0 0 1 16.81 32h-1.62zM0 16.81v-1.62a2 2 0 0 1 2.181-1.992l7.91.72a1 1 0 0 1 .909.995v2.174a1 1 0 0 1-.91.996l-7.909.719A2 2 0 0 1 0 16.81zm32 0a2 2 0 0 1-2.181 1.992l-7.91-.72a1 1 0 0 1-.909-.995v-2.174a1 1 0 0 1 .91-.996l7.909-.719A2 2 0 0 1 32 15.19v1.62z"/>
		</g>
	</symbol>
	<symbol id="ticket" viewBox="0 0 32 32">
		<path class="lexicon-icon-outline" d="M22 8c1.103 0 2 .897 2 2v12c0 1.103-.897 2-2 2H10c-1.103 0-2-.897-2-2V10c0-1.103.897-2 2-2h12zm0 14V10H10v12h12zm-2-6a.999.999 0 1 1 0 2h-8a.999.999 0 1 1 0-2h8zm-3 3a.999.999 0 1 1 0 2h-5a.999.999 0 1 1 0-2h5zm-1-6a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" /><use transform="translate(-8 -8)"/>
	</symbol>
</svg>

<header class="header" id="header">
	<div class="container-fluid container-fluid-max-xl">
		<div class="header-inner row">
			<div class="col-3 header-content">
				{{#link 'help_center' class="header-link"}}
					<svg alt="{{help_center.name}}" class="header-logo">
						<use xlink:href="#liferay-waffle" />
					</svg>
				{{/link}}

				{{#link 'help_center'}}
					<h2 class="site-name">
						{{dc 'help_center'}}
					</h2>
				{{/link}}
			</div>

			<div class="col-5 header-content header-menu-list secondary-text-color">
				<div class="d-none list-item">
					<h5>
						{{dc 'products'}}
					</h5>

					<div class="header-menu" id="megaMenuProducts"></div>
				</div>

				<div class="d-none list-item">
					<h5>
						{{dc 'resources'}}
					</h5>

					<div class="header-menu" id="megaMenuResources"></div>
				</div>

				<div class="d-none list-item">
					<h5>
						{{dc 'security'}}
					</h5>

					<div class="header-menu" id="megaMenuSecurity"></div>
				</div>

				<div class="d-none list-item">
					<h5>
						{{dc 'support'}}
					</h5>

					<div class="header-menu" id="megaMenuSupport"></div>
				</div>
			</div>

			<div class="col-4 header-content user-wrapper">
				{{search class="search-nav" instant=true submit=false}}

				<div class="user">
					{{#if signed_in}}
						{{user_info}}
					{{else}}
						{{#link 'sign_in' class="btn btn-primary"}}
							Sign In
						{{/link}}
					{{/if}}
				</div>
			</div>
		</div>
	</div>
</header>

<script>
	$(function() {
		const userTags = window.HelpCenter.user.tags;

		if (Liferay.hasCreateTicketPermission(userTags)) {
			const menuItems = document.querySelectorAll('.header-menu-list .list-item');

			menuItems.forEach(
				function(item) {
					item.classList.remove('d-none');
				}
			)

			const accountLinks = {
				className: 'account-links',
				configs: [
					{
						name: '{{t 'my_requests'}}',
						url: '{{page_path 'requests'}}'
					},
					{
						name: '{{dc 'project_details'}}',
						url: 'https://customer-upgrade.liferay.com/web/customer'
					}
				]
			};

			const highlightedLinks = {
				className: 'highlighted',
				configs: [
					{
							name: '{{dc 'submit_a_ticket'}}',
							svgId: '#ticket',
							url: '{{page_path 'new_request'}}'
					},
					{
						name: '{{dc 'mega_menu-contact_us'}}',
						svgId: '#contact',
						url: '/hc/articles/360019000351'
					}
				]
			};

			const locale = {
				currentLocale: {
					name: {{json_stringify current_locale.name}},
					url: {{json_stringify current_locale.url}}
				},
				alternativeLocales: [
					{{#each alternative_locales}}
						{
							name: {{json_stringify name}},
							url: {{json_stringify url}}
						},
					{{/each}}
				]
			};

			Liferay.render(
				Liferay.MegaMenu,
				{
					accountLinks: accountLinks,
					cardMenuItems: {
						className: 'card-menu',
						configs: [
							{
								name: '{{dc 'mega_menu-dxp_7_1'}}',
								svgId: '#dxp-logo',
								url: '/hc/categories/360000874031'
							},
							{
								name: '{{dc 'mega_menu-dxp_cloud'}}',
								svgId: '#dxp-cloud-logo',
								url: '/hc/categories/360000860332'
							},
							{
								name: '{{dc 'mega_menu-dxp_7_0'}}',
								svgId: '#7-0-logo',
								url: '/hc/categories/360000874051'
							},
							{
								name: '{{dc 'mega_menu-commerce'}}',
								svgId: '#commerce-logo',
								url: '/hc/categories/360000869132'
							},
							{
								name: '{{dc 'mega_menu-analytics_cloud'}}',
								svgId: '#analytics-cloud-logo',
								url: '/hc/categories/360000869112'
							},
							{
								name: '{{dc 'mega_menu-portal_6_2'}}',
								svgId: '#6-2-logo',
								url: '/hc/categories/360000869172'
							},
							{
								name: '{{dc 'mega_menu-portal_6_1'}}',
								svgId: '#6-1-logo',
								url: '/hc/categories/360000869192'
							},
							{
								name: '{{dc 'mega_menu-portal_6_0'}}',
								svgId: '#6-0-logo',
								url: '/hc/categories/360000869212'
							}
						]
					},
					highlightedLinks: highlightedLinks,
					locale: locale,
					name: '{{dc 'products'}}'
				},
				document.getElementById('megaMenuProducts')
			);

			Liferay.render(
				Liferay.MegaMenu,
				{
					accountLinks: accountLinks,
					cardMenuItems: {
						className: 'card-menu',
						configs: [
							{
								description: '{{dc 'mega_menu-downloads_description'}}',
								name: '{{dc 'mega_menu-downloads'}}',
								svgId: '#downloads',
								url: 'https://customer.liferay.com/downloads'
							},
							{
								description: '{{dc 'mega_menu-documentation_description'}}',
								name: '{{dc 'mega_menu-documentation'}}',
								svgId: '#documentation',
								url: '/hc/categories/360000893891'
							},
							{
								description: '{{dc 'mega_menu-activation_keys_description'}}',
								name: '{{dc 'mega_menu-activation_keys'}}',
								svgId: '#server-activation',
								url: 'https://customer.liferay.com/activation-key'
							},
							{
								description: '{{dc 'mega_menu-knowledge_base_description'}}',
								name: '{{dc 'mega_menu-knowledge_base'}}',
								svgId: '#knowledge-base',
								url: '/hc/categories/360000580671'
							},
							{
								description: '{{dc 'mega_menu-announcements_description'}}',
								name: '{{dc 'mega_menu-announcements'}}',
								svgId: '#announcements',
								url: '/hc/categories/360000892252'
							}
						]
					},
					highlightedLinks: highlightedLinks,
					locale: locale,
					name: '{{dc 'resources'}}'
				},
				document.getElementById('megaMenuResources')
			);

			Liferay.render(
				Liferay.MegaMenu,
				{
					accountLinks: accountLinks,
					cardMenuItems: {
						className: 'card-menu',
						configs: [
							{
								description: '{{dc 'mega_menu-overview_description'}}',
								name: '{{dc 'mega_menu-overview'}}',
								svgId: '#security-overview',
								url: '/hc/articles/360018999331'
							},
							{
								description: '{{dc 'mega_menu-reporting_security_issues_description'}}',
								name: '{{dc 'mega_menu-reporting_security_issues'}}',
								svgId: '#report-security-issues',
								url: '/hc/articles/360018999331#Reporting-Security-Issues'
							},
							{
								description: '{{dc 'mega_menu-security_advisories_description'}}',
								name: '{{dc 'mega_menu-security_advisories'}}',
								svgId: '#security-advisories',
								url: '/hc/articles/360018999691'
							},
							{
								description: '{{dc 'mega_menu-security_and_disclosure_policy_description'}}',
								name: '{{dc 'mega_menu-security_and_disclosure_policy'}}',
								svgId: '#security-policy',
								url: '/hc/articles/360018999331#Liferay-Security-Policy'
							}
						]
					},
					highlightedLinks: highlightedLinks,
					locale: locale,
					name: '{{dc 'security'}}'
				},
				document.getElementById('megaMenuSecurity')
			);

			Liferay.render(
				Liferay.MegaMenu,
				{
					accountLinks: accountLinks,
					cardMenuItems: {
						className: 'card-menu',
						configs: [
							{
								description: '{{dc 'mega_menu-compatibility_matrix_description'}}',
								name: '{{dc 'mega_menu-compatibility_matrix'}}',
								svgId: '#compatibility-matrix',
								url: '/hc/sections/360002100591'
							},
							{
								description: '{{dc 'mega_menu-service_life_description'}}',
								name: '{{dc 'mega_menu-service_life'}}',
								svgId: '#end-of-life',
								url: '/hc/sections/360002103332'
							},
							{
								description: '{{dc 'mega_menu-fix_delivery_method_description'}}',
								name: '{{dc 'mega_menu-fix_delivery_method'}}',
								svgId: '#fix-delivery-method',
								url: '/hc/articles/360018693032'
							},
							{
								description: "{{dc 'mega_menu-support_coverage_description'}}",
								name: '{{dc 'mega_menu-support_coverage'}}',
								svgId: '#support-coverage',
								url: '/hc/articles/360018692772'
							},
							{
								description: '{{dc 'mega_menu-support_faqs_description'}}',
								name: '{{dc 'mega_menu-support_faqs'}}',
								svgId: '#support-faqs',
								url: '/hc/articles/360018999191'
							},
							{
								description: '{{dc 'mega_menu-service_levels_description'}}',
								name: '{{dc 'mega_menu-service_levels'}}',
								svgId: '#support-overview',
								url: '/hc/articles/360018999271'
							}
						]
					},
					highlightedLinks: highlightedLinks,
					locale: locale,
					name: '{{dc 'support'}}'
				},
				document.getElementById('megaMenuSupport')
			);
		}

		const onNavScroll = function() {
			const header = document.getElementById('header');

			if (window.scrollY >= 64) {
				header.classList.add('scroll-shadow');
			}
			else {
				header.classList.remove('scroll-shadow');
			}
		};

		window.addEventListener(
			'scroll',
			Liferay.throttle(onNavScroll, 100)
		);
	});
</script>