<style>
	.search-nav {
		display: none;
	}
</style>

<div class="container-fluid container-fluid-max-xl homepage main-content">
	<section class="banner row">
		<div class="col-12 col-md-6">
			<div class="getting-started secondary-text-color">
				<svg class="lexicon-icon lexicon-icon-info">
					<use xlink:href="#info" />
				</svg>

				<a href="/hc/articles/360019958971">
					{{dc 'homepage-get_started'}}

					<svg class="lexicon-icon lexicon-icon-arrow-right">
						<use xlink:href="#arrow-right" />
					</svg>
				</a>
			</div>

			<h1 class="display">
				{{dc 'how_can_we_help'}}
			</h1>

			{{search class="search-lg" instant=true submit=false}}
		</div>

		<div class="banner-img-container col-md-5 offset-md-1">
			<img alt="{{dc 'how_can_we_help'}}" class="img" src="{{asset 'homepage.svg'}}" />
		</div>
	</section>

	<section class="row suggested-topics">
		<h2 class="col-md-12">
			{{dc 'browse_by_product'}}
		</h2>

		<div class="col-md-3">
			<a class="autofit-row autofit-row-center product-card" href="/hc/categories/360001749972">
				<div class="autofit-col">
					<svg class="icon">
						<use xlink:href="#dxp-logo" />
					</svg>
				</div>

				<div class="autofit-col autofit-col-expand">
					<h4 class="title">
						{{dc 'mega_menu-dxp_7_2'}}
					</h4>
				</div>

				<div class="autofit-col">
					<svg class="lexicon-icon lexicon-icon-arrow-right">
						<use xlink:href="#arrow-right" />
					</svg>
				</div>
			</a>
		</div>

		<div class="col-md-3">
			<a class="autofit-row autofit-row-center product-card" href="/hc/categories/360000874031">
				<div class="autofit-col">
					<svg class="icon">
						<use xlink:href="#dxp-logo" />
					</svg>
				</div>

				<div class="autofit-col autofit-col-expand">
					<h4 class="title">
						{{dc 'mega_menu-dxp_7_1'}}
					</h4>
				</div>

				<div class="autofit-col">
					<svg class="lexicon-icon lexicon-icon-arrow-right">
						<use xlink:href="#arrow-right" />
					</svg>
				</div>
			</a>
		</div>

		<div class="col-md-3">
			<a class="autofit-row autofit-row-center product-card" href="/hc/categories/360000869112">
				<div class="autofit-col">
					<svg class="icon">
						<use xlink:href="#analytics-cloud-logo" />
					</svg>
				</div>

				<div class="autofit-col autofit-col-expand">
					<h4 class="title">
						{{dc 'mega_menu-analytics_cloud'}}
					</h4>
				</div>

				<div class="autofit-col">
					<svg class="lexicon-icon lexicon-icon-arrow-right">
						<use xlink:href="#arrow-right" />
					</svg>
				</div>
			</a>
		</div>

		<div class="col-md-3">
			<a class="autofit-row autofit-row-center product-card" href="/hc/categories/360000869132">
				<div class="autofit-col">
					<svg class="icon">
						<use xlink:href="#commerce-logo" />
					</svg>
				</div>

				<div class="autofit-col autofit-col-expand">
					<h4 class="title">
						{{dc 'mega_menu-commerce'}}
					</h4>
				</div>

				<div class="autofit-col">
					<svg class="lexicon-icon lexicon-icon-arrow-right">
						<use xlink:href="#arrow-right" />
					</svg>
				</div>
			</a>
		</div>

		<div class="col-md-3">
			<a class="autofit-row autofit-row-center product-card" href="/hc/categories/360000869252">
				<div class="autofit-col">
					<svg class="icon">
						<use xlink:href="#dxp-cloud-logo" />
					</svg>
				</div>

				<div class="autofit-col autofit-col-expand">
					<h4 class="title">
						{{dc 'mega_menu-dxp_cloud'}}
					</h4>
				</div>

				<div class="autofit-col">
					<svg class="lexicon-icon lexicon-icon-arrow-right">
						<use xlink:href="#arrow-right" />
					</svg>
				</div>
			</a>
		</div>

		<div class="col-md-3">
			<a class="autofit-row autofit-row-center product-card" href="/hc/categories/360000874051">
				<div class="autofit-col">
					<svg class="icon">
						<use xlink:href="#7-0-logo" />
					</svg>
				</div>

				<div class="autofit-col autofit-col-expand">
					<h4 class="title">
						{{dc 'mega_menu-dxp_7_0'}}
					</h4>
				</div>

				<div class="autofit-col">
					<svg class="lexicon-icon lexicon-icon-arrow-right">
						<use xlink:href="#arrow-right" />
					</svg>
				</div>
			</a>
		</div>

		<div class="col-md-3">
			<a class="autofit-row autofit-row-center product-card" href="/hc/categories/360000869172">
				<div class="autofit-col">
					<svg class="icon">
						<use xlink:href="#6-2-logo" />
					</svg>
				</div>

				<div class="autofit-col autofit-col-expand">
					<h4 class="title">
						{{dc 'mega_menu-portal_6_2'}}
					</h4>
				</div>

				<div class="autofit-col">
					<svg class="lexicon-icon lexicon-icon-arrow-right">
						<use xlink:href="#arrow-right" />
					</svg>
				</div>
			</a>
		</div>

		<div class="col-md-3">
			<a class="autofit-row autofit-row-center product-card" href="/hc/categories/360000869192">
				<div class="autofit-col">
					<svg class="icon">
						<use xlink:href="#6-1-logo" />
					</svg>
				</div>

				<div class="autofit-col autofit-col-expand">
					<h4 class="title">
						{{dc 'mega_menu-portal_6_1'}}
					</h4>
				</div>

				<div class="autofit-col">
					<svg class="lexicon-icon lexicon-icon-arrow-right">
						<use xlink:href="#arrow-right" />
					</svg>
				</div>
			</a>
		</div>

		<div class="col-md-3">
			<a class="autofit-row autofit-row-center product-card" href="/hc/articles/360028716251">
				<div class="autofit-col">
					<svg class="icon">
						<use xlink:href="#6-0-logo" />
					</svg>
				</div>

				<div class="autofit-col autofit-col-expand">
					<h4 class="title">
						{{dc 'mega_menu-portal_6_0'}}
					</h4>
				</div>

				<div class="autofit-col">
					<svg class="lexicon-icon lexicon-icon-arrow-right">
						<use xlink:href="#arrow-right" />
					</svg>
				</div>
			</a>
		</div>

		<div class="col-md-3">
			<a class="autofit-row autofit-row-center product-card" href="/hc/articles/360028715551">
				<div class="autofit-col">
					<svg class="icon">
						<use xlink:href="#5-2-logo" />
					</svg>
				</div>

				<div class="autofit-col autofit-col-expand">
					<h4 class="title">
						{{dc 'mega_menu-portal_5_2'}}
					</h4>
				</div>

				<div class="autofit-col">
					<svg class="lexicon-icon lexicon-icon-arrow-right">
						<use xlink:href="#arrow-right" />
					</svg>
				</div>
			</a>
		</div>
	</section>

	{{#each categories}}
		{{#is id 360000892252}}
			<section class="announcements d-none row">
				<h2 class="col-md-12">
					{{dc 'mega_menu-announcements'}}
				</h2>

				<div class="col-md-10 row">
					{{#each sections}}
						<div class="announcement col-md-6">
							<h3 class="announcement-heading">
								<svg class="announcement-icon">
									{{#is id 360002102352}}
										<use xlink:href="#fixpack-updates" />
									{{/is}}

									{{#is id 360002099871}}
										<use xlink:href="#product-release" />
									{{/is}}

									{{#is id 360002099951}}
										<use xlink:href="#security-alert" />
									{{/is}}

									{{#is id 360002102472}}
										<use xlink:href="#announcement" />
									{{/is}}
								</svg>
								{{name}}
							</h3>

							<div class="announcement-body secondary-font">
								<ul class="article-list">
									{{#each articles}}
										<li class="article-list-item">
											<a class="secondary-text-color" href={{url}}>{{title}}</a>
										</li>
									{{/each}}
								</ul>

								<a class="secondary-font semi-bold view-all" href="{{url}}">
									{{dc 'view_all'}}

									<svg class="lexicon-icon lexicon-icon-arrow-right" >
										<use xlink:href="#arrow-right" />
									</svg>
								</a>
							</div>
						</div>
					{{/each}}
				</div>

				<div class="col-md-2">
					<div class="cta">
						<h5>{{dc 'homepage-announcement_subscribe_heading'}}</h5>

						<p class="secondary-font secondary-text-color">
							{{dc 'homepage-announcement_subscribe_description'}}
						</p>

						<a class="btn btn-outline-primary btn-sm" href="https://discover.liferay.com/subscribe-to-liferay-notifications">
							{{dc 'homepage-announcement_subscribe_button'}}
						</a>
					</div>
				</div>
			</section>
		{{/is}}
	{{/each}}

	<section id="stillNeedHelp"></section>
</div>

<script>
	window.zESettings = {
		webWidget: {
			contactOptions: {
				contactFormLabel: {
					'*': 'Submit a Ticket'
				},
				enabled: true
			}
		}
	};

	$(function() {
		const userTags = window.HelpCenter.user.tags;

		if (Liferay.hasKBPermission(userTags)) {
			const announcementsSection = document.querySelector('.announcements');

			if (announcementsSection) {
				announcementsSection.classList.remove('d-none');
			}

			Liferay.render(
				Liferay.CallToAction,
				{
					actionItems: [
						{
							iconId: '#ticket',
							link: '{{page_path 'new_request'}}',
							message: "{{dc 'let_us_know_if_you_cant_find_a_solution_to_your_issue'}}",
							name: '{{dc 'submit_a_ticket'}}'
						},
						{
							disclaimer: '{{dc 'homepage-contact_us_asterisk_description'}}',
							iconId: '#contact',
							link: '/hc/articles/360017784212',
							message: '{{dc 'homepage-contact_us_description'}}',
							name: '{{dc 'mega_menu-contact_us'}}'
						},
						{
							disclaimer: '{{dc 'homepage-ask_the_community_asterisk_description'}}',
							iconId: '#community',
							link: 'https://community.liferay.com/ ',
							message: "{{dc 'homepage-ask_the_community_description'}}",
							name: '{{dc 'homepage-ask_the_community'}}'
						}
					],
					className: 'need-help row',
					promotions: [
						{
							description: '{{dc 'homepage-liferay_university_description'}}',
							name: '{{dc 'homepage-liferay_university'}}',
							url: 'https://university.liferay.com/'
						},
						{
							description: '{{dc 'homepage-liferay_global_services_description'}}',
							name: '{{dc 'homepage-liferay_global_services'}}',
							url: 'https://www.liferay.com/consulting'
						}
					],
					sectionHeading: '{{dc 'still_need_help'}}'
				},
				document.getElementById('stillNeedHelp')
			);
		}
	});
</script>