<style>
	.search-nav {
		display: none;
	}
</style>

<div class="container-fluid container-fluid-max-xl main-content">
	<div class="row">
		<div class="col-sm-12">
			{{breadcrumbs}}
		</div>
	</div>

	<div class="col-md-8 offset-md-2 search">
		<header>
			<h2 class="display">
				<span id="searchResultsCount"></span> {{t 'results' query=query}}
			</h2>

			{{search class="search-lg" instant=true submit=false}}
		</header>

		<section class="search-results">
			<div id="searchResults"></div>

			<div class="no-results" id="noResults">
				<img alt="{{t 'oops'}}" class="img" src="{{asset 'telescope_scene.svg'}}" />

				<div class="no-results-msg">
					<h4>
						{{dc 'sorry_we_searched_far_into_outer_space_but_couldnt_find'}} "{{query}}"
					</h4>

					{{#link 'help_center' class="secondary-font"}}
						{{t 'browse_knowledge_base'}}
					{{/link}}
				</div>
			</div>
		</section>
	</div>
</div>

<script>
	const filterOptions = [
		{
			displayName: '{{dc 'search_results-all_products'}}',
			value: ''
		},
		{
			displayName: '{{dc 'mega_menu-dxp_7_2'}}',
			value: 'DXP 7.2'
		},
		{
			displayName: '{{dc 'mega_menu-dxp_7_1'}}',
			value: 'DXP 7.1'
		},
		{
			displayName: '{{dc 'mega_menu-dxp_7_0'}}',
			value: 'DXP 7.0'
		},
		{
			displayName: '{{dc 'mega_menu-portal_6_2'}}',
			value: 'Portal 6.2'
		},
		{
			displayName: '{{dc 'mega_menu-portal_6_1'}}',
			value: 'Portal 6.1'
		},
		{
			displayName: '{{dc 'mega_menu-commerce'}}',
			value: 'Commerce'
		},
		{
			displayName: '{{dc 'mega_menu-analytics_cloud'}}',
			value: 'Analytics Cloud'
		},
		{
			displayName: '{{dc 'mega_menu-dxp_cloud'}}',
			value: 'DXP Cloud'
		}
	];

	Liferay.render(
		Liferay.SearchResults,
		{
			fastTrackLabel: '{{dc 'article-fast_track'}}',
			filterLabel: '{{dc 'search_results-filter_by'}}',
			filterOptions: filterOptions,
			locale: '{{help_center.locale}}',
			queryString: encodeURIComponent('{{query}}')
		},
		document.getElementById('searchResults')
	);
</script>